@charset 'UTF-8';

/* HTML */

html, body { height: 100%; width:100%; }

body {
    font-family: Verdana,Arial;
    font-size: 11px; color: #bcbcc0;
    background: url('/static/background.jpg') #4d4d57;
}

p { margin-bottom: .5rem; }

a { color: #ffa500; }
a:hover { color: #ffa500; }

/* LAYOUT */

#wrapper { width: 100%; }

#overlay {
    display: block; opacity: 0;
    z-index: -1;
    position: absolute; left: 0; top: 0;
    height: 100%; width: 100%;
    background: rgba(0, 0, 0, .75);
    transition: all .3s ease-in-out;
}
#overlay.open { opacity: 1; z-index: 10; }

/* MENU */

#menu {
    position: fixed; top: 0; bottom: 0; left: -240px; z-index: 20; overflow-y: auto;
    width: 240px;
    transition: all .3s ease-in-out;
    background-color: #000000;
}
#menu.open { left: 0; }
@media (min-width: 576px) {
    #menu { left: 0; z-index: 0; background-color: transparent; }
}

#menu-header { height: 55px; }

.menu-lvl-1 {
    display: flex; align-items: center; justify-content: space-between;
    padding: 5px 5px;
    color: #b5b5b9;
    background-color: #2c2c38;
    border-top: 1px solid #444444;
}
a.menu-lvl-1:hover { text-decoration: none; }

.menu-lvl-2 {
    display: block;
    padding: 5px 5px 5px 10px;
    color: #b5b5b9;
    background-color: #4d4d57;
    border-top: 1px solid #6a6a72; border-bottom: 1px solid #333238;
}
a.menu-lvl-2:hover { text-decoration: none; }
.menu-lvl-2.selected { color: #ffa500; }

.menu-lvl-3 {
    display: block;
    padding: 5px 5px 5px 20px;
    color: #b5b5b9;
    background-color: #39393f;
}
a.menu-lvl-3:hover { text-decoration: none; }
.menu-lvl-3.selected { color: #ffa500; }

#menu-toggler {
    padding: 5px 10px; margin-right: .5rem;
    color: #b5b5b9; font-size: 150%;
    background-color: #4d4d57;
    border: 1px solid #6a6a72; border-radius: .125rem;
}
@media (min-width: 576px) {
    #menu-toggler { display: none; }
}

/* PAGE */

#page { position: relative; }
@media (min-width: 576px) {
    #page { margin-left: 240px; }
}

#page-header {
    height: 55px;
    padding: 0 .5rem;
    display: flex; align-items: center;
}

#page-context {
    width: 100%; max-width: 768px; overflow-x: auto;
    margin: 0 auto .5rem auto; padding: 0 .5rem;
}
@media (min-width: 576px) {
    #page-context { padding: 0; }
}

#page-context-inner {
    background: #151515;
    border-radius: .125rem;
    display: flex; align-items: center; justify-content: space-between;
}

#page-tabs {
    width: 100%; max-width: 768px; overflow-x: auto;
    margin: 0 auto .5rem auto; padding: 0 .5rem;
    border-bottom: 1px solid #444444;
    display: flex;
}
@media (min-width: 576px) {
    #page-tabs { padding: 0; }
}

#page-tabs > a {
    background: #222222;
    margin-right: 5px; padding: 5px 10px;
    border: 1px solid #444444; border-bottom: 0; border-radius: .125rem .125rem 0 0;
}
#page-tabs > a.selected {
    background: #393939;
    border-color: #555555;
}

#page-content {
    width: 100%; max-width: 768px;
    margin: 0 auto; padding: 0 .5rem;
}
@media (min-width: 576px) {
    #page-content { padding: 0; }
}

/* BOX */

.box {
    position: relative;
    margin-bottom: .5rem;
    background-color: #3c3c3c; background-clip: border-box;
    border: 1px solid #555555; border-radius: .125rem;
}

.box-header {
    background-color: #333333;
    border-bottom: 1px solid #555555;
}

.box-line { border-bottom: 1px solid #555555; }
.box-line:last-child { border-bottom: 0; }

.box-item { padding: 5px 5px; }

.box-error {
    background-color: #3c0000;
    border-color: #ff4444;
}

/* FORM */

.control {
    padding: 2px 10px;
    color: #ffffff;
    background-color: #555555;
    border: 1px solid #888888; border-radius: .125rem;
}
select.control { padding: 2px 5px; }

/* BUTTON */

.button {
    padding: 2px 10px;
    color: #ffffff;
    background-color: #555555;
    border: 1px solid #888888; border-radius: .125rem;
}

/* TOOLTIP */

.tooltip { font-family: inherit; font-size: inherit; pointer-events: none; }
.tooltip.show { opacity: 1.0; }

.tooltip-inner { color: inherit; }

/* TYPOGRAPHY */

.bold { font-weight: 700!important; }

.c-normal { color: #bcbcc0!important; }
.c-highlight { color: #ffffff!important; }

.c-error { color: #ff4444!important; }
.c-danger { color: #ff4444!important; }
.c-success { color: #00ff00!important; }

.c-self { color: #7777ff!important; }
