
/* typography */

a, a:not([href]):not([tabindex]) { color:#ffa500; }
a:link { color:#ffa500; text-decoration:none; }
a:visited { color:#ffa500; text-decoration:none; }
a:active { color:#ffa500; text-decoration:none; }
a:hover, a:not([href]):not([tabindex]):hover { color:#fff; text-decoration:underline; cursor:pointer; }

a.badge {
    padding:.35em .5em;
    font-size:90%; font-weight:normal;
    background-color:rgba(0, 0, 0, .25);
}
a.badge:hover, a.badge:focus, a.badge:active { box-shadow:none; background-color:rgba(0, 0, 0, .25); }

a.badge i {
    margin-right:.25rem;
    text-align:center; width:1.25em;
}
    
.c-danger { color:#f11; }
.c-success { color:#1f1; }
.c-normal { color:rgba(255,255,255,.6)!important; }
.c-highlight { color:#fff!important; }

ul { margin-bottom:0; padding-left:2rem; }

hr {
    margin-top:.25rem; margin-bottom:.25rem;
    border:0; border-top:1px solid #555;
}

h1 {
    font-size:12px; font-weight:600; color:rgba(255,255,255,.6)!important;
    margin:1.5rem 0 .5rem 0;
    text-transform:uppercase;
}
h6 {
    font-size:10px;
    border-bottom:1px solid #555;
    padding-bottom:.25rem; margin-bottom:.25rem;
    text-transform:uppercase;
}
.h6 {
    font-size:inherit;
    border-bottom:1px solid #555;
    padding-bottom:.25rem; margin-bottom:.25rem;
}



/* grid */

.row {
    margin-right:-.25rem;
    margin-left:-.25rem;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding:0 .25rem;
}

.box {
    margin:0 0 .5rem 0; padding:0; width:100%;
    background:#3c3c3c;
    border-radius:.25rem; border:#555 1px solid;
}
.box.selected { background:#005a00; }

.box-item { padding:.25rem .5rem; }

.box-title {
    margin-bottom:.25rem;
    color: rgba(255,255,255,.6); font-size:80%; font-weight:400;
}

.sorting {
    padding:.25rem;
    background:rgba(255,255,255,.15);
    border-radius:.25rem;
}


/* tooltip */

.tooltip { font-family:inherit; font-size:inherit; pointer-events:none; }
.tooltip-inner { color:inherit; text-align:left; }



/* popover */

.popover { font-family:inherit; font-size:inherit; background-color:#000; opacity:.9; }
.popover-body { color:inherit; padding:.25rem .5rem; background-color:transparent; border-radius:.25rem; }

.bs-popover-auto[x-placement^=top]>.arrow::after,.bs-popover-top>.arrow::after { border-top-color:rgba(0,0,0,.9); }
.bs-popover-auto[x-placement^=left]>.arrow::after,.bs-popover-left>.arrow::after { border-left-color:rgba(0,0,0,.9); }
.bs-popover-auto[x-placement^=right]>.arrow::after,.bs-popover-right>.arrow::after { border-right-color:rgba(0,0,0,.9); }
.bs-popover-auto[x-placement^=bottom]>.arrow::after,.bs-popover-bottom>.arrow::after { border-bottom-color:rgba(0,0,0,.9); }



/* layout */

html, body { height:100%; width:100%; }

body {
	background:url('space_bk.jpg'); background-color:#000;
	font-family:"Open Sans",Arial; font-size:12px; color:rgba(255,255,255,.6);
}



/* left bar */

#leftnav {
	position:fixed; top:0; bottom:0; overflow:auto;
	left:-220px; width:220px; z-index:15;
	background:#4d4d57; border-right:1px solid #555; 
	line-height:20px;
    transition:all .2s ease-in-out;
}
#leftnav.open { left:0; }
@media (min-width: 768px) { #leftnav { left:0; } }

#leftnav a { position:relative; color:rgba(255,255,255,.6); }
#leftnav a:hover { color:#ffa500; text-decoration:none; }
#leftnav a.selected { color:#ffa500; }

#leftnav .caret {
    display:none; float:right;
    line-height:20px; width:20px; height:20px;
    text-align:right;
}
#leftnav a:hover .caret, #leftnav a.selected .caret { display:block; }

#leftnav .icon {
    width:1.25em; text-align:center;
    font-size:115%;
}

#leftnav .badge {
    position:absolute; top:-5px; right:-5px;
    background:#ffa500; border-radius:50%;
    color:rgb(32,35,42,.9); font-weight:600;
}

#leftnav .menu-item {
	display:block; padding:.5rem 1rem;
	border-bottom:1px solid #666; 
}
#leftnav .menu-item > .icon { margin-right:.5rem; }
#leftnav .menu-item.active { background:rgba(0,128,0,.5); }

#leftnav .menu-bar {
	display:block; padding:.5rem 1rem;
	border-bottom:1px solid #666; 
}

#leftnav .menu-header {
    display:block; padding:.25rem 1rem;
    background:rgb(32,35,42,.9);
    border-bottom:1px solid #666;
    font-size:80%; font-weight:600; text-transform:uppercase;
}

#leftnav-header {
    height:50px; padding:0 1rem;
	background:rgb(32,35,42,.9); border-bottom:1px solid #555;
	display:flex; align-items:center; justify-content:space-between;
	color:rgba(255,255,255,.6)!important;
}

#leftnav-profile {
    display:block; padding:1rem 1rem!important;
    background:url('/assets/background.jpg'); background-size:cover;
    border-bottom:1px solid #666;
}
#leftnav-profile .avatar {
    width:42px; height:42px; border-radius:50%;
    margin:0 .5rem 0 0; border:0;
}
#leftnav-profile .username {
    color:#fff; font-size:115%; font-weight:600;
}
#leftnav-profile .orientation {
    color:rgba(255,255,255,.6)!important; font-size:80%; font-weight:600;
}



/* content */

#content {
    padding-top:50px;
	overflow:auto;
}
@media (min-width: 768px) { #content { margin-left:220px; } }
@media (min-width: 1200px) { #content { margin-right:260px; } }

#top {
    position:fixed; top:0; left:0; right:0; z-index:5;
	height:50px; padding:0 .5rem;
	background:rgb(32,35,42,.9); border-bottom:1px solid #555;
	display:flex; align-items:center;
}
@media (min-width: 768px) { #top { left:220px; } }
@media (min-width: 1200px) { #top { padding-right:260px; } }

#top-toggler {
    padding:10px;
    font-size:16px; color:#fff;
}
@media (min-width: 768px) { #top-toggler { display:none; } }

#top-logo {
    display:block;
    padding:0 10px;
}
@media (min-width: 768px) { #top-logo { display:none; } }
#top-logo img { width:32px; height:32px; }

#status {
	position: relative; 
	padding:.5rem; margin:0 auto;
	max-width:720px;
}
@media (min-width: 768px) { #status { padding:1rem 1rem 0 1rem; } }

#page {
	padding:0 .5rem; margin:1rem auto;
	width:100%; max-width:720px;
}
@media (min-width: 768px) { #page { padding:0 1rem; } }



/* right bar */

#rightnav {
	position:fixed; top:70px; height:100%; max-height:calc(100% - 70px - 1.5rem);
	right:-260px; width:260px; z-index:10;
	line-height:20px;
    transition:all .2s ease-in-out;
}
#rightnav.open { right:0; }
@media (min-width: 1200px) { #rightnav { right:0; border-radius:.25rem 0 0 .25rem; } }

#rightnav a { position:relative; color:rgba(255,255,255,.6); }
#rightnav a:hover { color:#ffa500; text-decoration:none; }

#rightnav-toggler {
    position:absolute; top:-1px; left:-30px;
    width:30px; height:30px;
    background:rgb(32,35,42,.9); border:1px solid #555; border-radius:.25rem 0 0 .25rem;
    display:flex; align-items:center; justify-content:center;
    font-size:115%;
}
@media (min-width: 1200px) { #rightnav-toggler { display:none; } }

.rightnav-header {
    display:block; padding:.25rem 1rem;
    background:rgb(32,35,42,.9);
    border-bottom:1px solid #666; border-top:1px solid #555; border-left:1px solid #555;
    font-size:80%; font-weight:600; text-transform:uppercase;
}
@media (min-width: 1200px) { .rightnav-header { border-radius:.25rem 0 0 0; } }

#rightnav .menu-item {
	display:block; padding:.5rem 1rem;
	background:#4d4d57;
	border-bottom:1px solid #666; border-left:1px solid #555;
}
#rightnav .menu-item:last-child { border-bottom:1px solid #555; border-radius:0 0 0 .25rem; }
#rightnav .menu-item.active { color:#ffa500; background:#005a00; }



/* overlay */

#overlay {
    opacity:0; z-index:-1;
    position:fixed; left:0; top:0; height:100%; width:100%;
    background:rgba(0, 0, 0, .75);    
    transition:all .2s ease-in-out;
}
#overlay.open {
    opacity:1; z-index:10;
}



/* tabs */

ul.htabs { list-style:none; padding:0; margin:0 0 1rem 0; border-bottom:1px solid #555; display:flex; flex-wrap:nowrap; overflow:auto; }
@media (min-width: 768px) { ul.htabs { flex-wrap:wrap; } }

ul.htabs li { border:1px solid transparent; border-bottom:0; border-radius:.25rem .25rem 0 0; }
ul.htabs li.selected { background:#3c3c3c; border-color:#555; }

ul.htabs a { display:block; text-decoration:none; padding:.25rem 1rem; white-space:nowrap; }
ul.htabs li.selected a { color:#fff; }



/* chat page specifics */

#chatform {
    position:fixed; top:108px; bottom:1rem; right:0; left:0;
    display:flex; flex-direction:column;
}
@media (min-width: 768px) { #chatform { margin-left:220px; } }
@media (min-width: 1200px) { #chatform { margin-right:260px; } }

#chatbox {
    padding:0 .5rem; margin:0 auto;
	width:100%; max-width:720px; height:100%;
	flex-grow:1; display:flex; flex-direction:column;
}
@media (min-width: 768px) { #chatbox { padding:0 1rem; } }

#chat { flex-basis:0; flex-grow:1; max-width:100%; overflow:auto; }
#chat .highlight { color:#1dd1d3; }
#chat .player { color:#fff!important; }
#chat .newday { text-align:center; font-weight:bold; color:#fff; margin-top:5px; }
#chat .smiley { vertical-align:-3px; }

#joinchatform { display:none; visibility:hidden; }

#chatline { width:100%; }














/* reliquat */

p {	margin: 0.5em 10px; }
p.shiprequirement { margin:0; margin-left:20px; color:#ddd; }

table { font-family:"Open Sans",Arial; font-size:12px; border-collapse:collapse; border-spacing:2px; text-align:left; width:100%; }

div#container { margin:6px; padding:6px; text-align:left; width:800px; background: url('/assets/interface/grad100.gif') repeat-x #3c3c3c; border: #222 1px solid; }

#gameover { font-size:36px; padding:10px; color:#f44; font-weight: bold; text-align: center; }
#start { font-size:36px; padding:10px; color:#4f4; font-weight: bold; text-align: center; }
#holidays { font-size:36px; padding:10px; color:#44f; font-weight: bold; text-align: center; }
#playername { font-size:20px; padding:10px; color:#fff; font-weight: bold; text-align: center; }











.warning, .error {
	color:#f00;
	font-weight: bold;
	text-align: center;
}

.warning2, .error2 {
	color:#f61;
	font-weight: bold;
	text-align: center;
}

.message {
	text-align: center;
}


/* general */

select { background:#555; color:#ddd; border-radius:.25rem; height:22px; }

input, textarea {
	background-color:#555;
	border:#888 1px solid;
	color:#fff;
	border-radius:.25rem;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

input.button {		
	background-color:#444;
	border:#999 1px solid;
	color:#eee;
	padding:2px 5px 2px 5px;
}

.checkbox, .radio { 
	margin:0px 4px 0px 0px; padding:0;
	border:0;
	background-color: transparent;	
}

input.button100 {
	background-color:#444;
	border:#999 1px solid;
	color:#eee;
	padding:2px 5px 2px 5px;
	width:100px;
}

/* img related */

img.icon {
	margin:-4px 2px;
}

img.smallicon {
	margin:-1px 4px 0px 0px;
}

img.avatar {
	margin: 2px;
	border: #777 1px solid;
}

img.building {
	margin: 2px;
	border: #777 1px solid;
}

img.report {
	margin: 2px;
	border: #777 1px solid;
}

img.res {
	margin-right:4px;
	vertical-align: -4px;
}

img.planet {
	clear:both;
	border: #000 1px solid;
}

img.wallet {
	margin: 2px;
	border: #777 1px solid;
}

img.smallplanet {
	vertical-align: middle;
	border: #777 1px solid;
}

img.stance {
	margin-right:2px;
	vertical-align: -1px;
}

img.idleworkers {
	clear:both;
	margin-bottom:-2px;
	margin-right:2px;
	text-align: right;
}

/* main table*/


table.default {  margin-bottom:.5rem; width: 100%; }
.default tr { background-color: #3c3c3c; }
.default td { padding:5px 8px; border: #555 1px solid; flex-basis: 0; flex-grow: 1;  max-width: 100%; }
.default tr.title { background: url('/assets/interface/grad50.gif') repeat-x #3c3c3c; font-weight: bold; text-align: center; }
.default tr.bigtitle td { background: url('/assets/interface/grad50.gif') repeat-x #3c3c3c; font-weight: bold; text-align: center; font-size: 12px; }
.default tr.header { background: url('/assets/interface/grad50.gif') repeat-x #3c3c3c; font-weight: bold; text-align: center; }
.default tr.category { background: url('/assets/interface/grad50.gif') repeat-x #3c3c3c; font-weight: bold; text-align: left; }

.default tr.item { background: url('/assets/interface/grad100.gif') repeat-x #3c3c3c; }
.default tr.itemdel { background: url('/assets/interface/grad100_destroy.gif') repeat-x #780000; }
.default tr.itemhighlight { background: url('/assets/interface/grad100_highlight.gif') repeat-x #005A00; }
.default tr.itemally { background: url('/assets/interface/grad100_ally.gif') repeat-x #2C4E2A; }

.default tr.odd { background: #303030; }
.default tr.even { background: #3c3c3c; }

.default tr.smallitem { background: url('/assets/interface/grad50.gif') repeat-x #3c3c3c; }
.default tr.smallitemhighlight { background: url('/assets/interface/grad50_highlight.gif') repeat-x #005A00; }
.default tr.smallitempna { background: url('/assets/interface/grad50_highlight.gif') repeat-x #005A00; }

.default tr.verysmallitem { background: url('/assets/interface/grad25.gif') repeat-x #3c3c3c; }

.default tr.ranking_nap { background: url('/assets/interface/grad25_nap.gif') repeat-x #785800; }
.default tr.ranking_war { background: url('/assets/interface/grad100_destroy.gif') repeat-x #780000; }
.default tr.ranking_alliance { background: url('/assets/interface/grad25_alliance.gif') repeat-x #106810; }

.default tr.giftitem { background: url('/assets/interface/grad50_gift.gif') repeat-x #2E4E2A; }
.default tr.taxchangeditem { background: url('/assets/interface/grad50_taxchanged.gif') repeat-x #4E4A2A; }
.default tr.memberleftitem { background: url('/assets/interface/grad50_memberleft.gif') repeat-x #4E2A2A; }

table.clear, tr.clear, .clear tr, .clear td, td.clear { padding:0px; padding-right: 2px; border:0; background: transparent; }

tr.clear { height:4px; }

/* navigation when multiple pages are available */
.default tr.nav td { background: #333333; color:#B5B5B9; }
.default tr.nav td span.selected { color: #fff; font-weight: bold; }


/* colors */
.destroy{color:#f44;}
.white{color:#fff;}
.grey{color:#BCBCC0;}
.cant_fire{color:#BCBCC0;}

/* warnings */
.impossible {color: #f44;}
.ok {color: #0f0;}
.notenough {color: #f44;}
.low {color: #f44;}
.med {color: #ffa500;}
.full {color: #f44;}
.recommanded {color: #0f0;}
.notrecommanded {color: #f44;}

/* capacity use */
.high2 {color: #f44;}
.med2 {color: #ffa500;}
.low2 {color: #0f0;}

/* general modifiers */
.plus {color: #0f0;}
.minus {color: #f44;}

/* relation colors */
.self {color: #77f!important;}
.self td {color: #77f;}
.player {color: #77f!important;}
.player td {color: #77f;}
.enemy {color: #f44!important;}
.enemy td {color: #f44;}
.ally {color: #0f0!important;}
.ally td {color: #0f0;}
.friend {color: #008000!important;}
.friend td {color: #008000;}
.neutral {color: #BCBCC0;}
.neutral td {color: #BCBCC0;}

/* fleet state */
.recycling {color: #0f0;}
.patrolling {color: #fff;}
.fighting {color: #f44;}

.state_fighting {color: #f44;}
.state_moving {color: #fff;}
.state_patrolling {color: #fff;}
.state_recycling {color: #0f0;}
.state_waiting {color: #fff;}

/* countdown color */
#countdown {color: #0f0;}

/* production color */
.prod {color: #0f0;}
.medprod {color: #ffa500;}
.negprod {color: #f44;}

/* buildings */
#maxlimit {color: #0f0;}
.unique {color: #0f0;}
.nodestruct {color: #f44;}

/* last connection time color ids*/
.twoweeksmore {color: #f44;}
.oneweekmore {color: #f44;}
.threedaysmore {color: #ffa500;}
.threedays {color: #0f0;}
.oneday {color: #0f0;}

.onholidays{color: #BCBCC0;}
.banned{color: #f44;}

.recent {color: #0f0;}
.fewdays {color: #ffa500;}
.fewweeks {color: #f44;}

/* money request */
.pending {color: #0f0;}
.denied {color: #f44;}

#reports div.subject
{
	font-weight: bold;
    font-size: 10px;
	padding:0px 0px 12px 0px;
}

#help .label { font-weight:bold; }
#help .description { color:#BCBCC0; margin:10px 0px 5px 0px; }
#help .required { font-weight:bold; }
#help .requirements { color:#BCBCC0; }

.bold {font-weight:bold;}

#mails div.subject
{
	font-weight: bold;
    font-size: 10px;
	min-height:22px;
	height:auto !important;
	height:22px;
}

#mails div.body
{
	min-height:48px;
	height:auto !important;
	height:48px;
}


#map p { margin:0; }
#map .moves { background-color: #000000; }
#map .hasnothing { border:1px solid #BCBCC0;padding:0px;margin:0px;}
#map .hasplanets { border:1px solid #77f;padding:0px;margin:0px;}
#map .hasallies { border:1px solid #0F0; padding:0px;margin:0px;}
#map .hasfriends { border:1px solid #080; padding:0px;margin:0px;}
#map .hasenemies { border:1px solid red; padding:0px;margin:0px;}


#mapuniverse { visibility: hidden; display:none; }
#mapuniverseview { width:690px; }
#mapuniverseview .gal { float:left; text-align:center; margin:1px; cursor:pointer; }
#mapuniverseview .galtext { position:relative; margin-top:-15px; }

#mapgalaxy { visibility: hidden; display:none; }
#mapgalaxyview { border-right:solid 1px #222; border-bottom:solid 1px #222; }
#mapgalaxyview:after { content: ""; display: block; padding-bottom: 100%; }
#mapgalaxyview div.sector {
	position:relative; float:left;
	background:#000; border:solid 1px #222; border-right:0; border-bottom:0;
	cursor:pointer;
	font-size:1px; line-height:1px;
	width:10%;
	display:flex; flex-wrap:wrap;
}

#mapgalaxyview div.sector div { width: 20%; }
#mapgalaxyview div.sector div:after { content: ""; display: block; padding-bottom: 100%; background:url("/assets/map/galaxy/nothing.gif") no-repeat; background-position: center; }
#mapgalaxyview div.sector div.player:after { background:url("/assets/map/galaxy/player.gif") no-repeat; background-position: center; }
#mapgalaxyview div.sector div.ally:after { background:url("/assets/map/galaxy/ally.gif") no-repeat; background-position: center; }
#mapgalaxyview div.sector div.friend:after { background:url("/assets/map/galaxy/friend.gif") no-repeat; background-position: center; }
#mapgalaxyview div.sector div.uninhabited:after { background:url("/assets/map/galaxy/uninhabited.gif") no-repeat; background-position: center; }
#mapgalaxyview div.sector div.hostile:after { background:url("/assets/map/galaxy/hostile.gif") no-repeat; background-position: center; }
#mapgalaxyview div.sector div.resource:after { background:url("/assets/map/galaxy/resource.gif") no-repeat; background-position: center; }
#mapgalaxyview div.sector div.vortex:after { background:url("/assets/map/galaxy/vortex.gif") no-repeat; background-position: center; }

#mapgalaxyview div.sector .p0 { left: 4px; top: 4px; }
#mapgalaxyview div.sector .p1 { left: 11px; top: 4px; }
#mapgalaxyview div.sector .p2 { left: 18px; top: 4px; }
#mapgalaxyview div.sector .p3 { left: 25px; top: 4px; }
#mapgalaxyview div.sector .p4 { left: 32px; top: 4px; }
#mapgalaxyview div.sector .p5 { left: 4px; top: 11px; }
#mapgalaxyview div.sector .p6 { left: 11px; top: 11px; }
#mapgalaxyview div.sector .p7 { left: 18px; top: 11px; }
#mapgalaxyview div.sector .p8 { left: 25px; top: 11px; }
#mapgalaxyview div.sector .p9 { left: 32px; top: 11px; }
#mapgalaxyview div.sector .p10 { left: 4px; top: 18px; }
#mapgalaxyview div.sector .p11 { left: 11px; top: 18px; }
#mapgalaxyview div.sector .p12 { left: 18px; top: 18px; }
#mapgalaxyview div.sector .p13 { left: 25px; top: 18px; }
#mapgalaxyview div.sector .p14 { left: 32px; top: 18px; }
#mapgalaxyview div.sector .p15 { left: 4px; top: 25px; }
#mapgalaxyview div.sector .p16 { left: 11px; top: 25px; }
#mapgalaxyview div.sector .p17 { left: 18px; top: 25px; }
#mapgalaxyview div.sector .p18 { left: 25px; top: 25px; }
#mapgalaxyview div.sector .p19 { left: 32px; top: 25px; }
#mapgalaxyview div.sector .p20 { left: 4px; top: 32px; }
#mapgalaxyview div.sector .p21 { left: 11px; top: 32px; }
#mapgalaxyview div.sector .p22 { left: 18px; top: 32px; }
#mapgalaxyview div.sector .p23 { left: 25px; top: 32px; }
#mapgalaxyview div.sector .p24 { left: 32px; top: 32px; }

#mapsector { position:relative; background:transparent; visibility: hidden; display:none; max-width:680px; margin:0 auto 1rem; }
#mapsector table { border-collapse:collapse; border-spacing:0; }
#mapsector table tr.border { font-size:1px; line-height:1px; }
#mapsector img.arrow { cursor:pointer; }
#mapsector .borderup { background:url("/assets/styles/s_default/map/border-n.gif") repeat-x; }
#mapsector .borderleft { background:url("/assets/styles/s_default/map/border-w.gif") repeat-y; }
#mapsector .borderright { background:url("/assets/styles/s_default/map/border-e.gif") repeat-y; }
#mapsector .borderdown { background:url("/assets/styles/s_default/map/border-s.gif") repeat-x; }
#mapsectorview { background:rgba(55,55,55,.9); min-width: 300px; max-width:680px; width: 100%; border-radius:.25rem; }
#mapsectorview div.planet { float:left; min-width:60px; max-width:130px; width:20%; height:85px; margin:.5rem 0; }
#mapsectorview div.planet img.planet { margin-bottom:1rem; border-color:transparent; }
#mapsectorview .planettext { font-size:9px; }
#mapsectorview .planetname { font-size:9px; }


#mapradar { visibility: hidden; display:none; }

#maplegend {
	margin:10px 0px;
	border:1px solid #555;
	background-color:#333;
}
#maplegend td { padding:3px; }
#maplegend img { border:1px solid #000; }

.hidden { display: none; visibility: hidden; }
.justhidden { visibility: hidden; }

.editbox { height:17px; vertical-align:middle; }
.submitok { font-size:10px; height:19px; vertical-align:middle; }
.close { vertical-align:middle; cursor:pointer; margin-top:3px; }
.left { float:left; }
.right { float:right; }


/* HINT */
div#hint{
	position:absolute;
	z-index:100;
	background: transparent;
	width:200px;
	visibility: hidden;
}

div#hinttext { background:#3c3c3c; color:#BCBCC0; text-align:left; padding:0px 5px; border-left:#222 1px solid; border-right:#222 1px solid; }

div.rtop, div.rbottom{ display:block; height: 4px; }
div.rtop b, div.rbottom b{ display:block; height: 1px; overflow: hidden; }
b.r1{ margin: 0 4px; background:#222; }
b.r2{ margin: 0 3px; background:#3c3c3c; border-left:#222 1px solid; border-right:#222 1px solid; }
b.r3{ margin: 0 2px; background:#3c3c3c; border-left:#222 1px solid; border-right:#222 1px solid; }
b.r4{ margin: 0 1px; background:#3c3c3c; border-left:#222 1px solid; border-right:#222 1px solid; }

h1 { color:white; padding:0; }

table.description {
	padding-right:6px;
}

span.title {
	color:white;
	font-weight:bold;
}