{% load i18n %}

<!doctype html>
<html>
    <head>
        <!--- -->
    	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134044291-1"></script>
    	<script>
    		window.dataLayer = window.dataLayer || [];
    		function gtag(){dataLayer.push(arguments);}
    		gtag('js', new Date());
    		gtag('config', 'UA-134044291-1');
    	</script>
        <!--- -->
    	<title>[ng03] ExileNG{% if menu_selected %}
    	-
    	    {% if menu_selected == 'empire_overview' %}{% trans "Vue d'ensemble" %}
    	    {% elif menu_selected == 'empire_upkeep' %}{% trans "Coût d'entretien" %}
    	    {% elif menu_selected == 'commander_overview' %}{% trans "Commandants" %}
    	    {% elif submenu_selected == 'empire_fleets' %}{% trans "Flottes" %}
    	    {% elif submenu_selected == 'empire_orbiting' %}{% trans "Flottes en orbite" %}
    	    {% elif submenu_selected == 'empire_parking' %}{% trans "Vaisseaux au sol" %}
    	    {% elif submenu_selected == 'empire_stats' %}{% trans "Détruits / perdus" %}
    	    {% elif menu_selected == 'empire_planets' %}{% trans "Planètes" %}
    	    {% elif submenu_selected == 'empire_purchases' %}{% trans "Achats" %}
    	    {% elif submenu_selected == 'empire_sales' %}{% trans "Ventes" %}
    	    {% elif menu_selected == 'empire_researches' %}{% trans "Recherches" %}
    	    {% elif submenu_selected == 'alliance_displaying' %}{% trans "Vue d'ensemble" %}
    	    {% elif submenu_selected == 'alliance_overview' %}{% trans "Gestion" %}
    	    {% elif submenu_selected == 'alliance_members' %}{% trans "Membres" %}
    	    {% elif submenu_selected == 'alliance_naps' %}{% trans "PNA" %}
    	    {% elif submenu_selected == 'alliance_tributes' %}{% trans "Tributs" %}
    	    {% elif submenu_selected == 'alliance_wars' %}{% trans "Guerres" %}
    	    {% elif submenu_selected == 'alliance_wallet' %}{% trans "Portefeuille" %}
    	    {% elif submenu_selected == 'alliance_reports' %}{% trans "Rapports" %}
    	    {% elif submenu_selected == 'alliance_invitations' %}{% trans "Invitations" %}
    	    {% elif submenu_selected == 'alliance_creation' %}{% trans "Création" %}
    	    {% elif menu_selected == 'map' %}{% trans "Carte spatiale" %}
    	    {% elif menu_selected == 'ranking' %}{% trans "Classement" %}
    	    {% elif menu_selected == 'mercenary_spying' %}{% trans "Espionnage" %}
    	    {% elif menu_selected == 'planet_overview' %}{% trans "Vue d'ensemble" %}
    	    {% elif menu_selected == 'planet_production' %}{% trans "Production" %}
    	    {% elif menu_selected == 'planet_buildings' %}{% trans "Bâtiments" %}
    	    {% elif menu_selected == 'planet_ships' %}{% trans "Vaisseaux" %}
    	    {% elif menu_selected == 'planet_trainings' %}{% trans "Entraînements" %}
    	    {% elif menu_selected == 'planet_orbit' %}{% trans "Orbite" %}
    	    {% elif submenu_selected == 'planet_purchases' %}{% trans "Achat" %}
    	    {% elif submenu_selected == 'planet_sales' %}{% trans "Vente" %}
    	    {% elif menu_selected == 'mail' %}{% trans "Messagerie" %}
    	    {% elif menu_selected == 'profile_reports' %}{% trans "Rapports" %}
    	    {% elif menu_selected == 'chat' %}{% trans "Salons" %}
    	    {% elif menu_selected == 'help' %}{% trans "Aide" %}
    	    {% elif menu_selected == 'profile_overview' %}{% trans "Profile" %}
    	    {% elif menu_selected == 'profile_notes' %}{% trans "Notes" %}
    	    {% elif menu_selected == 'profile_options' %}{% trans "Options" %}
    	    {% endif %}
    	{% endif %}</title>
        <!--- -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--- -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles.css?v=1" type="text/css" media="all" />
        <!--- -->
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
        <!--- -->
        <script type="text/javascript" src="/static/scripts.js?v=1"></script>
        <!--- -->
    </head>
    <body>
        <!--- -->
        <div id="wrapper">
            {% block wrapper %}
            {% endblock %}
        </div>
        <!--- -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--- -->
        <script>
            var j = jQuery.noConflict();
            j(document).ready(function() {
                j( "[data-toggle='tooltip']" ).tooltip({container: 'body'});
                {% block script %}{% endblock %}
            });
        </script>
    </body>
</html>