{% load i18n %}
{% load humanize %}
{% load game_tags %}

<script>
function jump(obj) { eval("location='{{ request.path }}" + obj.options[obj.selectedIndex].value + "'"); }

function next_planet() {
	var obj = document.getElementById("planet_list");
	if (obj.selectedIndex < obj.options.length - 1) obj.selectedIndex = obj.selectedIndex + 1; jump(obj);
}

function previous_planet() {
	var obj = document.getElementById("planet_list");
	if (obj.selectedIndex > 0) obj.selectedIndex = obj.selectedIndex - 1; jump(obj);
}
</script>

<div id="page-context">
    <div id="page-context-inner">
        <div class="box-item">
            <a href="#" onclick="previous_planet(); return false;" title="{% trans 'Planète précédente' %}" data-toggle="tooltip"><i class="fas fa-chevron-circle-left"></i></a>
        </div>
        <div>
            <div class="box-item">
                <select id="planet_list" class="control" onchange="jump(this);">
                    {% for planet in header.planets %}<option value="{{ planet.id }}" {% if planet.id == profile.planet.id %}selected{% endif %}>{{ planet.name }} ({{ planet.galaxy_id }}.{{ planet.sector }}.{{ planet.planet }})</option>{% endfor %}
                </select>
            </div>
        </div>
        <div>
            <div class="box-item">
                {{ 'ore'|icon }}
                <span class="c-highlight">{{ header.ore_count|intcomma }}</span>
            </div>
            <div class="box-item">
                {{ 'hydro'|icon }}
            </div>
            <div class="box-item">
                {{ 'energy'|icon }}
            </div>
        </div>
        <div>
            <div class="box-item">
                {{ 'worker'|icon }}
            </div>
            <div class="box-item">
                {{ 'scientist'|icon }}
            </div>
            <div class="box-item">
                {{ 'soldier'|icon }}
            </div>
        </div>
        <div>
            <div class="box-item">
                {{ 'floor'|icon }}
            </div>
            <div class="box-item">
                {{ 'space'|icon }}
            </div>
        </div>
        <div>
            <div class="box-item">
                {{ 'special'|icon }}
            </div>
            <div class="box-item">
                {{ 'special'|icon }}
            </div>
            <div class="box-item">
                {{ 'special'|icon }}
            </div>
        </div>
        <div class="box-item">
            <a href="#" onclick="next_planet(); return false;" title="{% trans 'Planète suivante' %}" data-toggle="tooltip"><i class="fas fa-chevron-circle-right"></i></a>
        </div>
    </div>
</div>