{% extends 'game/_base.html' %}

{% load i18n %}

{% block page %}
<div id="page-content">
    <div class="d-flex align-items-center justify-content-center mb-3">
        <img src="/static/logo.png"/>
        <span class="c-normal mx-3">ng03</span>
    </div>
    <div class="box">
        <div class="box-header">
            <div class="box-item text-center"><b class="c-highlight">{% trans "En maintenance" %}</b></div>
        </div>
        <div class="box-line">
            <div class="box-item text-center">
                <p class="c-normal">
                    {% trans "Le serveur est actuellement en maintenance." %}<br/>
                    {% trans "En attendant que l'accés au jeu revienne, vous pouvez consulter le discord." %}<br/>
                </p>
                <a href="https://discord.gg/9RHUEhw">Discord</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}