{% load i18n %}

<div id="page-tabs">
    <a href="/game/help/resources/" class="{% if tab_selected == 'resources' %}selected{% endif %}">{% trans 'Ressources' %}</a>
    <a href="/game/help/buildings/" class="{% if tab_selected == 'buildings' %}selected{% endif %}">{% trans 'Bâtiments' %}</a>
    <a href="/game/help/ships/" class="{% if tab_selected == 'ships' %}selected{% endif %}">{% trans 'Vaisseaux' %}</a>
    <a href="/game/help/researches/" class="{% if tab_selected == 'researches' %}selected{% endif %}">{% trans 'Recherches' %}</a>
    <a href="/game/help/bbcode/" class="{% if tab_selected == 'bbcode' %}selected{% endif %}">{% trans 'BBCode' %}</a>
</div>
