{% extends 'game/_base.html' %}

{% load i18n %}

{% block page %}
<div id="page-content">
    <div class="d-flex align-items-center justify-content-center mb-3">
        <img src="/static/logo.png"/>
        <span class="c-normal mx-3">ng03</span>
    </div>
    {% include 'game/_messages.html' %}
    <div class="box">
        <div class="box-header">
            <div class="box-item text-center"><b class="c-highlight">{% trans "Vaisseau de colonisation" %}</b></div>
        </div>
        <div class="box-line">
            <div class="box-item text-center">
                <p class="c-normal">
                    {% trans "Votre vaisseau de colonisation est en route vers sa planète de destination." %}<br/>
                    {% trans "Lorsqu'il sera arrivé, vous pourrez coloniser la planète et commencer à fonder votre empire." %}<br/>
                </p>
                <form method="post">
                    {% csrf_token%}
                    <input type="hidden" name="action" value="create">
                    <input type="submit" class="button" value="{% trans 'Coloniser' %}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}