<ul class="htabs">
     <li {% if selected_tab == 'overview' %}class="selected"{% endif %}><a href="/game/empire_view/">Aperçu</a></li>
     <li {% if selected_tab == 'planets' %}class="selected"{% endif %}><a href="/game/empire_planets/">Planètes</a></li>
     <li {% if selected_tab == 'upkeep' %}class="selected"{% endif %}><a href="/game/empire_upkeep/">Entretien</a></li>
     <li {% if selected_tab == 'orbits' %}class="selected"{% endif %}><a href="/game/empire_orbits/">Orbites</a></li>
     <li {% if selected_tab == 'parking' %}class="selected"{% endif %}><a href="/game/empire_parking/">Au sol</a></li>
     <li {% if selected_tab == 'stats' %}class="selected"{% endif %}><a href="/game/empire_stats/">Stats</a></li>
</ul>
