<ul class="htabs">
    <li><a href="/game/planet/?planet=1022">Vue d'ensemble</a></li>
    <li><a href="/game/production/?planet=1022">Production</a></li>
    <li><a href="/game/buildings/?planet=1022">Infrastructures</a></li>
    <li><a href="/game/shipyard/?planet=1022">Chantier spatial</a></li>
    <li><a href="/game/shipyard/?planet=1022&recycle=1">Recyclage</a></li>
    <li><a href="/game/training/?planet=1022">Entraînement</a></li>
    <li><a href="/game/orbit/?planet=1022">Orbite</a></li>
    <li><a href="/game/market-sell/?planet=1022">Marché</a></li>
</ul>
