<ul class="htabs">
    <li {% if selected_tab == '' %}class="selected"{% endif %}><a href="/game/planet/">Aperçu</a></li>
    <li {% if selected_tab == '' %}class="selected"{% endif %}><a href="/game/production/?cat=1">Production</a></li>
    <li {% if selected_tab == '' %}class="selected"{% endif %}><a href="/game/production/?cat=2">Fonctionnement</a></li>
    <li {% if selected_tab == '' %}class="selected"{% endif %}><a href="/game/production/?cat=3">Transferts</a></li>
    <li {% if selected_tab == '' %}class="selected"{% endif %}><a href="/game/buildings/">Bâtiments</a></li>
    <li {% if selected_tab == '' %}class="selected"{% endif %}><a href="/game/shipyard/">Vaisseaux</a></li>
    <li {% if selected_tab == '' %}class="selected"{% endif %}><a href="/game/shipyard/?&recycle=1">Recyclage</a></li>
    <li {% if selected_tab == '' %}class="selected"{% endif %}><a href="/game/training/">Entraînements</a></li>
    <li {% if selected_tab == '' %}class="selected"{% endif %}><a href="/game/orbit/">Orbite</a></li>
    <li {% if selected_tab == '' %}class="selected"{% endif %}><a href="/game/market-sell/">Marché</a></li>
</ul>
