{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
{% include '_tabs_alliance.html' %}

<div class="box">
<div class="box-body title"><div colspan="4">Alliances nous invitant à les rejoindre</div></div>
<div class="box-body header"><div class="col"> Alliance</div><div class="col"> Réception de l'offre</div><div class="col"> Recruteur</div><div class="col"> Réponse</div></div>
{% for invitation in invitations %}
<div><div class="col"> <a href="/game/alliance/?tag={{invitation.tag}}">[{{invitation.tag}}] {{invitation.name}}</a></div><div class="col"> {{invitation.date}}</div><div class="col"> {{invitation.recruiter}}</div"><div align=center>{% if invitation.accept %}<a href="?a=accept&tag={{invitation.tag}}">Accepter</a>{% endif %}{% if invitation.cant_accept %}<span class="error">Déjà dans une alliance</span>{% endif %} {% if invitation.cant_join %}<span class="error">Impossible de rejoindre</span>{% endif %} - <a href="?a=decline&tag={{invitation.tag}}">Refuser</a></div></div>
{% endfor %}
{% if noinvitations %}
<div><div colspan="4" align="center">Aucune invitation</div></div>
{% endif %}
{% if max_members_reached %}
<div class="box-body item"><div colspan="4" align="center" class="warning">Impossible de rejoindre l'alliance, elle a atteint son nombre maximal de membres.</div></div>
{% endif %}
{% if cant_rejoin_previous_alliance %}
<div class="box-body item"><div colspan="4" align="center" class="warning">Impossible de rejoindre cette alliance pour le moment, vous devez attendre plusieurs jours avant de pouvoir la rejoindre à nouveau.</div></div>
{% endif %}
</div>
{% if cant_join %}
<div class="box">
<div class="box-body item"><div class="col"> <span class="warning">Vous êtes actuellement en train de quitter votre ancienne alliance, il vous est actuellement impossible de rejoindre une autre alliance.</span></div></div>
</div>
{% endif %}
{% if leave %}
<br/>
<form action="?a=leave" method="post">{% csrf_token %}
<div class="default" width=700>
<div class="box-body title"><div class="col"> Quitter l'alliance</div></div>
<div class="box-body smallitem"><div align=center><input type="checkbox" class="checkbox" name="leave" id="leave" value="1"><label for="leave">Je quitte mon alliance actuelle{% if charges %}, les frais s'élevant à {{credits|intcomma}}&nbsp;crédits{% endif %}.</label><br/><br/><span class="warning">Attention, vous ne pourrez pas créer ou rejoindre d'alliance pendant {{hours_before_rejoin}} heures.</span></div></div>
<div class="box-body smallitem"><div align=center><input type="submit" name="submit" value="Valider"></div></div>
{% if too_many_leaving %}<div><div class="error">Trop de membres sont déjà en train de quitter l'alliance, vous devez attendre avant de pouvoir quitter à votre tour</div></div>{% endif %}
{% if not_enough_credits %}<div><div class="error">Fonds insuffisants</div></div>{% endif %}
</div>
</form>
{% endif %}
{% endblock %}