{% extends 'alliance-wallet.html' %}
{% load humanize %}
{% block page %}
<div class="box">

<div><div colspan=7><form action="?" method=post>{% csrf_token %}<div style="float:left">
<input type=checkbox class=checkbox id=gifts name=gifts value=1{% if gifts_checked %} checked{% endif %}><label for=gifts>Financements et dons</label>&nbsp;
<input type=checkbox class=checkbox id=settax name=settax value=1{% if settax_checked %} checked{% endif %}><label for=settax>Modifications de taxe</label>&nbsp;
<input type=checkbox class=checkbox id=taxes name=taxes value=1{% if taxes_checked %} checked{% endif %}><label for=taxes>Taxes collectées</label>&nbsp;
<input type=checkbox class=checkbox id=kicksbreaks name=kicksbreaks value=1{% if kicksbreaks_checked %} checked{% endif %}><label for=kicksbreaks>Exclusions et Ruptures de pacte</label></div>
<div align=right><input type=submit name=refresh value="Actualiser"></div>
</form>
</div></div>

<div class="box-body header"><div class="col"> Date</div><div class="col"> Type</div><div class="col"> Source</div><div class="col"> Destinataire</div><div class="col"> Crédit</div><div class="col"> Débit</div><div class="col"> Description</div></div>
{% for entry in entries %}
<div class="box-body {% if entry.gift %}gift{% endif %}{% if entry.taxchanged %}taxchanged{% endif %}{% if entry.member_left %}memberleft{% endif %}item">
<div class="col"> {{entry.date}}</div>
<div nowrap>{% if entry.gift %}Don{% endif %}
{% if entry.tax %}Taxe{% endif %}
{% if entry.member_left %}Départ du membre{% endif %}
{% if entry.member_kicked %}Exclusion du membre{% endif %}
{% if entry.money_request %}Financement{% endif %}
{% if entry.taxchanged %}Taxe changée{% endif %}
{% if entry.nap_broken %}PNA rompu{% endif %}
{% if entry.war_bill %}Guerre{% endif %}
{% if entry.tribute %}Tribut{% endif %}</div>
<div nowrap>{{entry.source}}</div"><div nowrap>{{entry.destination}}</div"><div align=right nowrap>{{entry.income|intcomma}}</div"><div align=right nowrap>{{entry.outcome|intcomma}}</div><div class="col"> {% if entry.taxchanged %}Nouvelle taxe: {% endif %}{{entry.description}}</div>
</div>
{% empty %}<div><div colspan=7 align=center>Aucun mouvement effectué récemment</div></div>
{% endfor %}
</div>
{% endblock %}