{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<div id="alliance">
{% if noalliance %}
<a href="/game/alliance-create/">Créer une alliance</a><br/>
<a href="/game/alliance-invitations/">Invitations reçues</a><br/>
{% endif %}
{% if display %}
<table class="default">
<tr class="bigtitle"><td>[{{tag}}] {{name}}</td></tr>
{% if logo %}<tr class="item"><td align=center><img src="{{logo_url}}" class="logo"></td></tr>{% endif %}
{% if description %}
<tr class="item"><td><p>{{description|bbcode}}</p></td></tr>
{% endif %}

{% if members %}
<tr class="item"><td><div id="stats"><span class="label">{{rank_label}}:</span> <span class="value">{% if member %}<a href="/game/mails/?to={{member}}">{{member}}</a>{% endif %}{% if other_member %}, <a href="/game/mails/?to={{member}}">{{member}}</a>{% endif %}</span></div></td></tr>
{% endfor %}
<tr class="item"><td><div id="stats"><span class="label">Nombre de membres:</span> <span class="value">{{members}} / {{max_members}}</span></div></td></tr>
{% if website %}<tr class="item"><td><div id="stats"><span class="label">Site web:</span> <span class="value"><a href="{{website_url}}">{{website_url}}</a></span></div></td></tr>{% endif %}

<tr><td>
	<table class="clear">
	<tr valign="top"><td>
		<table width="300">
		<tr class="title"><td>Pacte(s) de non-aggression</td></tr>
		{% if nap %}<tr class="smallitem"><td><a href="/game/alliance/?tag={{naptag}}">[{{naptag}}] {{napname}}</a></td></tr>{% endfor %}
		{% if nonaps %}<tr><td align=center>Aucun</td></tr>{% endif %}
		</table>
	</td>
	<td>
		<table>
		<tr class="title"><td>Guerres en cours</td></tr>
		{% if war %}<tr class="smallitem"><td><a href="/game/alliance/?tag={{wartag}}">[{{wartag}}] {{warname}}</a></td></tr>{% endfor %}
		{% if nowars %}<tr><td align=center>Aucune</td></tr>{% endif %}
		</table>
	</td></tr>
	</table>
</td></tr>
</table>
{% endif %}
</div>
{% endblock %}