{% extends 'layout.html' %}
{% load humanize %}
{% load bbcode_tags %}
{% block content %}
<div id="alliance">
{% if noalliance %}
<a href="/game/alliance-create/">Créer une alliance</a><br/>
<a href="/game/alliance-invitations/">Invitations reçues</a><br/>
{% endif %}
{% if display %}
<div class="box">
<div class="box-body bigtitle"><div class="col"> [{{tag}}] {{name}}</div></div>
{% if logo %}<div class="box-body item"><div align=center><img src="{{logo_url}}" class="logo"></div></div>{% endif %}
{% if description %}
<div class="box-body item"><div class="col"> <p>{{description|safe|bbcode}}</p></div></div>
{% endif %}

{% for rank in ranks %}
<div class="box-body item"><div class="col"> <div id="stats"><span class="label">{{rank.rank_label}}:</span> <span class="value">{% for member in rank.members %}{% if member.first %}<a href="/game/mails/?to={{member.member}}">{{member.member}}</a>{% endif %}{% if member.other %}, <a href="/game/mails/?to={{member.member}}">{{member.member}}</a>{% endif %}{% endfor %}</span></div></div></div>
{% endfor %}
<div class="box-body item"><div class="col"> <div id="stats"><span class="label">Nombre de membres:</span> <span class="value">{{members}} / {{max_members}}</span></div></div></div>
{% if website %}<div class="box-body item"><div class="col"> <div id="stats"><span class="label">Site web:</span> <span class="value"><a href="{{website_url}}">{{website_url}}</a></span></div></div></div>{% endif %}

<div><div class="col"> 
	<div class="clear">
	<div valign="top"><div class="col"> 
		<div width="300">
		<div class="box-body title"><div class="col"> Pacte(s) de non-aggression</div></div>
		{% for nap in naps %}<div class="box-body smallitem"><div class="col"> <a href="/game/alliance/?tag={{nap.naptag}}">[{{nap.naptag}}] {{nap.napname}}</a></div></div>{% endfor %}
		{% if nonaps %}<div><div align=center>Aucun</div></div>{% endif %}
		</div>
	</div>
	<div class="col"> 
		<table>
		<div class="box-body title"><div class="col"> Guerres en cours</div></div>
		{% for war in wars %}<div class="box-body smallitem"><div class="col"> <a href="/game/alliance/?tag={{war.wartag}}">[{{war.wartag}}] {{war.warname}}</a></div></div>{% endfor %}
		{% if nowars %}<div><div align=center>Aucune</div></div>{% endif %}
		</div>
	</div></div>
	</div>
</div></div>
</div>
{% endif %}
</div>
{% endblock %}