{% extends 'alliance-wallet.html' %}
{% load humanize %}
{% block page %}
{% if give %}
<form action="?cat={{walletpage}}" method="post">{% csrf_token %}
<div class="box">
<div class="box-body title"><div class="col"> Don d'argent</div></div>
<div class="box-body item"><div align="center">
	<div class="clear">
	<div><div colspan="2">&nbsp;</div></div>
	<div><div class="col"> Trésorerie: </div"><div align="left">{{player_credits|intcomma}} crédits</div></div>
	<div><div class="col"> Somme: </div"><div align="left"><input type="text" name="credits" value="{{credits}}" size=8 maxlength=8> crédits</div></div>
	<div><div class="col"> Description: </div"><div align="left"><input type="text" name="description" value="{{description}}" size=64 maxlength=64></div></div>
	<div><div colspan="2">&nbsp;</div></div>
	{% if can_give %}
	<div><div colspan="2" align="center"><input type="submit" name="give" value="Donner"></div></div>
	{% endif %}
	{% if can_give_after_a_week %}
	<div><div class=error colspan=2 align=center>Impossible de faire un don avant deux semaines de jeu</div></div>
	{% endif %}
	</div>
</div>
</div>
</div>
</form>
{% endif %}
{% if list %}
<div class="box">
<div class="box-body title"><div colspan="5">Dons d'argent ces 7 derniers jours</div></div>
<div class="box-body header"><div class="col"> Date</div><div class="col"> Nation</div><div class="col"> Crédits</div><div class="col"> Description</div></div>
{% for entry in entries %}
<div class="box-body smallitem"><div nowrap>{{date}}</div"><div nowrap>{{nation}}</div"><div align="right" nowrap>{{credits|intcomma}}</div><div class="col"> {{description}}</div></div>
{% empty %}
<div class="smallitem" colspan="5" align="center">Aucun don</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}