{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<script>
function confirmBreakPact(tag,name) {
	var s = "Êtes-vous sûr de vouloir rompre le pacte avec ["+tag+"] "+name+" ?";
	return confirm(s);
}
</script>

<div width=750 cellpadding=0 cellspacing=0>
<div>
<div align="center">
	{% if nav %}
	<div>
	<ul class="htabs">
		{% if cat1 %}<li{% if cat1_selected %} class="active"{% endif %}><a href="?cat=1">Pactes signés</a></li>{% endif %}
		{% if cat2 %}<li{% if cat2_selected %} class="active"{% endif %}><a href="?cat=2">Propositions{% if propositions %} ({{proposition_count}}){% endif %}</a></li>{% endif %}
		{% if cat3 %}<li{% if cat3_selected %} class="active"{% endif %}><a href="?cat=3">Demandes de pactes{% if requests %} ({{request_count}}){% endif %}</a></li>{% endif %}
	</ul>
	</div>
	{% endif %}
	<div>

{% if cat1_selected %}
<div class="box">
<div class="box-body title"><div colspan="5">Pacte(s) de non-agression</div></div>
<div class="box-body header">
<div class="col"> <a href="?col=1{% if r1 %}&r=1{% endif %}">Alliance</a></div>
{% if score %}<div class="col"> <a href="?col=2{% if r2 %}&r=1{% endif %}">Score</a></div>{% endif %}
<div class="col"> <a href="?col=3{% if r3 %}&r=1{% endif %}">Date de l'accord</a></div>
<div class="col"> <a href="?col=4{% if r4 %}&r=1{% endif %}">Délai d'éxecution</a></div>
<div class="col"> <a href="?col=5{% if r5 %}&r=1{% endif %}">Vision planètes</a></div>
<div class="col"> <a href="?col=6{% if r6 %}&r=1{% endif %}">Partage radars</a></div>
{% if break %}<div class="col"> Pacte</div>{% endif %}
</div>
{% for nap in naps %}
<div><div class="col"> {{nap.place}}. <a href="/game/alliance/?tag={{nap.tag}}">[{{nap.tag}}] {{nap.name}}</a></div>
{% if score %}<div align=right>{{nap.score|intcomma}}</div>{% endif %}
<div class="col"> {{nap.created}}</div>
<div align=right><script>
{% if nap.countdown %}putcountdown1({{nap.break_interval}}, "Rompu", "?"){% endif %}
{% if nap.time %}document.write(formattime({{nap.break_interval}})){% endif %}
</script></div>
<div class="col"> 
{% if nap.toggle_share_locs %}<a href="?cat={{cat}}&a=sharelocs&tag={{nap.tag}}">{% endif %}{% if nap.locs_shared %}Oui{% endif %}{% if nap.locs_not_shared %}Non{% endif %}{% if nap.toggle_share_locs %}</a>{% endif %}
</div>
<div class="col"> 
{% if nap.toggle_share_radars %}<a href="?cat={{cat}}&a=shareradars&tag={{nap.tag}}">{% endif %}{% if nap.radars_shared %}Oui{% endif %}{% if nap.radars_not_shared %}Non{% endif %}{% if nap.toggle_share_radars %}</a>{% endif %}
</div>
{% if nap.break %}<div class="col"> <a href="?cat={{cat}}&a=break&tag={{nap.tag}}" onclick="return confirmBreakPact('{{nap.tag}}','{{nap.name}}')">Rompre</a></div>{% endif %}
{% if nap.broken %}<div class="col"> Rompu</div>{% endif %}
</div>
{% endfor %}
{% if nonaps %}
<div><div colspan=6 align=center>Aucun</div></div>
{% endif %}
{% if message %}<div><div colspan=5 class="error">
{% if norights %}Vous n'êtes pas en droit de faire une telle demande{% endif %}
{% if unknown %}Aucune alliance avec un tel tag n'a été trouvé{% endif %}
{% if nap_not_found %}Nous n'avons aucun pacte avec cette alliance{% endif %}
{% if not_enough_credits %}L'alliance ne dispose pas d'assez de crédits pour rompre le pacte{% endif %}
</div></div>
{% endif %}
</div>
{% endif %}

{% if cat2_selected %}
<div class="box">
<div class="box-body title"><div colspan="6">Propositions de pactes de non-agression</div></div>
<div class="box-body header">
<div class="col"> Alliance</div><div class="col"> Date de demande</div><div class="col"> Demandé par</div><div class="col"> Délai d'exécution</div><div class="col"> Réponse</div>
{% for proposition in propositions %}
<div class="box-body smallitem"><div nowrap><a href="/game/alliance/?tag={{proposition.tag}}">[{{proposition.tag}}] {{proposition.name}}</a></div>
<div nowrap>{{proposition.date}}</div><div class="col"> <a href="/game/mails/?to={{proposition.recruiter}}" title="Envoyer un message à {{proposition.recruiter}}">{{proposition.recruiter}}</a>&nbsp;</div>
<div nowrap><script>document.write(formattime({{proposition.break_interval}}))</script></div>
<div nowrap><a href="?cat={{cat}}&a=accept&tag={{proposition.tag}}">Accepter</a> - <a href="?cat={{cat}}&a=decline&tag={{proposition.tag}}">Refuser</a></div></div>
{% endfor %}
{% if nopropositions %}
<div><div colspan=6 align=center>Aucune proposition</div></div>
{% endif %}
</div>
{% if message %}<div><div colspan=2 class="error">
{% if ok %}PNA créé{% endif %}
{% if too_many %}Trop de PNA sont déjà en cours par une des alliances concernées{% endif %}
</div></div>
{% endif %}
</div>
{% endif %}

{% if cat3_selected %}
<form action="?cat={{cat}}&a=new" method="post">{% csrf_token %}
<div class="box">
<div class="box-body title"><div colspan=2>Établir un pacte de non-agression</div></div>
<div><div colspan=2>Veuillez indiquer le tag de l'alliance avec laquelle créer un PNA.<br/>
Vous pouvez spécifier un délai d'exécution lorsqu'une alliance décidera de rompre le pacte. Maximum 72 heures : 3 jours.</div></div>
<div><div class="col"> Alliance (tag)</div><div class="col"> <input type="text" name="tag" value="{{tag}}" maxlength=4></div></div>
<div><div class="col"> Délai d'exécution</div><div class="col"> <input type="text" name="hours" value="{{hours}}" maxlength="2"> heures</div></div>
<div><div colspan=2 align=center><input type="submit" name="submit" value="Envoyer"></div></div>
{% if message %}<div><div colspan=2 class="error">
{% if ok %}Demande envoyée{% endif %}
{% if norights %}Vous n'êtes pas en droit de faire une telle demande{% endif %}
{% if unknown %}Aucune alliance avec un tel tag n'a été trouvé{% endif %}
{% if already_naped %}Cette alliance a déjà un pacte avec notre alliance !{% endif %}
{% if request_waiting %}Cette alliance nous a déjà offert un pacte, acceptons leur pacte{% endif %}
{% if already_requested %}Nous avons déjà essayé d'établir un pacte avec cette alliance récemment{% endif %}
</div></div>
{% endif %}
</div>
</form>

<br/>

<div class="box">
<div class="box-body title"><div colspan="7">Nos demandes de pacte aux autres alliances</div></div>
<div class="box-body header">
<div class="col"> Alliance</div><div class="col"> Date de demande</div><div class="col"> Demandé par</div><div class="col"> Délai d'exécution</div><div class="col"> Réponse</div><div class="col"> </div>
{% for request in newnaps %}
<div class="box-body smallitem"><div class="col"> <a href="/game/alliance/?tag={{request.tag}}">[{{request.tag}}] {{request.name}}</a></div>
<div class="col"> {{request.date}}</div>
<div class="col"> {{request.recruiter}}</div>
<div nowrap><script>document.write(formattime({{request.break_interval}}))</script></div>
<div nowrap>{% if request.waiting %}En attente{% endif %}{% if request.declined %}Refusée{% endif %}</div>
<div class="col"> <a href="?cat={{cat}}&a=cancel&tag={{request.tag}}">Annuler</a></div>
</div>
{% endfor %}
{% if norequests %}
<div><div colspan=6 align=center>Aucune demande</div></div>
{% endif %}
</div>
</div>
{% endif %}

</div>

</div>
</div>
</div>
{% endblock %}