{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<div width=750>
<div>
<div align=center>
	<div>
	<div class="box">
	<div class="box-body item"><div class="col"> 
	<div class="clear">
		<div>
			<div align=left rowspan=4><img src="{{PATH_IMAGES}}/interface/wallet.jpg" class="wallet" width=64 height=64></div>
			<div class="col"> Solde: {{credits|intcomma}}</div>
		</div>
		<div><div class="col"> Dernière 24 heures: {{last24h|intcomma}}</div></div>
		<div><div class="col"> Taxes: {{tax|floatformat:1}}%{% if notax %} (exonéré){% endif %}</div></div>
	</div>
	</div></div>
	</div>
	</div>

	<ul class="htabs">
		{% if cat1 %}<li{% if cat1_selected %} class="active"{% endif %}><a href="?cat=1">Journal</a></li>{% endif %}
		{% if cat2 %}<li{% if cat2_selected %} class="active"{% endif %}><a href="?cat=2">Financement</a></li>{% endif %}
		{% if cat3 %}<li{% if cat3_selected %} class="active"{% endif %}><a href="?cat=3">Don</a></li>{% endif %}
		{% if cat4 %}<li{% if cat4_selected %} class="active"{% endif %}><a href="?cat=4">Taxes</a></li>{% endif %}
	</ul>
	</div>

	<div>
	{% block page %}{% endblock %}
	</div>
</div>
</div>
</div>
{% endblock %}