{% extends 'alliance-wallet.html' %}
{% load humanize %}
{% block page %}
{% if request %}
<form action="?cat={{walletpage}}" method="post">{% csrf_token %}
<div class="box">
<div class="box-body title"><div class="col"> Demande de financement</div></div>
<div class="box-body item"><div align=center>
	<div class="clear">
	<div><div colspan="2">&nbsp;</div></div>
	<div><div class="col"> Trésorerie: </div"><div align="left">{{player_credits|intcomma}} crédits</div></div>
	<div><div class="col"> Financement: </div"><div align="left"><input type="text" name="credits" value="{{credits}}" size=8 maxlength=8> crédits</div></div>
	<div><div class="col"> Description: </div"><div align="left"><input type="text" name="description" value="{{description}}" size=64 maxlength=64></div></div>
	<div><div class="col"> Etat: </div"><div align="left">{% if submitted %}<span class="pending">en cours ...</span>{% endif %}{% if none %}aucune demande de financement{% endif %}{% if denied %}<span class="denied">demande refusée</span>{% endif %}</div></div>
	<div><div colspan=2>&nbsp;</div></div>
	<div><div colspan=2 align=center><input type="submit" name="request" value="Demander"> <input type="submit" name="cancel" value="Annuler"></div></div>
	</div>
</div>
</div>
</div>
</form>
{% endif %}
{% if list %}
<div class="box">
<div class="box-body title"><div colspan=5>En tant que trésorier, vous pouvez accepter ou refuser les demandes d'argent</div></div>
<div class="box-body header"><div class="col"> Date</div><div class="col"> Nation</div><div class="col"> Crédits</div><div class="col"> Description</div><div class="col"> Action</div></div>
{% for entry in entries %}
<div class="box-body smallitem">
<div nowrap>{{date}}</div"><div nowrap>{{nation}}</div"><div align=right nowrap>{{credits|intcomma}}</div><div class="col"> {{description}}</div"><div align="center" nowrap><a href="?cat={{walletpage}}&a=accept&id={{id}}">Accepter</a> - <a href="?cat={{walletpage}}&a=deny&id={{id}}">Refuser</a></div>
</div>
{% endfor %}
{% if norequests %}
<div class="smallitem" colspan=5 align=center>Aucune demande</div>
{% endif %}
</div>
{% endif %}
{% endblock %}