{% extends 'layout.html' %}
{% load humanize %}
{% load bbcode_tags %}
{% block content %}
{% if ranks %}
<script>
function check(){
	{% for rank in ranks %}
	if($('n{{rank.rank_id}}').value.length <= 2) {
		alert('Le nom du grade "' + $('n{{rank.rank_id}}').value + '" est trop court : 2 lettres minimum.');
		return false;
	}
	{% endfor %}
	return true;
}
</script>
{% endif %}
<div cellpadding="0" cellspacing="0">
<div>
<div valign="top">
{% if nav %}
<ul class="vtabs">
	{% if cat1 %}<li{% if cat1_selected %} class="active"{% endif %}><a href="?cat=1">Général</a></li>{% endif %}
	{% if cat2 %}<li{% if cat2_selected %} class="active"{% endif %}><a href="?cat=2">Annonce</a></li>{% endif %}
	{% if cat3 %}<li{% if cat3_selected %} class="active"{% endif %}><a href="?cat=3">Grades</a></li>{% endif %}
</ul>
{% endif %}
</div>
<div class="col"> 

<div class="box">
<form method="post" action="?cat={{cat}}"{% if ranks %} onsubmit="return check()"{% endif %}>{% csrf_token %}
{% if general %}
<div class="box-body item">
	<div colspan="5" align="center">
		<div id="stats">
		<div class="clear">
			<div>
				<div align="center">
					{% if logo %}<img src="{{logo_url}}" class="logo">{% endif %}
				</div>
			</div>
			<div>
				<div align="left">
				<b style="color:#ffa500">[{{tag}}] {{name}}</b><br>
				<span class="label">Date de création: </span><span class="value">{{created}}</span><br>
				<span class="label">Nombre de membres: </span><span class="value">{{members}} / {{max_members}}</span></div>
			</div>
		</div>
		</div>
	</div>
</div>
<div class="box-body item"><div colspan="5">{{description|bbcode}}</div></div>

<div><div colspan="5">&nbsp;</div></div>
<div class="box-body smallitem">
	<div class="col"> Logo (https://domain.com/image.gif)</div>
	<div colspan="4"><input type="text" name="logo" id="logo" value="{{logo_url}}" style="width:290px;" maxlength="250"></div>
</div>

<div class="box-body title"><div colspan="5">Description</div></div>
<div class="box-body item"><div colspan="5" align="center"><textarea name="description" cols="62" rows="15">{{description}}</textarea><div align="center"><a href="/game/help/?cat=tags" target="_blank">Balises supportées</a></div></div></div>
{% endif %}

{% if motd %}
<div class="box-body item"><div colspan="5">{{announce|bbcode}}</div></div>

<div class="box-body title"><div colspan="5">Annonce</div></div>
<div class="box-body item"><div width='1%'>DEFCON</div"><div colspan="4"><select name="defcon">
<option value=5{% if defcon_5 %} selected{% endif %}>5 : Préparation normale en temps de paix</option>
<option value=4{% if defcon_4 %} selected{% endif %}>4 : Préparation normale, mais renseignement accru et mesures de sécurité renforcées</option>
<option value=3{% if defcon_3 %} selected{% endif %}>3 : Accroissement de la préparation des forces au-dessus de la préparation normale</option>
<option value=2{% if defcon_2 %} selected{% endif %}>2 : Accroissement supplémentaire dans la préparation des forces</option>
<option value=1{% if defcon_1 %} selected{% endif %}>1 : Préparation maximale des forces (état de guerre)</option>
</select></div></div>
<div class="box-body item"><div colspan="5" align="center"><textarea name="motd" cols="62" rows="15">{{announce}}</textarea><div align=center><a href="/game/help/?cat=tags" target=_blank>Balises supportées</a></div></div></div>
{% endif %}

{% if ranks %}
<div class="box-body title"><div colspan="5">Grades</div></div>
{% for rank in ranks %}
<div class="box-body item"><div colspan="5">
<div class="clear" width="100%" cellspacing="0" cellpadding="0">
<div><div nowrap><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_enabled" name="c{{rank.rank_id}}_enabled" value="1"{% if rank.checked_enabled %} checked{% endif %}{% if rank.disabled %} disabled{% endif %}><input type="text" size="28" maxlength="32" name="n{{rank.rank_id}}" id="n{{rank.rank_id}}" value="{{rank.rank_label}}"></div><div class="col"> <input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_0" name="c{{rank.rank_id}}_0" value="1"{% if rank.checked_0 %} checked{% endif %}{% if rank.disabled %} disabled{% endif %}><label for="c{{rank.rank_id}}_0">Grade des nouveaux membres</label></div></div>
<tr{% if rank.disabled %} disabled{% endif %}"><div nowrap><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_1" name="c{{rank.rank_id}}_1" value="1"{% if rank.checked_1 %} checked{% endif %}><label for="c{{rank.rank_id}}_1">Recruter une nation</label></div><div class="col"> <input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_2" name="c{{rank.rank_id}}_2" value="1"{% if rank.checked_2 %} checked{% endif %}><label for="c{{rank.rank_id}}_2">Exclure une nation</label></div></div>
<tr{% if rank.disabled %} disabled{% endif %}"><div nowrap><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_3" name="c{{rank.rank_id}}_3" value="1"{% if rank.checked_3 %} checked{% endif %}><label for="c{{rank.rank_id}}_3">Créer un pacte/tribut/guerre</label></div><div class="col"> <input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_4" name="c{{rank.rank_id}}_4" value="1"{% if rank.checked_4 %} checked{% endif %}><label for="c{{rank.rank_id}}_4">Rompre un pacte/tribut/guerre</label></div></div>
<tr{% if rank.disabled %} disabled{% endif %}"><div nowrap><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_5" name="c{{rank.rank_id}}_5" value="1"{% if rank.checked_5 %} checked{% endif %}><label for="c{{rank.rank_id}}_5">Demander un financement</label></div><div class="col"> <input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_6" name="c{{rank.rank_id}}_6" value="1"{% if rank.checked_6 %} checked{% endif %}><label for="c{{rank.rank_id}}_6">Voir les rapports d'alliance</label></div></div>
<tr{% if rank.disabled %} disabled{% endif %}"><div nowrap><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_7" name="c{{rank.rank_id}}_7" value="1"{% if rank.checked_7 %} checked{% endif %}><label for="c{{rank.rank_id}}_7">Accepter les demandes de financement</label></div><div class="col"> <input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_8" name="c{{rank.rank_id}}_8" value="1"{% if rank.checked_8 %} checked{% endif %}><label for="c{{rank.rank_id}}_8">Modifier la taxe</label></div></div>
<tr{% if rank.disabled %} disabled{% endif %}"><div nowrap><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_9" name="c{{rank.rank_id}}_9" value="1"{% if rank.checked_9 %} checked{% endif %}><label for="c{{rank.rank_id}}_9">Envoyer un message à toute l'alliance</label></div"><div nowrap><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_12" name="c{{rank.rank_id}}_12" value="1"{% if rank.checked_12 %} checked{% endif %}><label for="c{{rank.rank_id}}_12">Voir les détails sur les membres (infos nation)</label></div></div>
<tr{% if rank.disabled %} disabled{% endif %}"><div nowrap><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_10" name="c{{rank.rank_id}}_10" value="1"{% if rank.checked_10 %} checked{% endif %}><label for="c{{rank.rank_id}}_10">Modifier la description de l'alliance</label></div><div class="col"> <input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_11" name="c{{rank.rank_id}}_11" value="1"{% if rank.checked_11 %} checked{% endif %}><label for="c{{rank.rank_id}}_11">Modifier l'annonce de l'alliance</label></div></div>
<tr{% if rank.disabled %} disabled{% endif %}"><div nowrap colspan="2"><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_13" name="c{{rank.rank_id}}_13" value="1"{% if rank.checked_13 %} checked{% endif %}><label for="c{{rank.rank_id}}_13">Publier la liste des membres</label></div></div>
<tr{% if rank.disabled %} disabled{% endif %}"><div nowrap><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_14" name="c{{rank.rank_id}}_14" value="1"{% if rank.checked_14 %} checked{% endif %}><label for="c{{rank.rank_id}}_14">Commander les flottes partagées</label></div"><div nowrap><input type="checkbox" class="checkbox" id="c{{rank.rank_id}}_15" name="c{{rank.rank_id}}_15" value="1"{% if rank.checked_15 %} checked{% endif %}><label for="c{{rank.rank_id}}_15">Utiliser les radars de l'alliance</label></div></div>
</div>
</div></div>
{% endfor %}
{% endif %}

<div><div colspan="5" align="center"><input type="submit" name="submit" id="submit" value="Valider changements"></div></div>

{% if error %}
<div><div colspan="5"><p class="error">
{% if check_logo %}L'adresse de votre logo est incorrecte, vérifiez votre saisie{% endif %}
{% if done %}Changements effectués{% endif %}
</p></div></div>
{% endif %}
</form>
</div>
</div>
</div>
</div>
{% endblock %}