{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<div id="battle">

<table width="100%" class="default">
<tr class="title"><td colspan="5">{{planet}} [{{g}}.{{s}}.{{p}}] - {{time}} en {{rounds}}&nbsp;round(s)</td></tr>

<tr class="header">
<td>Flotte</td><td>Vaisseaux</td><td>Perdus</td><td>Détruits</td><td>Après combat</td>

{% if opponent %}
<tr class="category {% if self %}self{% endif %}{% if friend %}friend{% endif %}{% if ally %}ally{% endif %}{% if enemy %}enemy{% endif %}"><td>{% if attack %}<img src="{{PATH_IMAGES}}/interface/stance_attack.gif" alt="Attaque" class="stance">{% endif %}{% if defend %}<img src="{{PATH_IMAGES}}/interface/stance_defend.gif" alt="Rispote" class="stance">{% endif %}<a href="?id={{battleid}}&v={{view}}{% if public %}&by={{userid}}&key={{key}}{% endif %}" class="{% if self %}self{% endif %}{% if friend %}friend{% endif %}{% if ally %}ally{% endif %}{% if enemy %}enemy{% endif %}">{% if alliance %}[{{alliancetag}}] {% endif %}{{opponent}}{% if won %} (vainqueur){% endwon %}</a></td><td>{{ships}}</td><td>{{lost}}</td><td>{{killed}}</td><td>{{after}}</td></tr>
{% if fleet %}
<tr class="category {% if self %}self{% endif %}{% if friend %}friend{% endif %}{% if ally %}ally{% endif %}{% if enemy %}enemy{% endif %}"><td>{{fleet}} (B:{{mod_shield}} M:{{mod_handling}} C:{{mod_tracking_speed}} D:{{mod_damage}})</td><td>{{ships}}</td><td>{{lost}}</td><td>{{killed}}</td><td>{{after}}</td></tr>
{% if ship %}
<tr class="smallitem">
<td><span class="dot">&middot;</span>
{% if name %}{{label}}{% endname %}
{% if category10 %}Vaisseaux utilitaires{% endif %}
{% if category11 %}Vaisseaux de déploiement{% endcategory11 %}
{% if category15 %}Vaisseaux tactiques{% endcategory15 %}
{% if category20 %}Vaisseaux légers{% endcategory20 %}
{% if category30 %}Corvettes{% endcategory30 %}
{% if category40 %}Frégates{% endcategory40 %}
{% if category50 %}Croiseurs{% endcategory50 %}
{% if category60 %}Dreadnought{% endcategory60 %}
{% if category80 %}Titan{% endcategory80 %}
{% if category90 %}Plateforme de défense{% endcategory90 %}
</td>
<td>{{ships}}</td><td>{{lost}}</td><td>{% if killed %}{{killed_name}} x{{killed_count|intcomma}}<br/>{% endfor %}{% if killed_total %}Total: {{killed}}{% endkilled_total %}{% if killed_zero %}0{% endkilled_zero %}</td><td>{{after}}</td></tr>
{% endfor %}
{% endfor %}
<tr class="smallitem"><td colspan=5>&nbsp;</td></tr>
{% endfor %}
{% if publiclink %}
<tr class="title"><td colspan="5"><p>Un rapport de ce combat est visible par tous à cette adresse publique:<br/>
<a href="https://{{baseurl}}/game/battle-view/?id={{battleid}}&by={{userid}}&v={{userid}}&key={{key}}">https://{{baseurl}}/game/battle-view/?id={{battleid}}&v={{userid}}&by={{userid}}&key={{key}}</a></p>
<p class=error>Veillez à ne pas laisser l'ennemi s'en emparer.</p></td></tr>
{% endif %}
</table>

</div>
{% endblock %}