{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<table class="default" width=1050>
<tr class="title"><td colspan="3">Dépenses</td></tr>
{% if expense %}
<tr><td width="1%" nowrap>{{timestamp:d}}</td><td width="1%" nowrap>Credits: {{credits|intcomma}}</td><td nowrap>
{% if build_building %}Construction du bâtiment: {{building}} sur {{planetname}} ({{g}}.{{s}}.{{p}}){% endbuild_building %}
{% if build_ship %}Construction de {{quantity}} {{ship}} sur {{planetname}} ({{g}}.{{s}}.{{p}}){% endbuild_ship %}
{% if research %}Recherche de {{research}}{% endresearch %}
{% if movefleet %}Déplacement de flotte {{fleetname}} vers {{planetname}} ({{g}}.{{s}}.{{p}}){% endmovefleet %}
{% if train %}Formation de {{scientists|intcomma}} scientifiques et {{soldiers|intcomma}} soldats sur {{planetname}} ({{g}}.{{s}}.{{p}}){% endtrain %}
{% if sent %}Envoie d'argent vers {{username}}{% endsent %}
{% if buy %}Achat de {{ore|intcomma}} minerai et {{hydrocarbon|intcomma}} hydrocarbure sur {{planetname}} ({{g}}.{{s}}.{{p}}){% endbuy %}
{% if spy %}Espionnage{% endspy %}
{% if to_alliance %}Donné à l'alliance{% endto_alliance %}
{% if leave_alliance %}Quitte l'alliance{% endleave_alliance %}
<br/>cost: {{credits_delta|intcomma}}</td></tr>
{% endfor %}
</table>
{% endblock %}