{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<script>
function check(obj){{ document.getElementById(obj).checked=true; return true; }}
</script>

<form method="get" action="?">
<input type=hidden name=userid value="{{userid}}">
<table class="default">
<tr class="title"><td colspan=2>Choisissez une action ...</td></tr>
<tr class="item">
<td><input type="radio" class="radio" name="action" value="rename" id="rename"><label for="rename">Renommer</label></td>
<td><input type="text" name="newname" value="{{name}}" onfocus="return check('rename')"></td></tr>
{% if stopholidays %}
<tr class="item"><td colspan=2><input type="radio" class="radio" name="action" value="stopholidays" id="stopholidays"><label for="stopholidays">Arrêt des vacances</label></td></tr>
{% endstopholidays %}
{% if unban %}
<tr class="item"><td colspan=2><input type="radio" class="radio" name="action" value="unban" id="unban"><label for="unban">Débannir</label></td></tr>
{% endunban %}
<tr class="item"><td>Pénalité</td>
<td>
<table class=clear>
<tr><td colspan=2><input type="radio" class="radio" name="action" value="ban" id="ban"><label for="ban">Bannir</label></td></tr>
<tr><td colspan=2><input type="radio" class="radio" name="action" value="penalty" id="penalty">
<select name="type" onfocus="return check('penalty')">
<option value=0 {% if type_0 %} selected{% endtype_0 %}>Tempête électromagnétique sur toutes les planètes</option>
<option value=1 {% if type_1 %} selected{% endtype_1 %}>Suspension de 1 jour</option>
<option value=2 {% if type_2 %} selected{% endtype_2 %}>Suspension de 2 jours</option>
<option value=3 {% if type_3 %} selected{% endtype_3 %}>Suspension de 4 jours</option>
<option value=4 {% if type_4 %} selected{% endtype_4 %}>Suspension de 7 jours</option>
<option value=5 {% if type_5 %} selected{% endtype_5 %}>Vacances immédiates (2 semaines max)</option>
<option value=6 {% if type_6 %} selected{% endtype_6 %}>Vacances immédiates (3 semaines max)</option>
</select></td></tr>
<tr><td>Raison:</td><td><input type="text" name="reason" value="{{reason}}" size=64 maxlength=128></td></tr>
<tr><td>Raison publique:</td><td><input type="text" name="reasonpublic" value="{{reasonpublic}}" size=64 maxlength=128></td></tr>
</table>
</td></tr>
<tr class=item><td><input type="radio" class="radio" name="action" value="notes" id="notes"><label for="notes">Notes</label></td><td><textarea name=notes cols="60" rows="10" onfocus="return check('notes')">{{notes}}</textarea></td></tr>
<tr class="item"><td colspan="2" align="center"><input type="submit" value="Envoyer" name="submit"></td></tr>
</table>
</form>

<table class="default">
{% if history %}
<tr>
<td>{{h_date}}</td>
<td>
{% if action0 %}Tempête électromagnétique sur toutes les planètes{% endaction0 %}
{% if action1 %}Suspension 1 jour{% endaction1 %}
{% if action2 %}Suspension 2 jours{% endaction2 %}
{% if action3 %}Suspension 4 jours{% endaction3 %}
{% if action4 %}Suspension 7 jours{% endaction4 %}
{% if action5 %}Vacances immédiates (2 semaines max){% endaction5 %}
{% if action6 %}Vacances immédiates (3 semaines max){% endaction6 %}
{% if action-1 %}Rename{% endaction-1 %}
{% if action-2 %}Ban{% endaction-2 %}
{% if action-3 %}Unban{% endaction-3 %}
{% if action-4 %}Fin mode vacances{% endaction-4 %}
{% if action-5 %}Notes{% endaction-5 %}
</td>
{% if action0 %}
<td>{{h_reason}}</td>
<td>{{h_reason_public}}</td>
{% endaction0 %}
{% if action1 %}
<td>{{h_reason}}</td>
<td>{{h_reason_public}}</td>
{% endaction1 %}
{% if action2 %}
<td>{{h_reason}}</td>
<td>{{h_reason_public}}</td>
{% endaction2 %}
{% if action3 %}
<td>{{h_reason}}</td>
<td>{{h_reason_public}}</td>
{% endaction3 %}
{% if action4 %}
<td>{{h_reason}}</td>
<td>{{h_reason_public}}</td>
{% endaction4 %}
{% if action-1 %}
<td>{{h_reason}}</td>
<td>{{h_reason_public}}</td>
{% endaction-1 %}
{% if action-2 %}
<td>{{h_reason}}</td>
<td>{{h_reason_public}}</td>
{% endaction-2 %}
{% if action-5 %}
<td colspan="2">{{h_admin_notes}}</td>
{% endaction-5 %}
</tr>
{% endhistory %}
</table>
{% endblock %}