{% extends '_layout.html' %}

{% load humanize %}

{% block content %}

{% include '_tabs_empire.html' %}

<div class="row">
    {% for planet in planets %}
    <div class="col-12 col-md-6">
        <h1 class="row">
            <div class="col">{{planet.name}}</div>
            <div class="col-auto"><a href="/game/orbit/?planet={{planet.id}}" class="badge" data-toggle="tooltip" title="Orbite planète"><i class="far fa-dot-circle"></i> {{planet.g}}.{{planet.s}}.{{planet.p}}</a></div>
        </h1>
        {% for ship in planet.ships %}
        <div class="box">
            <div class="box-item">
                <span class="c-highlight mr-2">{{ship.name}}</span>
                x{{ship.quantity|intcomma}}
            </div>
        </div>
        {% endfor %}
    </div>
    {% empty %}
    <div class="col mt-4">
        aucun vaisseau au sol
    </div>
    {% endfor %}
</div>

{% endblock %}