{% extends '_layout.html' %}

{% load humanize %}
{% load exile_tags %}

{% block content %}

{% include '_tabs_empire.html' %}

<h1>Estimation du coût d'entretien</h1>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <h6>Empire</h6>
                <div class="row justify-content-between mb-1">
                    <div class="col-auto text-nowrap">{{'commander'|icon}} Salaire des commandants</div>
                    <div class="col-auto text-nowrap c-highlight">{{'credit'|icon}} {{commanders_estimated_cost|intcomma}}</div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto text-nowrap">{{'planet'|icon}} Entretien des planètes</div>
                    <div class="col-auto text-nowrap c-highlight">{{'credit'|icon}}{{planets_estimated_cost|intcomma}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <h6>Population</h6>
                <div class="row justify-content-between mb-1">
                    <div class="col-auto text-nowrap">{{'scientist'|icon}} {{scientists_quantity|intcomma}} x {{scientists_cost|intcomma}}</small></div>
                    <div class="col-auto text-nowrap c-highlight">{{'credit'|icon}}{{scientists_estimated_cost|intcomma}}</div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto text-nowrap">{{'soldier'|icon}} Soldats <small class="ml-2">{{soldiers_quantity|intcomma}} x {{soldiers_cost|intcomma}}</small></div>
                    <div class="col-auto text-nowrap c-highlight">{{'credit'|icon}}{{soldiers_estimated_cost|intcomma}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <h6>Vaisseaux</h6>
                <div class="row justify-content-between mb-1">
                    <div class="col-auto text-nowrap">{{'fleet'|icon}} Flottes <small class="ml-2">{{ships_signature|intcomma}} x {{ships_cost|intcomma}}</small></div>
                    <div class="col-auto text-nowrap c-highlight">{{'credit'|icon}}{{ships_estimated_cost|intcomma}}</div>
                </div>
                <div class="row justify-content-between mb-1">
                    <div class="col-auto text-nowrap">{{'fleet'|icon}} En position <small class="ml-2">{{ships_in_position_signature|intcomma}} x {{ships_in_position_cost|intcomma}}</small></div>
                    <div class="col-auto text-nowrap c-highlight">{{'credit'|icon}}{{ships_in_position_estimated_cost|intcomma}}</div>
                </div>
                <div class="row justify-content-between mb-1">
                    <div class="col-auto text-nowrap">{{'fleet'|icon}} Au sol <small class="ml-2">{{ships_parked_signature|intcomma}} x {{ships_parked_cost|intcomma}}</small></div>
                    <div class="col-auto text-nowrap c-highlight">{{'credit'|icon}}{{ships_parked_estimated_cost|intcomma}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col text-right">
        Total
        {{'credit'|icon}}{{total_estimation|intcomma}}
    </div>
</div>

{% endblock %}
