{% extends '_layout.html' %}

{% load humanize %}

{% block content %}

{% include '_tabs_empire.html' %}

<div class="row">
    <div class="col-12 col-md-6">
        <h1>Vaisseaux détruits</h1>
        {% for ship in kills %}
        <div class="box">
            <div class="box-item">
                <a href="/game/help/?cat=ships#{{ship.id}}" class="badge" data-toggle="tooltip" title="Aide vaisseau"><i class="fas fa-help"></i> {{ship.name}}</a>
                x{{ship.count|intcomma}}
            </div>
        </div>
        {% endfor %}
        <hr/>
        <div>
            Total
            {{kills|intcomma}}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <h1>Vaisseaux perdus</h1>
        {% for ship in losses %}
        <div class="box">
            <div class="box-item">
                <a href="/game/help/?cat=ships#{{ship.id}}" class="badge" data-toggle="tooltip" title="Aide vaisseau"><i class="fas fa-help"></i> {{ship.name}}</a>
                x{{ship.count|intcomma}}
            </div>
        </div>
        {% endfor %}
        <hr/>
        <div>
            Total
            {{losses|intcomma}}
        </div>
    </div>
</div>

{% endblock %}