{% extends '_layout.html' %}

{% load humanize %}

{% block content %}

{% include '_tabs_empire.html' %}

<div class="row">
    {% for planet in planets %}
    <div class="col-12 col-md-6">
        <h1>{{planet.name}}<h1>
        <div class="box">
            <div class="box-item">
                <div><a href="/game/orbit/?planet={{planet.id}}" class="badge" data-toggle="tooltip" title="Orbite planète"><i class="far fa-dot-circle"></i> {{planet.g}}.{{planet.s}}.{{planet.p}}</a></div>
                {% for fleet in planet.fleets %}
                <div class="row mt-1">
                    <div class="col text-nowrap">
                        <a href="/game/mails/?subject=À propos de la flotte {{fleet.fleetname}}&to={{fleet.fleetowner}}" class="badge {% if fleet.relation == 1 %}ally{% elif fleet.relation == 0 %}friend{% elif fleet.relation == -1 %}enemy{% endif %}" data-toggle="tooltip" title="Nouveau message à {{fleet.fleetowner}}"><i class="fas fa-envelope"></i> {% if fleet.alliance %}[{{fleet.tag}}]{% endif %} {{fleet.name}}</a>
                    </div>
                    <div class="col-auto text-nowrap">
                        <span class="c-highlight">{{fleet.signature|intcomma}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col">
        Aucune flotte étrangère en orbite de nos planètes
    </div>
    {% endfor %}
</div>

{% endblock %}
