{% extends '_layout.html' %}

{% load humanize %}
{% load exile_tags %}

{% block content %}

{% include '_tabs_empire.html' %}

<div class="row">
    {% for planet in planets %}
    <div class="col-12 col-md-6">
        <h1 class="row">
            <div class="col">{{planet.name}}</div>
            <div class="col-auto"><a href="/game/orbit/?planet={{planet.id}}" class="badge" data-toggle="tooltip" title="Orbite planète"><i class="far fa-dot-circle"></i> {{planet.g}}.{{planet.s}}.{{planet.p}}</a></div>
        </h1>
        {% for fleet in planet.fleets %}
        <div class="box">
            <div class="box-item">
                <a href="/game/mails/?subject=À propos de la flotte {{fleet.name}}&to={{fleet.owner}}" class="mr-2 badge {% if fleet.relation == 1 %}ally{% elif fleet.relation == 0 %}friend{% elif fleet.relation == -1 %}enemy{% endif %}" data-toggle="tooltip" title="Nouveau message"><i class="fas fa-envelope"></i> {% if fleet.alliance %}[{{fleet.tag}}]{% endif %} {{fleet.owner}}</a>
                <span class="c-highlight mr-2">{{fleet.name}}</span>
        	    {% if fleet.stance %}<span data-toggle="tooltip" title="Mode attaque">{{'attack'|icon}}</span>
        	    {% else %}<span data-toggle="tooltip" title="Mode riposte">{{'defense'|icon}}</span>
        	    {% endif %}
                <span>{{fleet.signature|intcomma}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% empty %}
    <div class="col mt-4">
        aucune flotte étrangère en orbite de nos planètes
    </div>
    {% endfor %}
</div>

{% endblock %}
