{% extends '_layout.html' %}

{% load humanize %}
{% load exile_tags %}

{% block content %}

{% include '_tabs_empire.html' %}

<h1>Estimation du coût d'entretien</h1>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">empire</div>
                <div class="row justify-content-between mb-1">
                    <div class="col-auto text-nowrap">
                        <span data-toggle="tooltip" title="Commandants">{{'commander'|icon}}</span>
                        Salaire des commandants
                    </div>
                    <div class="col-auto text-nowrap c-highlight">
                        <span data-toggle="tooltip" title="Crédits">{{'credit'|icon}}</span>
                        {{commanders_estimated_cost|intcomma}}
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto text-nowrap">
                        <span data-toggle="tooltip" title="Planètes">{{'planet'|icon}}</span>
                        Entretien des planètes
                    </div>
                    <div class="col-auto text-nowrap c-highlight">
                        <span data-toggle="tooltip" title="Crédits">{{'credit'|icon}}</span>
                        {{planets_estimated_cost|intcomma}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">population</div>
                <div class="row justify-content-between mb-1">
                    <div class="col-auto text-nowrap">
                        <span data-toggle="tooltip" data-html="true" title="<div>{{scientists_quantity|intcomma}} scientifiques</div><div>{{scientists_cost|intcomma}} crédits par scientifique</div>">{{'scientist'|icon}}</span>
                        Scientifiques
                    </div>
                    <div class="col-auto text-nowrap c-highlight">
                        <span data-toggle="tooltip" title="Crédits">{{'credit'|icon}}</span>
                        {{scientists_estimated_cost|intcomma}}
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto text-nowrap">
                        <span data-toggle="tooltip" data-html="true" title="<div>{{soldiers_quantity|intcomma}} soldats</div><div>{{soldiers_cost|intcomma}} crédits par soldat</div>">{{'soldier'|icon}}</span>
                        Soldats
                    </div>
                    <div class="col-auto text-nowrap c-highlight">
                        <span data-toggle="tooltip" title="Crédits">{{'credit'|icon}}</span>
                        {{soldiers_estimated_cost|intcomma}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">vaisseaux</div>
                <div class="row justify-content-between mb-1">
                    <div class="col-auto text-nowrap">
                        <span data-toggle="tooltip" data-html="true" title="<div>{{ships_signature|intcomma}} signature</div><div>{{ships_cost|intcomma}} crédits par signature</div>">{{'fleet'|icon}}</span>
                        En flotte
                    </div>
                    <div class="col-auto text-nowrap c-highlight">
                        <span data-toggle="tooltip" title="Crédits">{{'credit'|icon}}</span>
                        {{ships_estimated_cost|intcomma}}
                    </div>
                </div>
                <div class="row justify-content-between mb-1">
                    <div class="col-auto text-nowrap">
                        <span data-toggle="tooltip" data-html="true" title="<div>{{ships_in_position_signature|intcomma}} signature</div><div>{{ships_in_position_cost|intcomma}} crédits par signature</div>">{{'fleet'|icon}}</span>
                        En orbite ennemie
                    </div>
                    <div class="col-auto text-nowrap c-highlight">
                        <span data-toggle="tooltip" title="Crédits">{{'credit'|icon}}</span>
                        {{ships_in_position_estimated_cost|intcomma}}
                    </div>
                </div>
                <div class="row justify-content-between mb-1">
                    <div class="col-auto text-nowrap">
                        <span data-toggle="tooltip" data-html="true" title="<div>{{ships_parked_signature|intcomma}} signature</div><div>{{ships_parked_cost|intcomma}} crédits par signature</div>">{{'fleet'|icon}}</span>
                        Au sol
                    </div>
                    <div class="col-auto text-nowrap c-highlight">
                        <span data-toggle="tooltip" title="Crédits">{{'credit'|icon}}</span>
                        {{ships_parked_estimated_cost|intcomma}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col text-right">
        <span class="mr-2">Total</span>
        <span data-toggle="tooltip" title="Crédits">{{'credit'|icon}}</span>
        <span class="c-highlight">{{total|intcomma}}</span>
    </div>
</div>

{% endblock %}
