{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<script>
var fleetcapacity=0;
var fleetload={{fleet_load}};
var ships=new Array();

function updatecargo() {
	fleetcapacity = 0;

	for(i=0;i<ships.length;i++)
	{
		fleetcapacity = fleetcapacity + ships[i][1]*ships[i][2] + Math.min(getval("addship"+ships[i][0]), ships[i][3])*ships[i][1] - Math.min(getval("removeship"+ships[i][0]), ships[i][2])*ships[i][1];
	}

	var obj = document.getElementById("capacity");
	if(obj.innerHTML != fleetcapacity) obj.innerHTML = formatnumber(fleetcapacity);

	window.setTimeout("updatecargo()", 100);
}

function add_all() {
	for(i=0;i<ships.length;i++)
	{
		setval("addship"+ships[i][0], ships[i][3]);
	}
}

function remove_all() {
	for(i=0;i<ships.length;i++)
	{
		setval("removeship"+ships[i][0], ships[i][2]);
	}
}

function submitchanges() {
	if(fleetload > fleetcapacity)
	{
		alert("La capacité de votre flotte est plus faible que son chargement actuel");
		return false;
	}
	else
		document.forms.ships.submit();
}
</script>

<div id="fleetships">
<form method="post" action="/game/fleet-ships/?id={{fleetid}}" name="ships">{% csrf_token %}
<input type="hidden" name="transfer_ships" value="1">
<div class="box">
	<div class="box-body title"><div colspan="6">{{fleetname}} - Gestion des vaisseaux</div></div>
	<div class="box-body header"><div class="col"> Vaisseau</div><div class="col"> Cargo</div><div class="col"> Quantité</div><div class="col"> Retirer</div><div class="col"> Au sol</div><div class="col"> Ajouter</div></div>
	{% for ship in shiplist %}
	<div>
		<div class="col"> {{ship.name}}</div>
		<div align=right>{{ship.cargo_capacity|intcomma}}</div>
		<div align=right>{{ship.quantity|intcomma}}</div>
		<div class="col"> <input type="text" id="removeship{{ship.id}}" name="removeship{{ship.id}}" size=8> <a href="javascript:setval('removeship{{ship.id}}', {{ship.quantity}})">max</a></div>
		<div align=right>{{ship.available|intcomma}}</div>
		<div class="col"> <input type="text" id="addship{{ship.id}}" name="addship{{ship.id}}" size=8> <a href="javascript:setval('addship{{ship.id}}', {{ship.available}})">max</a></div>
		<script>ships.push(new Array({{ship.id}},{{ship.cargo_capacity}},{{ship.quantity}},{{ship.available}}));</script>
	</div>
	{% endfor %}
	<div>
		<div colspan=2>&nbsp;</div>
		<div colspan=2 align=center><a href="javascript:remove_all()">Tout retirer</a></div>
		<div colspan=2 align=center><a href="javascript:add_all()">Tout ajouter</a></div>
	</div>

	<div>
	<div class="col"> Capacité</div>
	<div colspan=6>
	<span id="load">{{fleet_load|intcomma}}</span> / <span id="capacity">{{fleet_capacity|intcomma}}</span> unités
	</div>
	</div>
	<div><div colspan=6 align=center>
	<input type="button" value="< Retour" onclick="javascript:window.location.href='/game/fleet/?id={{fleetid}}'">&nbsp;<input type="button" value="Transférer" onclick="javascript:submitchanges()">
	</div></div>
</div>
</form>
<script>window.setTimeout("updatecargo()", 100);</script>
</div>
{% endblock %}