{% load humanize %}

{% if fleets %}
    fleetList = [];
    
    {% for fleet in fleets %}
        fleetList.push(new Fleet({{fleet.id}}, '{{fleet.name}}', {{fleet.category}}, {{fleet.stance}}, {{fleet.size}}, {{fleet.signature}}, {{fleet.cargo_load}}, {{fleet.cargo_capacity}}, "{{fleet.action}}", {{fleet.time}}, '{{fleet.commander_name}}',
        				new Planet({{fleet.planet.id}}, '{{fleet.planet.name}}', {{fleet.planet.relation}}, "{{fleet.planet.g}}", "{{fleet.planet.s}}", "{{fleet.planet.p}}"),
        				new Planet({{fleet.dest.id}}, '{{fleet.dest.name}}', {{fleet.dest.relation}}, "{{fleet.dest.g}}", "{{fleet.dest.s}}", "{{fleet.dest.p}}"),
        				new Array(0{% for ship in fleet.ships %},new Ship('{{ship.label}}', {{ship.quantity}}){% endfor %}),
        				new Array(0{% for resource in fleet.resources %},new Resource({{resource.id}}, {{resource.quantity}}){% endfor %})));
    {% endfor %}
    
    displayCategory(activeCategory);
{% endif %}

{% if fleet_category_changed %}
    setFleetCategory({{id}}, {{old}}, {{new}});
{% endif %}

{% if category %}
    addCategory({{id}}, '{{label}}');
{% endif %}

{% if category_name_invalid %}
    alert('Nom de catégorie invalide');
{% endif %}
