{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
{% include '_tabs_empire.html' %}
<div id="fleets_ships_stats">
<div class="box">
<div class="box-body header"><div class="col"> Vaisseau</div"><div width=100>Détruits</div"><div width=100>Perdus</div></div>

{% if no_ship %}
<div><div colspan="3"><p class="error">Vous n'avez détruit et/ou perdu aucun vaisseau.</p></div></div>
{% endif %}

{% for category in cats %}
<div class="box-body category">
	<div colspan="3">
	{% if category.id == 10 %}Vaisseaux utilitaires{% endif %}
	{% if category.id == 11 %}Vaisseaux de déploiement{% endif %}
	{% if category.id == 15 %}Vaisseaux tactiques{% endif %}
	{% if category.id == 20 %}Vaisseaux légers{% endif %}
	{% if category.id == 30 %}Corvettes{% endif %}
	{% if category.id == 40 %}Frégates{% endif %}
	{% if category.id == 50 %}Croiseurs{% endif %}
	{% if category.id == 60 %}Dreadnought{% endif %}
	{% if category.id == 80 %}Titan{% endif %}
	{% if category.id == 90 %}Plateforme de défense{% endif %}
	&nbsp;
	</div>
</div>

{% for ship in category.ships %}
<div align="right" class="item">
<div nowrap align="left"><a href="/game/help/?cat=ships#{{ship.id}}"><b>{{ship.name}}</b></a></div>
<div align="right">{{ship.killed|intcomma}}</div>
<div align="right">{{ship.lost|intcomma}}</div>
</div>
{% endfor %}

{% endfor %}

{% if total %}
<div><div class="clear">&nbsp;</div"><div align="right">{{kills|intcomma}}</div"><div align="right">{{losses|intcomma}}</div></div>
{% endif %}

</div>
</div>
{% endblock %}