{% extends 'layout.html' %}

{% load humanize %}
{% block content %}
{% if header_credits %}
{% include 'header-credits.html' %}
{% endif %}
<script>
function setCargoLoad(value) { $('load').innerHTML = formatnumber(value); }

function load_all(o,h,s,so,w)
{
	setval('load_ore',o);
	setval('load_hydrocarbon',h);
	setval('load_scientists',s);
	setval('load_soldiers',so);
	setval('load_workers',w);
	return false;
}

function unload_all(o,h,s,so,w)
{
	setval('unload_ore',o);
	setval('unload_hydrocarbon',h);
	setval('unload_scientists',s);
	setval('unload_soldiers',so);
	setval('unload_workers',w);
	return false;
}

function showCargo(cargoOre, cargoHydrocarbon, cargoScientists, cargoSoldiers, cargoWorkers, canload, canunload)
{
	var s = "<div class=default width=600>"+
			"<div class="box-body category"><div colspan=3>Cargaison - Aucune action possible</div></div>"+
			"<div class="box-body header"><div width='1%'>Ressource</div><div class="col"> En soute</div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/ore.gif' title='Minerai' class=res width=16 height=16> Minerai</div"><div align=right>"+formatnumber(cargoOre)+"</div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/hydrocarbon.gif' title='Hydrocarbure' class=res width=16 height=16> Hydrocarbure</div"><div align=right>"+formatnumber(cargoHydrocarbon)+"</div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/scientists.gif' title='Scientifiques' class=res width=16 height=16> Scientifiques</div"><div align=right>"+formatnumber(cargoScientists)+"</div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/soldiers.gif' title='Soldats' class=res width=16 height=16> Soldats</div"><div align=right>"+formatnumber(cargoSoldiers)+"</div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/workers.gif' title='Travailleurs' class=res width=16 height=16> Travailleurs</div"><div align=right>"+formatnumber(cargoWorkers)+"</div></div>"+
			"</div>";
			$('cargobox').innerHTML = s;
}

function showLoad(planetOre, planetHydrocarbon, planetScientists, planetSoldiers, planetWorkers, cargoOre, cargoHydrocarbon, cargoScientists, cargoSoldiers, cargoWorkers)
{
	var s = "<form method=post action='/game/fleet-trade/?id={{fleetid}}' {% if t %}onsubmit='return transferResources()'{% endif %}>" + '{% csrf_token %}'+
			"<div class=default width=600>"+
			"<div class="box-body category"><div colspan=5>Cargaison - Chargement et déchargement possible</div></div>"+
			"<div class="box-body header"><div width='1%'>Ressource</div><div class="col"> En soute</div"><div width='1%'>Décharger</div><div class="col"> Disponible</div"><div width='1%'>Charger</div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/ore.gif' title='Minerai' class=res width=16 height=16> Minerai</div"><div align=right>"+formatnumber(cargoOre)+"</div"><div nowrap><input type=text name=unload_ore id=unload_ore value=0 size=6> <a href='#' onclick='setval(\"unload_ore\","+cargoOre+")'>max</a></div"><div align=right>"+formatnumber(planetOre)+"</div"><div nowrap><input type=text name=load_ore id=load_ore value=0 size=6> <a href='#' onclick='setval(\"load_ore\","+planetOre+")'>max</a></div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/hydrocarbon.gif' title='Hydrocarbure' class=res width=16 height=16> Hydrocarbure</div"><div align=right>"+formatnumber(cargoHydrocarbon)+"</div><div class="col"> <input type=text name=unload_hydrocarbon id=unload_hydrocarbon value=0 size=6> <a href='#' onclick='setval(\"unload_hydrocarbon\","+cargoHydrocarbon+")'>max</a></div"><div align=right>"+formatnumber(planetHydrocarbon)+"</div><div class="col"> <input type=text name=load_hydrocarbon id=load_hydrocarbon value=0 size=6> <a href='#' onclick='setval(\"load_hydrocarbon\","+planetHydrocarbon+")'>max</a></div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/scientists.gif' title='Scientifiques' class=res width=16 height=16> Scientifiques</div"><div align=right>"+formatnumber(cargoScientists)+"</div><div class="col"> <input type=text name=unload_scientists id=unload_scientists value=0 size=6> <a href='#' onclick='setval(\"unload_scientists\","+cargoScientists+")'>max</a></div"><div align=right>"+formatnumber(planetScientists)+"</div><div class="col"> <input type=text name=load_scientists id=load_scientists value=0 size=6> <a href='#' onclick='setval(\"load_scientists\","+planetScientists+")'>max</a></div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/soldiers.gif' title='Soldats' class=res width=16 height=16> Soldats</div"><div align=right>"+formatnumber(cargoSoldiers)+"</div><div class="col"> <input type=text name=unload_soldiers id=unload_soldiers value=0 size=6> <a href='#' onclick='setval(\"unload_soldiers\","+cargoSoldiers+")'>max</a></div"><div align=right>"+formatnumber(planetSoldiers)+"</div><div class="col"> <input type=text name=load_soldiers id=load_soldiers value=0 size=6> <a href='#' onclick='setval(\"load_soldiers\","+planetSoldiers+")'>max</a></div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/workers.gif' title='Travailleurs' class=res width=16 height=16> Travailleurs</div"><div align=right>"+formatnumber(cargoWorkers)+"</div><div class="col"> <input type=text name=unload_workers id=unload_workers value=0 size=6> <a href='#' onclick='setval(\"unload_workers\","+cargoWorkers+")'>max</a></div"><div align=right>"+formatnumber(planetWorkers)+"</div><div class="col"> <input type=text name=load_workers id=load_workers value=0 size=6> <a href='#' onclick='setval(\"load_workers\","+planetWorkers+")'>max</a></div></div>"+
			"<div><div class="col"> &nbsp;</div"><div colspan=2 align=center><a href='#' onclick='return unload_all("+cargoOre+","+cargoHydrocarbon+","+cargoScientists+","+cargoSoldiers+","+cargoWorkers+")'>Tout décharger</a></div"><div colspan=2 align=center><a href='#' onclick='return load_all("+planetOre+","+planetHydrocarbon+","+planetScientists+","+planetSoldiers+","+planetWorkers+")'>Tout charger</a></div></div>"+
			"<div><div colspan=5 align=center><input type=submit value='Transférer'></div></div>"+
			"</div>"+
			"</form>";
			$('cargobox').innerHTML = s;
}

function showUnload(cargoOre, cargoHydrocarbon, cargoScientists, cargoSoldiers, cargoWorkers, canload)
{
	var s = "<form method=post action='/game/fleet-trade/?id={{fleetid}}' {% if t %}onsubmit='return transferResources()'{% endif %}>" + '{% csrf_token %}'+
			"<div class=default width=600>"+
			"<div class="box-body category"><div colspan=3>Cargaison - Déchargement uniquement possible</div></div>"+
			"<div class="box-body header"><div width='1%'>Ressource</div><div class="col"> En soute</div"><div width='1%'>Décharger</div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/ore.gif' title='Minerai' class=res width=16 height=16> Minerai</div"><div align=right>"+formatnumber(cargoOre)+"</div"><div nowrap><input type=text name=unload_ore id=unload_ore value=0 size=6> <a href='#' onclick='setval(\"unload_ore\", "+cargoOre+")'>max</a></div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/hydrocarbon.gif' title='Hydrocarbure' class=res width=16 height=16> Hydrocarbure</div"><div align=right>"+formatnumber(cargoHydrocarbon)+"</div><div class="col"> <input type=text name=unload_hydrocarbon id=unload_hydrocarbon value=0 size=6> <a href='#' onclick='setval(\"unload_hydrocarbon\", "+cargoHydrocarbon+")'>max</a></div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/scientists.gif' title='Scientifiques' class=res width=16 height=16> Scientifiques</div"><div align=right>"+formatnumber(cargoScientists)+"</div><div class="col"> <input type=text name=unload_scientists id=unload_scientists value=0 size=6> <a href='#' onclick='setval(\"unload_scientists\", "+cargoScientists+")'>max</a></div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/soldiers.gif' title='Soldats' class=res width=16 height=16> Soldats</div"><div align=right>"+formatnumber(cargoSoldiers)+"</div><div class="col"> <input type=text name=unload_soldiers id=unload_soldiers value=0 size=6> <a href='#' onclick='setval(\"unload_soldiers\", "+cargoSoldiers+")'>max</a></div></div>"+
			"<div><div nowrap><img src='{{PATH_IMAGES}}/interface/workers.gif' title='Travailleurs' class=res width=16 height=16> Travailleurs</div"><div align=right>"+formatnumber(cargoWorkers)+"</div><div class="col"> <input type=text name=unload_workers id=unload_workers value=0 size=6> <a href='#' onclick='setval(\"unload_workers\", "+cargoWorkers+")'>max</a></div></div>"+
			"<div><div class="col"> &nbsp;</div"><div colspan=2 align=center><a href='#' onclick='return unload_all("+cargoOre+","+cargoHydrocarbon+","+cargoScientists+","+cargoSoldiers+","+cargoWorkers+")'>Tout décharger</a></div></div>"+
			"<div><div colspan=3 align=center><input type=submit value='Décharger'></div></div>"+
			"</div>"+
			"</form>";
			$('cargobox').innerHTML = s;
}

function setCargoMsg(msg){ $('cargobox').innerHTML = '<div class=default width=600><div><div align=center>'+msg+'</div></div></div>'; }
function openCargo(){ setCargoMsg('Ouverture du cargo en cours ...'); openURL("/game/fleet-trade/?id={{fleetid}}&a=open", evalResponse); }

function transferResources(){
	var params = "&load_ore=" + getval("load_ore") + "&load_hydrocarbon="+getval("load_hydrocarbon") + "&load_scientists="+getval("load_scientists")  + "&load_soldiers="+getval("load_soldiers") + "&load_workers="+getval("load_workers")+
				"&unload_ore=" + getval("unload_ore") + "&unload_hydrocarbon=" + getval("unload_hydrocarbon") + "&unload_scientists=" + getval("unload_scientists")  + "&unload_soldiers=" + getval("unload_soldiers") + "&unload_workers=" + getval("unload_workers");
	openURL("/game/fleet-trade/?id={{fleetid}}&a=open"+params, evalResponse);

	setCargoMsg('Transfert des ressources en cours ...');

	return false;
}

function setTravelTime(seconds)
{
	var traveleta_obj = document.getElementById("travel_eta");
	var traveltime_obj = document.getElementById("travel_time");

	if(seconds < 0)
	{
		var s = "<span class=impossible>Saut impossible</span>";
		if(traveltime_obj.innerHTML != s) traveltime_obj.innerHTML = s;

		traveleta_obj.innerHTML = "";
	}
	else
	{
		var s = formattime(seconds);
		if(traveltime_obj.innerHTML != s) traveltime_obj.innerHTML = s;
	}
}

function updatetravel() {
	window.setTimeout("updatetravel()", 100);
	var to_g = getval("g");

	if(to_g < 0){ to_g = 1; setval("g", 1); }

	var to_s = getval("s");

	if(to_s < 0){ to_s = 1; setval("s", 1); }
	if(to_s > 99){ to_s = 99; setval("s", 99); }

	var to_p = getval("p");

	if(to_p < 0){ to_p = 1; setval("p", 1); }
	if(to_p > 25){ to_p = 25; setval("p", 25); }


	var oTravelCost = document.getElementById("travel_cost");

	var cost = 0;
	var distance = 0;
	var time = 0;

	if({{g}} != to_g) {
		if({{fleet_real_signature}} > {{fleet_long_distance_capacity}}) {
			var s = "-";
			if(oTravelCost.innerHTML != s) oTravelCost.innerHTML = s;

			setTravelTime(-1);

			return;
		}

		distance = 200;
		time = {{fleet_required_vortex_strength}}*24*3600;
	}
	else {
		if({{s}} != to_s)
			distance = 6*Math.sqrt( Math.pow(Math.floor((to_s-1) / 10) - Math.floor(({{s}}-1)/10), 2) + Math.pow((to_s-1) % 10 - ({{s}}-1)%10, 2) );
		else
		if({{p}} != to_p)
			distance = Math.sqrt( Math.pow(Math.floor((to_p-1) / 5) - Math.floor(({{p}}-1)/5), 2) + Math.pow((to_p-1) % 5 - ({{p}}-1)%5, 2) );

		time = Math.floor(distance * (1000.0/{{fleet_speed}}) * 3600);
	}
	
	cost = Math.floor(distance / 200.0 * {{fleet_real_signature}});

	setTravelTime(time);

	if(distance > 0 && cost == 0) cost = 1;
	if(oTravelCost.innerHTML != cost) oTravelCost.innerHTML = formatnumber(cost);
}

var ships=new Array();

{% for ship in shiplist %}
ships[{{ship.id}}]=new Array('{{ship.description|escapejs}}','{{ship.ship_signature|intcomma}}','{{ship.ship_cargo|intcomma}}','{{ship.ship_speed|intcomma}}','{{ship.ship_handling|intcomma}}',{{ship.ship_turrets}},{{ship.ship_power}},'{{ship.ship_tracking_speed|intcomma}}','{{ship.ship_hull|intcomma}}','{{ship.ship_shield|intcomma}}','{{ship.ship_recycler_output|intcomma}}','{{ship.ship_long_distance_capacity|intcomma}}','{{ship.ship_droppods|intcomma}}');{% endfor %}

function descShip(id) {
	var ship = ships[id];
	var a = '<table><div valign="top"><div class="col"> <span class="title">Description</span><br/><br/>'+ship[0]+'</div"><div width="1%" nowrap><span class="title">Caractéristiques</span><br/>'+
			'<br/>Signature: <span class=value>'+ship[1]+'</span><br/>Cargo: <span class=value>'+ship[2]+'</span>'+
			'<br/>Vitesse: <span class=value>'+ship[3]+'</span><br/>Manœuvrabilité: <span class=value>'+ship[4]+'</span>';
	if(ship[6] > 0)
		a+= '<br/>Puissance d\'attaque: <span class=value>'+ship[5]+'x'+ship[6]+'</span><br/>Ciblage: <span class=value>'+ship[7]+'</span>';
	a+= '<br/>Armure: <span class=value>'+ship[8]+'</span>';
	if(ship[9] != "0")	a+= '<br/>Bouclier: <span class=value>'+ship[9]+'</span>';
	if(ship[10] != "0") a+= '<br/>Capacité de recyclage: <span class=value>'+ship[10]+'</span>';
	if(ship[11] != "0") a+= '<br/>Capacité de saut intergalactique: <span class=value>'+ship[11]+'</span>';
	if(ship[12] != "0") a+= '<br/>Capacité d\'invasion: <span class=value>'+ship[12]+'</span>';
	a+= '</div></div></div>';
	return a;
}
</script>
<script type="text/javascript" src='/scripts/third-party/tooltip.js?v=1'></script>
<script>
tipname = "hint";
tipwidth = 450;
tiptext = $("hinttext");
</script>

{% if display %}
{% if overview %}

{% if idle %}

<script>
function confirmAbandon() { return confirm('Êtes-vous sûr de vouloir abandonner la flotte "{{fleetname}" ?\r\nLes vaisseaux seront endommagés de telle sorte qu\'ils ne pourront être réutilisés !'); }
</script>

<div id=renamebox class=hidden>
	<form action='?id={{fleetid}}' method='post'>{% csrf_token %}
	<input type='hidden' name='action' value='rename'>
	<input type='text' name='newname' value='{{fleetname}}'>
	&nbsp;<input type=submit class=submit value='OK'>
	&nbsp;<img src='{{PATH_IMAGES}}/interface/close.gif' width=12 height=12 title='Fermer' class=close onclick='hide();'>
	</form>
</div>
{% endif %}
<div id=commandersbox class=hidden>
	<form action='?id={{fleetid}}' method='post'>{% csrf_token %}
	<input type='hidden' name='action' value='assigncommander'>
	<select name='commander'>
	{% if unassigncommander %}<option value='0'>Aucun</option>{% endif %}
	{% if nocommander %}<option value='0'>Aucun</option>{% endif %}
	{% for optgroup in optgroups %}<optgroup label='{% if optgroup.fleet %}sur Flottes{% endif %}{% if optgroup.planet %}sur Planètes{% endif %}{% if optgroup.none %}Non affectés{% endif %}'>
		{% for cmd_option in optgroup.cmd_options %}<option value={{cmd_option.cmd_id}}{% if cmd_option.selected %} selected{% endif %}>&middot;&nbsp;{{cmd_option.cmd_name}}{% if cmd_option.assigned %} ({{cmd_option.name}}){% endif %}{% if cmd_option.unavailable %} (Indisponible){% endif %}</option>{% endfor %}
	</optgroup>{% endfor %}x
	</select>
	&nbsp;<input type=submit class=submit value='OK'>
	&nbsp;<img src='{{PATH_IMAGES}}/interface/close.gif' width=12 height=12 title='Fermer' class=close onclick='hide()'>
	</form>
</div>
{% if showroute %}
<div id=routebox class=hidden>
	<form action='?id={{fleetid}}' method='post'>{% csrf_token %}
	<input type='hidden' name='action' value='assignroute'>
	<select name='route'>
	{% if noroute %}<option value='0'>Aucune</option>{% endif %}
	{% for route in routes %}<option value={{route.route_id}}{% if route.selected %} selected{% endif %}>&middot;&nbsp;{{route.route_name}}</option>{% endfor %}
	</select>
	&nbsp;<input type=submit class=submit value='OK'>
	&nbsp;<img src='{{PATH_IMAGES}}/interface/close.gif' width=12 height=12 title='Fermer' class=close onclick='hide()'>
	</form>
</div>
{% endif %}
{% if invade %}
<div id=invadebox class=hidden>
	<form action="?id={{fleetid}}" method="post">{% csrf_token %}
	<input type="hidden" name="action" value="invade">
	Envahir avec <input id="droppods" type="text" name="droppods" size="6" maxlength="6" align="right" value="{{fleet_droppods}}">&nbsp;soldats
	{% if can_take %}&nbsp;<input type="checkbox" id="take" name="take"> Occuper planète (<img src='{{PATH_IMAGES}}/interface/prestige.gif' title='Prestige' class="res" width="16" height="16"> {{prestige}}){% endif %}
	&nbsp;<input type="submit" class="submit" value="OK">
	&nbsp;<img src="{{PATH_IMAGES}}/interface/close.gif" width="12" height="12" title="Fermer" class="close" onclick="hide();">
	</form>
</div>
{% endif %}
{% endif %}
{% endif %}

<div cellpadding=0 cellspacing=0 width=850>
<div valign=top>

<div width=600>

{% if display %}
<div class="box">
{% if overview %}
<div class="box-body title"><div colspan=2 id="renameref">{% if attack %}<img src="{{PATH_IMAGES}}/interface/stance_attack.gif" class="stance" alt="Attaque" width="10" height="10"> {% endif %}{% if defend %}<img src="{{PATH_IMAGES}}/interface/stance_defend.gif" class="stance" alt="Riposte" width="10" height="10"> {% endif %}{{fleetname}}{% if idle %} - <a href="#" onclick="return show('renameref','renamebox')">Renommer</a> - <a href="?planet={{planetid}}&id={{fleetid}}&action=abandon" onclick="return confirmAbandon()">Abandonner</a>{% endif %}</div></div>
<div><div width='1%' nowrap>Action</div>
<div class="col"> 
<div class=left>
{% if recycling %}
Recyclage en cours près de <script>putplanet("{{planetid}}","{{planetname}}","{{g}}","{{s}}","{{p}}",{{relation}});</script> - (<script>putcountdown1({{time}}, 'Cycle terminé', '?id={{fleetid}}')</script>)
{% endif %}
{% if patrolling %}
En patrouille près de <script>putplanet("{{planetid}}","{{planetname}}","{{g}}","{{s}}","{{p}}",{{relation}});</script>
{% endif %}
{% if fighting %}
En combat près de <script>putplanet("{{planetid}}","{{planetname}}","{{g}}","{{s}}","{{p}}",{{relation}});</script>
{% endif %}
{% if moving %}
En transit{% if from %} de <script>putplanet("{{planetid}}","{{planetname}}","{{g}}","{{s}}","{{p}}",{{relation}});</script>{% endif %} vers <script>putplanet("{{t_planetid}}","{{t_planetname}}","{{t_g}}","{{t_s}}","{{t_p}}",{{t_relation}});</script> - (<script>putcountdown1({{time}}, 'Arrivé', '?id={{fleetid}}')</script>)
{% endif %}
{% if waiting %}
En attente (<script>putcountdown1({{time}}, 'Terminé', '?id={{fleetid}}')</script>)
{% endif %}
</div>
{% if warp %}
<div class=right><a href="?id={{fleetid}}&action=warp">Emprunter le vortex</a></div>
{% endif %}
{% if waiting %}
<div class=right><a href="?id={{fleetid}}&action=stopwaiting">Stopper</a></div>
{% endif %}
{% if actions %}
<div class=clear></div>
<ul class=requirements>
{% for action in actions %}
<li>
	{% if action.move %}Aller vers <script>putplanet("{{planetid}}","{{planetname}}","{{g}}","{{s}}","{{p}}",{{relation}});</script>{% endif %}
	{% if action.loadall %}Tout charger{% endif %}
	{% if action.unloadall %}Tout décharger{% endif %}
	{% if action.recycle %}Récolter les ressources{% endif %}
	{% if action.invade %}Envahir{% endif %}
	{% if action.waiting %}Attendre{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
</div>
</div>

<div><div nowrap>Attitude</div><div class="col"> 
<div class=left>{% if attack %}<img src="{{PATH_IMAGES}}/interface/stance_attack.gif" class="stance" alt="Attaque" width="10" height="10">Attaquer à vue{% endif %}{% if defend %}<img src="{{PATH_IMAGES}}/interface/stance_defend.gif" class="stance" alt="Riposte" width="10" height="10">Riposter aux attaques{% endif %} </div>
<div class=right>{% if setstance %}<a href="?id={{fleetid}}&action={% if setstance_attack %}attack{% endif %}{% if setstance_defend %}defend{% endif %}">{% if setstance_attack %}Attaquer{% endif %}{% if setstance_defend %}Riposter{% endif %}</a>{% endif %}{% if cant_setstance %}<span class="error" title="Les flottes non armées ne peuvent attaquer">Attaquer</span>{% endif %}</div>
</div></div>

<div><div nowrap>Commandement</div>
<div id="cmdref">
<div class=left>{{fleet_leadership|intcomma}}/{{fleet_size|intcomma}}, Efficacité: {{fleet_commander_efficiency}}%</div>
<div class=left>&nbsp;&nbsp;<img src="{{PATH_IMAGES}}/interface/commander.gif" class="smallres" width=10 height=6 title="Commandant">{% if nocommander %}-{% endif %}{% if commander %}{{commandername}}{% endif %}</div>
<div class=right><a href="#" onclick="return show('cmdref','commandersbox')">Changer</a></div>
</div></div>

{% if showroute %}
<div><div nowrap>Route</div>
<div id="routeref">
<div class=left>{% if noroute %}-{% endif %}{% if route %}{{route}}{% endif %}</div>
{% if idle %}
<div class=right><a href="#" onclick="return show('routeref','routebox')">Changer</a></div>
{% endif %}
</div></div>
{% endif %}

<tr{% if hide_recycling %} class="hidden"{% endif %}"><div nowrap>Recyclage</div>
<div class="col"> 
<div class=left>{{recycler_output|intcomma}} unités/heure</div>
{% if cant_recycle %}
<div class=right><span class="error">Recycler</span></div>
{% endif %}
{% if recycle %}
<div class=right><a href="?id={{fleetid}}&action=recycle">Recycler</a></div>
{% endif %}
{% if recycling %}
<div class=right><a href="?id={{fleetid}}&action=stoprecycling">Stopper</a></div>
{% endif %}
</div></div>

<tr{% if hide_droppods %} class="hidden"{% endif %}"><div nowrap>Barges d'invasion</div>
<div id="invaderef">
<div class=left>{{fleet_droppods|intcomma}} soldats</div>
{% if cant_invade %}
<div class=right><span class="error">Envahir</span></div>
{% endif %}
{% if invade %}
<div class=right><script>putcountdown2({{invade_time}},"Invasion possible dans ", '<a href="#" onclick=\'return show("invaderef","invadebox")\'>Envahir</a>');putcountdown1({{invade_time}},"","#")</script></div>
{% endif %}
</div></div>

<div><div nowrap>Saut intergalactique</div><td{% if insufficient_long_distance_capacity %} class="notenough"{% endif %}>Signature max: {{fleet_long_distance_capacity|intcomma}} / Stabilité requise: {{fleet_required_vortex_strength|intcomma}}</div></div>

<div><div nowrap>Signature</div>
<div class="col"> 
<div class=left>{{fleet_real_signature|intcomma}} (détectée: {{fleet_signature|intcomma}})</div>
{% if split %}
<div class=right><a href="/game/fleet-split/?id={{fleetid}}">Scinder</a></div>
{% endif %}
</div></div>

<div><div nowrap>Entretien</div>
<div class="col"> 
<div class=left><img src='{{PATH_IMAGES}}/interface/credits.gif' title='Credits' class=res width=16 height=16> {{fleet_upkeep|intcomma}} (x {{fleet_upkeep_multiplicator}})</div>
</div></div>

<div><div nowrap>Vitesse de la flotte</div>
<div class="col"> 
<div class=left>{{fleet_speed|intcomma}}</div>
{% if cancel_moving %}
<div class=right>Perte du contact : <script>putcountdown1({{timelimit}},"Effective"," ");</script>&nbsp;- <script>putcountdown2({{timelimit}},'<a href="?id={{fleetid}}&action=return">Annuler</a>', '');</script></div>
{% endif %}
</div></div>

<div><div nowrap>Partage</div>
<div class="col"> 
<div class=left>Flotte partagée à l'alliance: <a href="?id={{fleetid}}&action=share">{% if shared %}Oui{% endif %}{% if not_shared %}Non{% endif %}</a></div>
</div></div>

<tr{% if hide_cargo %} class="hidden"{% endif %}"><div nowrap>Cargaison</div><div class="col"> <span id="load">{{fleet_load|intcomma}}</span> / {{fleet_capacity|intcomma}} unités</div></div>

{% if error_trade %}<div class="box-body error"><div colspan=2>Impossible de marchander avec cette planète, ils n'ont pas les crédits pour acheter nos ressources.</div></div>{% endif %}
{% if error_recycling %}<div class="box-body error"><div colspan=2>Une de nos flottes est déjà en train de recycler dans les parages !</div></div>{% endif %}
{% if error_soldiers %}<div class="box-body error"><div colspan=2>Nombre de soldat incorrect !</div></div>{% endif %}
{% if error_fleet %}<div class="box-body error"><div colspan=2>La flotte n'est pas prête pour une invasion !</div></div>{% endif %}
{% if error_planet %}<div class="box-body error"><div colspan=2>Impossible d'envahir une planète inoccupée, alliée ou dans une alliance qui n'est pas en guerre contre nous !</div></div>{% endif %}
{% if error_max_planets_reached %}<div class="box-body error"><div colspan=2>Nombre maximal de colonisations atteint !</div></div>{% endif %}
{% if error_invade_enemy_ships %}<div class="box-body error"><div colspan=2>Impossible d'envahir tant que des vaisseaux militaires ennemis sont proches de la planète !</div></div>{% endif %}
{% if error_deploy_enemy_ships %}<div class="box-body error"><div colspan=2>Impossible de coloniser tant que des vaisseaux militaires ennemis sont proches de la planète !</div></div>{% endif %}
{% if error_deploy_safe_planets %}<div class="box-body error"><div colspan=2>Impossible de coloniser plus de planètes dans des galaxies protégées !</div></div>{% endif %}

{% endif %}

{% if move_fleet %}
<script>
var tab = new Array();

function fillDest(obj){
	var dest = obj.selectedIndex;
	setval("g",tab[dest][0]);
	setval("s",tab[dest][1]);
	setval("p",tab[dest][2]);	
}
function d(idx,name,g,s,p){tab[idx]=new Array(g,s,p);}
{% if planetgroup %}
{% for location in planetgroup %}d({{location.index}},'{{location.name}}',{{location.to_g}},{{location.to_s}},{{location.to_p}});{% endfor %}
{% endif %}

{% if fleetgroup %}
{% for location in fleetgroup %}d({{location.index}},'{{location.name}}',{{location.to_g}},{{location.to_s}},{{location.to_p}});{% endfor %}
{% endif %}

{% if merchantplanetsgroup %}
{% for location in merchantplanetsgroup %}d({{location.index}},'',{{location.to_g}},{{location.to_s}},{{location.to_p}});{% endfor %}
{% endif %}
</script>

<div class="box-body clear"><div colspan="2">&nbsp;</div></div>
<div class="box-body title"><div colspan="2">Déplacer la flotte</div></div>
<form method="post" action="?id={{fleetid}}">{% csrf_token %}
<input type="hidden" name="action" value="move">
<input type="hidden" name="loop" value="0">
<div>
	<div class="col"> Action</div>
	<div class="col"> <select name="movetype"><option value="0">Aller simple</option><option value="1">Aller décharger puis revenir</option><option value=2>Aller recycler puis revenir</option></select></div>
</div>
<div>
	<div class="col"> Destination</div>
	<div class="col"> 
		<input type="text" name="g" size=3 maxlength=2 value="{{g}}">&nbsp;<input type="text" name="s" size=3 maxlength=2 value="{{s}}">&nbsp;<input type="text" name="p" size=3 maxlength=2 value="{{p}}">&nbsp;

		<select name="planetlist" tabindex="1" onchange="fillDest(this)">
			{% if planetgroup %}<optgroup label="Planètes">
			{% for location in planetgroup %}<option{% if location.selected %} selected{% endif %}>{{location.name}} ({{location.to_g}}.{{location.to_s}}.{{location.to_p}})</option>{% endfor %}
			</optgroup>{% endif %}
			{% if fleetgroup %}<optgroup label="Vers Flottes">
			{% for location in fleetgroup %}<option{% if location.selected %} selected{% endif %}>{{location.fleet_name}} ({{location.to_g}}.{{location.to_s}}.{{location.to_p}})</option>{% endfor %}
			</optgroup>{% endif %}
			{% if merchantplanetsgroup %}<optgroup label="Planètes marchandes">
			{% for location in merchantplanetsgroup %}<option{% if location.selected %} selected{% endif %}>Marchand ({{location.to_g}}.{{location.to_s}}.{{location.to_p}})</option>{% endfor %}
			</optgroup>{% endif %}
		</select>
	</div>
</div>
<div>
	<div class="col"> Durée</div>
	<div class="col"> <span id="travel_time">-</span>&nbsp;<span id="travel_eta"></span></div>
</div>
<div>
	<div class="col"> Coût</div>
	<div class="col"> <img src="{{PATH_IMAGES}}/interface/credits.gif" class="res" title="Crédits" width=16 height=16><span id="travel_cost">0</span></div>
</div>
{% if result %}
<div><div colspan=4 align=center><span class="error">
{% if ok %}Flotte envoyée{% endif %}
{% if bad_destination %}Destination non valide{% endif %}
{% if new_player_protection %}Planète temporairement protégée{% endif %}
{% if long_travel_impossible %}Saut impossible{% endif %}
{% if not_enough_credits %}Pas assez de crédits{% endif %}
{% if error_jump_from_require_empty_location %}Impossible de sauter d'ici. Déplacez la flotte à proximité d'un vortex avant de sauter.{% endif %}
{% if error_jump_protected_galaxy %}Galaxie protégée{% endif %}
{% if error_jump_to_require_empty_location %}Impossible de sauter vers cette destination. Choisissez un vortex comme point d'arrivé.{% endif %}
{% if error_jump_to_same_point_limit_reached %}Trop de flottes sautent vers la même destination, utilisez des vortex avec stabilité suffisante.{% endif %}
</span></div></div>
{% endif %}
<div><div colspan=2 align=center><input type="submit" value="Envoyer"></div></div>
</form>
<script>window.setTimeout("updatetravel()", 500);</script>
{% endif %}
</div>
<br/>

<div class="left{% if hide_cargo %} hidden{% endif %}" id="cargobox"></div>
{% endif %}

</div>

<div class="col"> 

<div class=default width="100%">
<div class="box-body category"><div class="col"> {{fleetname}} ({{fleet_signature|intcomma}}){% if manage %} - <a href="/game/fleet-ships/?id={{fleetid}}">Gérer vaisseaux</a>{% endif %}{% if split %} - <a href="/game/fleet-split/?id={{fleetid}}">Scinder</a>{% endif %}</div>
{% for ship in shiplist %}
<div>
<div nowrap><div class=left><a href="/game/help/?cat=ships#{{ship.id}}" onmouseover="ddrivetip(descShip({{ship.id}}))" onmouseout="hideddrivetip()"><b>{{ship.name}}</b></a> x{{ship.quantity|intcomma}}</div>
	{% if ship.install %}
	<div class=right>&nbsp;<a href="?id={{fleetid}}&action=install&s={{ship.id}}">Déployer</a></div>
	{% endif %}
	{% if ship.cant_install %}
	<div class=right>&nbsp;<span class="error">Déployer</span></div>
	{% endif %}
</div></div>
{% endfor %}
</div>

<br/>

<div class="box">
<div class="box-body category"><div class="col"> Autres flottes</div></div>
{% for fleet in fleets %}
{% if fleet.playerfleet %}
<script>
var fleet{{fleet.id}}="<div width='100%'><div><div class="col"> <div id='stats'><div><span class='label'>Signature: </span><span class='value'>{{fleet.signature|intcomma}}</span></div><div><span class='label'>Vitesse: </span><span class='value'>{{fleet.speed|intcomma}}</span></div><div><span class='label'>Cargo: </span><span class='value'>{{fleet.cargo_load|intcomma}} / {{fleet.cargo_capacity|intcomma}}</span></div></div></div></div></div>";
</script>
<div><div class="col"> <a href="?id={{fleet.id}}" onmouseover="ddrivetip(fleet{{fleet.id}},200)" onmouseout="hideddrivetip()">{{fleet.name}}</a> ({{fleet.signature|intcomma}}){% if fleet.merge %} - <a href="?id={{fleetid}}&action=merge&with={{fleet.id}}">absorber</a>{% endif %}</div></div>
{% else %}
<div><div class="col"> <a title="Écrire à {{fleet.owner}}" href="/game/mails/?subject=À propos de la flotte {{fleet.name}}&to={{fleet.owner}}" class="{% if fleet.ally %}ally{% endif %}{% if fleet.friend %}friend{% endif %}{% if fleet.enemy %}enemy{% endif %}">{% if fleet.alliance %}[{{fleet.tag}}] {% endif %}{{fleet.name}}</a> (<script>document.write(({{fleet.signature}}>0)?'{{fleet.signature|intcomma}}':'indéterminé'); </script>)</div></div>
{% endif %}
{% endfor %}

{% if nofleets %}
<div><div align=center>Aucune</div></div>
{% endif %}
</div>

<br/>

</div>

</div>
</div>

<script>
openCargo();
</script>
{% endblock %}
