{% extends '_layout.html' %}

{% load humanize %}
{% load exile_tags %}

{% block content %}

<script>
    function load_all(o, h, s, so, w) {
        
    	setval('load_ore', o);
    	setval('load_hydrocarbon', h);
    	setval('load_scientists', s);
    	setval('load_soldiers', so);
    	setval('load_workers', w);
    	
    	return false;
    }

    function unload_all(o, h, s, so, w) {
        
    	setval('unload_ore', o);
    	setval('unload_hydrocarbon', h);
    	setval('unload_scientists', s);
    	setval('unload_soldiers', so);
    	setval('unload_workers', w);
    	
    	return false;
    }

    function showCargo(ore, hydro, scientists, soldiers, workers) {
        
    	var s = "<div style='margin-top:2rem;'>" +
    	        "<h1>Cargaison</h1>" +
    			"<div class='box'>" +
        			"<div class='box-item'>" +
            			"<div class='row'>" +
                			"<div class='col-6 col-md'><span data-toggle='tooltip' title='Minerai'" + '{{"ore"|icon}}' + "</span> <span class='c-highlight'>" + formatnumber(ore) + "</span></div>" +
                			"<div class='col-6 col-md'><span data-toggle='tooltip' title='Hydro'" + '{{"hydro"|icon}} ' + "</span> <span class='c-highlight'>" + formatnumber(hydro) + "</span></div>" +
                			"<div class='col-6 col-md'><span data-toggle='tooltip' title='Scientifique'" + '{{"scientist"|icon}} ' + "</span> <span class='c-highlight'>" + formatnumber(scientists) + "</span></div>" +
                			"<div class='col-6 col-md'><span data-toggle='tooltip' title='Soldat'" + '{{"soldier"|icon}} ' + "</span> <span class='c-highlight'>" + formatnumber(soldiers) + "</span></div>" +
                			"<div class='col-6 col-md'><span data-toggle='tooltip' title='Ouvrier'" + '{{"worker"|icon}} ' + "</span> <span class='c-highlight'>" + formatnumber(workers) + "</span></div>" +
            			"</div>" +
        			"</div>" +
    			"</div>" +
    			"</div>";
    	
    	document.write(s);
    }

    function showLoad(planetOre, planetHydrocarbon, planetScientists, planetSoldiers, planetWorkers, cargoOre, cargoHydrocarbon, cargoScientists, cargoSoldiers, cargoWorkers) {
    	var s = "<form method=post action='/game/fleet-trade/?id={{fleetid}}'>" + '{% csrf_token %}' +
    	        "<h1>Cargaison</h1>" + 
    			"<div class='row'>" +
        			"<div class='col'>" +
            			"<div class='box'>" +
                			"<div class='box-item'>" +
                			    "<div class='box-title'>déchargement</div>" +
                			    "<div class='row mb-1'>" +
                    			    "<div class='col text-nowrap'>" +
                    			        '<span data-toggle="tooltip" title="Minerai">{{"ore"|icon}}</span> ' +
                        			    "<input type=text name=unload_ore id=unload_ore value=0 size=6> " +
                        			    "<small>/" + formatnumber(cargoOre) + "</small> " +
                        			    "<a href='#' onclick='setval(\"unload_ore\"," + cargoOre + ")'>max</a>" +
                        			"</div>" +
                    			"</div>" +
                			    "<div class='row mb-1'>" +
                    			    "<div class='col text-nowrap'>" +
                    			        '<span data-toggle="tooltip" title="Hydro">{{"hydro"|icon}}</span> ' +
                        			    "<input type=text name=unload_hydrocarbon id=unload_hydrocarbon value=0 size=6> " +
                        			    "<small>/" + formatnumber(cargoHydrocarbon) + "</small> " +
                        			    "<a href='#' onclick='setval(\"unload_hydrocarbon\"," + cargoHydrocarbon + ")'>max</a>" +
                        			"</div>" +
                    			"</div>" +
                			    "<div class='row mb-1'>" +
                    			    "<div class='col text-nowrap'>" +
                            			'<span data-toggle="tooltip" title="Scientifiques">{{"scientist"|icon}}</span> ' +
                            			"<input type=text name=unload_scientists id=unload_scientists value=0 size=6> " +
                            			"<small>/" + formatnumber(cargoScientists) + "</small> " +
                            			"<a href='#' onclick='setval(\"unload_scientists\"," + cargoScientists + ")'>max</a>" +
                        			"</div>" +
                    			"</div>" +
                			    "<div class='row mb-1'>" +
                    			    "<div class='col text-nowrap'>" +
                            			'<span data-toggle="tooltip" title="Soldats">{{"soldier"|icon}}</span> ' +
                            			"<input type=text name=unload_soldiers id=unload_soldiers value=0 size=6> " +
                            			"<small>/" + formatnumber(cargoSoldiers) + "</small> " +
                            			"<a href='#' onclick='setval(\"unload_soldiers\"," + cargoSoldiers + ")'>max</a>" +
                        			"</div>" +
                    			"</div>" +
                			    "<div class='row mb-1'>" +
                    			    "<div class='col text-nowrap'>" +
                            			'<span data-toggle="tooltip" title="Ouvriers">{{"worker"|icon}}</span> ' +
                            			"<input type=text name=unload_workers id=unload_workers value=0 size=6> " +
                            			"<small>/" + formatnumber(cargoWorkers) + "</small> " +
                            			"<a href='#' onclick='setval(\"unload_workers\"," + cargoWorkers + ")'>max</a>" +
                        			"</div>" +
                    			"</div>" +
                			"</div>" +
            			"</div>" +
        			"</div>" +
        			"<div class='col'>" +
            			"<div class='box'>" +
                			"<div class='box-item'>" +
                			    "<div class='box-title'>chargement</div>" + 
                			    "<div class='row mb-1'>" +
                    			    "<div class='col text-nowrap'>" +
                    			        '<span data-toggle="tooltip" title="Minerai">{{"ore"|icon}}</span> ' +
                        			    "<input type=text name=load_ore id=load_ore value=0 size=6> " +
                        			    "<small>/" + formatnumber(planetOre) + "</small> " +
                        			    "<a href='#' onclick='setval(\"load_ore\"," + planetOre + ")'>max</a>" +
                        			"</div>" +
                    			"</div>" +
                			    "<div class='row mb-1'>" +
                    			    "<div class='col text-nowrap'>" +
                    			        '<span data-toggle="tooltip" title="Hydro">{{"hydro"|icon}}</span> ' +
                        			    "<input type=text name=load_hydrocarbon id=load_hydrocarbon value=0 size=6> " +
                        			    "<small>/" + formatnumber(planetHydrocarbon) + "</small> " +
                        			    "<a href='#' onclick='setval(\"load_hydrocarbon\"," + planetHydrocarbon + ")'>max</a>" +
                        			"</div>" +
                    			"</div>" +
                			    "<div class='row mb-1'>" +
                    			    "<div class='col text-nowrap'>" +
                            			'<span data-toggle="tooltip" title="Scientifiques">{{"scientist"|icon}}</span> ' +
                            			"<input type=text name=load_scientists id=load_scientists value=0 size=6> " +
                            			"<small>/" + formatnumber(planetScientists) + "</small> " +
                            			"<a href='#' onclick='setval(\"load_scientists\"," + planetScientists + ")'>max</a>" +
                        			"</div>" +
                    			"</div>" +
                			    "<div class='row mb-1'>" +
                    			    "<div class='col text-nowrap'>" +
                            			'<span data-toggle="tooltip" title="Soldats">{{"soldier"|icon}}</span> ' +
                            			"<input type=text name=load_soldiers id=load_soldiers value=0 size=6> " +
                            			"<small>/" + formatnumber(planetSoldiers) + "</small> " +
                            			"<a href='#' onclick='setval(\"load_soldiers\"," + planetSoldiers + ")'>max</a>" +
                        			"</div>" +
                    			"</div>" +
                			    "<div class='row mb-1'>" +
                    			    "<div class='col text-nowrap'>" +
                            			'<span data-toggle="tooltip" title="Ouvriers">{{"worker"|icon}}</span> ' +
                            			"<input type=text name=load_workers id=load_workers value=0 size=6> " +
                            			"<small>/" + formatnumber(planetWorkers) + "</small> " +
                            			"<a href='#' onclick='setval(\"load_workers\"," + planetWorkers + ")'>max</a>" +
                        			"</div>" +
                    			"</div>" +
                			"</div>" +
            			"</div>" +
        			"</div>" +
    			"</div>" +
    			"<div class='box'>" +
        			"<div class='box-item text-right'>" +
            			"<a href='#' onclick='return unload_all(" + cargoOre + "," + cargoHydrocarbon + "," + cargoScientists + "," + cargoSoldiers + "," + cargoWorkers + ")'>Tout décharger</a>" +
            			" &middot; " +
            			"<a href='#' onclick='return load_all(" + planetOre + "," + planetHydrocarbon + "," + planetScientists + "," + planetSoldiers + "," + planetWorkers + ")'>Tout charger</a>" +
            			"<input class='ml-2' type='submit' value='Transférer'>" +
        			"</div>" +
    			"</div>" +
    			"</form>";
    	document.write(s);
    }

    function showUnload(cargoOre, cargoHydrocarbon, cargoScientists, cargoSoldiers, cargoWorkers, canload) {
    	var s = "<form method=post action='/game/fleet-trade/?id={{fleetid}}'>" + '{% csrf_token %}'+
    	        "<h1>Cargaison - Déchargement uniquement possible</h1>"
    			"<div class='box'>"+
    			"<tr><td nowrap>" + '{{"ore"|icon}}' + "Minerai</td><td align=right>"+formatnumber(cargoOre)+"</td><td nowrap><input type=text name=unload_ore id=unload_ore value=0 size=6> <a href='#' onclick='setval(\"unload_ore\", "+cargoOre+")'>max</a></td></tr>"+
    			"<tr><td nowrap><img src='{{PATH_IMAGES}}/interface/hydrocarbon.gif' title='Hydrocarbure' class=res width=16 height=16> Hydrocarbure</td><td align=right>"+formatnumber(cargoHydrocarbon)+"</td><td><input type=text name=unload_hydrocarbon id=unload_hydrocarbon value=0 size=6> <a href='#' onclick='setval(\"unload_hydrocarbon\", "+cargoHydrocarbon+")'>max</a></td></tr>"+
    			"<tr><td nowrap><img src='{{PATH_IMAGES}}/interface/scientists.gif' title='Scientifiques' class=res width=16 height=16> Scientifiques</td><td align=right>"+formatnumber(cargoScientists)+"</td><td><input type=text name=unload_scientists id=unload_scientists value=0 size=6> <a href='#' onclick='setval(\"unload_scientists\", "+cargoScientists+")'>max</a></td></tr>"+
    			"<tr><td nowrap><img src='{{PATH_IMAGES}}/interface/soldiers.gif' title='Soldats' class=res width=16 height=16> Soldats</td><td align=right>"+formatnumber(cargoSoldiers)+"</td><td><input type=text name=unload_soldiers id=unload_soldiers value=0 size=6> <a href='#' onclick='setval(\"unload_soldiers\", "+cargoSoldiers+")'>max</a></td></tr>"+
    			"<tr><td nowrap><img src='{{PATH_IMAGES}}/interface/workers.gif' title='Travailleurs' class=res width=16 height=16> Travailleurs</td><td align=right>"+formatnumber(cargoWorkers)+"</td><td><input type=text name=unload_workers id=unload_workers value=0 size=6> <a href='#' onclick='setval(\"unload_workers\", "+cargoWorkers+")'>max</a></td></tr>"+
    			"<tr><td>&nbsp;</td><td colspan=2 align=center><a href='#' onclick='return unload_all("+cargoOre+","+cargoHydrocarbon+","+cargoScientists+","+cargoSoldiers+","+cargoWorkers+")'>Tout décharger</a></td></tr>"+
    			"<tr><td colspan=3 align=center><input type=submit value='Décharger'></td></tr>"+
    			"</div>"+
    			"</form>";
    			document.write(s);
    }

    function transferResources() {
    	var params = "&load_ore=" + getval("load_ore") + "&load_hydrocarbon="+getval("load_hydrocarbon") + "&load_scientists="+getval("load_scientists")  + "&load_soldiers="+getval("load_soldiers") + "&load_workers="+getval("load_workers")+
    				"&unload_ore=" + getval("unload_ore") + "&unload_hydrocarbon=" + getval("unload_hydrocarbon") + "&unload_scientists=" + getval("unload_scientists")  + "&unload_soldiers=" + getval("unload_soldiers") + "&unload_workers=" + getval("unload_workers");
    	openURL("/game/fleet-trade/?id={{fleetid}}&a=open"+params, evalResponse);
    	setCargoMsg('Transfert des ressources en cours ...');
    	return false;
    }

    var ships = new Array();
    {% for ship in ships %}
        ships[{{ship.id}}] = new Array('{{ship.description|escapejs}}', '{{ship.signature|intcomma}}', '{{ship.cargo|intcomma}}', '{{ship.speed|intcomma}}', '{{ship.handling|intcomma}}', {{ship.turrets}}, {{ship.power}}, '{{ship.tracking_speed|intcomma}}', '{{ship.hull|intcomma}}', '{{ship.shield|intcomma}}', '{{ship.recycler_output|intcomma}}', '{{ship.long_distance_capacity|intcomma}}', '{{ship.droppods|intcomma}}');
    {% endfor %}

    function descShip(id) {
        
    	var ship = ships[id];
    	
    	var a = "<i class='fas fa-fw fa-paper-plane' data-toggle='tooltip' data-html='true' title='" +
    	            '<div class="row">' +
        	            '<div class="col">' +
        	                '<h6>Description</h6>' +
        	                ship[0].replace("'", " ") +
        	            '</div>' +
        	            '<div class="col-auto">' +
        	                '<h6>Caractéristiques</h6>' +
        	                '<div><small class="mr-2">signature</small> <span class="c-highlight">' + ship[1] + '</span></div>' + 
        	                '<div><small class="mr-2">cargo</small> <span class="c-highlight">' + ship[2] + '</span></div>' + 
        	                '<div><small class="mr-2">vitesse</small> <span class="c-highlight">' + ship[3] + '</span></div>' + 
        	                '<div><small class="mr-2">manœuvrabilité</small> <span class="c-highlight">' + ship[4] + '</span></div>';
                            if (ship[6] > 0) a += '<div><small class="mr-2">puissance</small> <span class="c-highlight">' + ship[5] + '</span> x <span class="c-highlight">' + ship[6] + '</span></div>';
                            if (ship[6] > 0) a += '<div><small class="mr-2">ciblage</small> <span class="c-highlight">' + ship[7] + '</span></div>';
                            a += '<div><small class="mr-2">armure</small> <span class="c-highlight">' + ship[8] + '</span></div>';
                            if (ship[9] != "0") a += '<div><small class="mr-2">bouclier</small> <span class="c-highlight">' + ship[9] + '</span></div>';
                            if (ship[10] != "0") a += '<div><small class="mr-2">recyclage</small> <span class="c-highlight">' + ship[10] + '</span></div>';
                            if (ship[11] != "0") a += '<div><small class="mr-2">saut intergalactique</small> <span class="c-highlight">' + ship[11] + '</span></div>';
                            if (ship[12] != "0") a += '<div><small class="mr-2">invasion</small> <span class="c-highlight">' + ship[12] + '</span></div>';
    	            a += '</div>' +
    	            '</div>' +
    	        "'></i>";
    	
    	document.write(a);
    }
</script>
    
{% if idle %}
<script>function confirmAbandon() { return confirm('Êtes-vous sûr de vouloir abandonner la flotte "{{fleetname}" ?\r\nLes vaisseaux seront endommagés de telle sorte qu\'ils ne pourront être réutilisés !'); }</script>

<div id=renamebox class=hidden>
	<form action='?id={{fleetid}}' method='post'>{% csrf_token %}
	<input type='hidden' name='action' value='rename'>
	<input type='text' name='newname' value='{{fleetname}}'>
	&nbsp;<input type=submit class=submit value='OK'>
	&nbsp;<img src='{{PATH_IMAGES}}/interface/close.gif' width=12 height=12 title='Fermer' class=close onclick='hide();'>
	</form>
</div>
{% endif %}
    
<div id=commandersbox class=hidden>
	<form action='?id={{fleetid}}' method='post'>{% csrf_token %}
	<input type='hidden' name='action' value='assigncommander'>
	<select name='commander'>
	<option value='0'>Aucun</option>
	{% for optgroup in optgroups %}
	<optgroup label='{% if optgroup.fleet %}sur Flottes{% endif %}{% if optgroup.planet %}sur Planètes{% endif %}{% if optgroup.none %}Non affectés{% endif %}'>
		{% for cmd_option in optgroup.cmd_options %}<option value={{cmd_option.cmd_id}}{% if cmd_option.selected %} selected{% endif %}>&middot;&nbsp;{{cmd_option.cmd_name}}{% if cmd_option.assigned %} ({{cmd_option.name}}){% endif %}{% if cmd_option.unavailable %} (Indisponible){% endif %}</option>{% endfor %}
	</optgroup>
	{% endfor %}
	</select>
	&nbsp;<input type=submit class=submit value='OK'>
	&nbsp;<img src='{{PATH_IMAGES}}/interface/close.gif' width=12 height=12 title='Fermer' class=close onclick='hide()'>
	</form>
</div>

{% if invade %}
<div id=invadebox class=hidden>
	<form action="?id={{fleetid}}" method="post">{% csrf_token %}
	<input type="hidden" name="action" value="invade">
	Envahir avec <input id="droppods" type="text" name="droppods" size="6" maxlength="6" align="right" value="{{fleet_droppods}}">&nbsp;soldats
	{% if can_take %}&nbsp;<input type="checkbox" id="take" name="take"> Occuper planète (<img src='{{PATH_IMAGES}}/interface/prestige.gif' title='Prestige' class="res" width="16" height="16"> {{prestige}}){% endif %}
	&nbsp;<input type="submit" class="submit" value="OK">
	&nbsp;<img src="{{PATH_IMAGES}}/interface/close.gif" width="12" height="12" title="Fermer" class="close" onclick="hide();">
	</form>
</div>
{% endif %}

<h1 class="d-flex align-items-center">
    <span class="c-highlight mr-auto">{{fleet.name}}</span>
    {% if fleet.is_patrolling %}
    <div style="text-transform:none; font-size:normal;">
        <a href="?planet={{fleet.planet.id}}&id={{fleet.id}}&action=abandon" onclick="return confirmAbandon()">Abandonner</a>
        &middot; 
        <a href="#" onclick="return show('renameref','renamebox')">Renommer</a>
        {% if fleet.can_manage %}&middot; <a href="/game/fleet_ships/?id={{fleet.id}}">Gérer</a>{% endif %}
        {% if fleet.can_split %}&middot; <a href="/game/fleet_split/?id={{fleet.id}}">Scinder</a>{% endif %}
    </div>
    {% endif %}
</h1>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">action</div>
                <div class="row">
                    {% if fleet.is_recycling %}
                        <div class="col"><span class="c-highlight">En recyclage</span> &middot; <script>putplanet("{{fleet.planet.id}}","{{fleet.planet.name}}","{{fleet.planet.g}}","{{fleet.planet.s}}","{{fleet.planet.p}}",{{fleet.planet.relation}});</script> &middot; <script>putcountdown1({{fleet.remaining_time}}, 'Cycle terminé', '?id={{fleet.id}}')</script></div>
                        <div class="col-auto"><a href="?id={{fleet.id}}&action=stoprecycling">Stopper</a></div>
                    {% elif fleet.is_patrolling %}
                        <div class="col"><span class="c-highlight">En patrouille</span> &middot; <script>putplanet("{{fleet.planet.id}}","{{fleet.planet.name}}","{{fleet.planet.g}}","{{fleet.planet.s}}","{{fleet.planet.p}}",{{fleet.planet.relation}});</script></div>
                        {% if fleet.can_warp %}<div class="col-auto"><a href="?id={{fleet.id}}&action=warp">Emprunter le vortex</a></div>{% endif %}
                    {% elif fleet.is_fighting %}
                        <div class="col"><span class="c-highlight">En combat</span> &middot; <script>putplanet("{{fleet.planet.id}}","{{fleet.planet.name}}","{{fleet.planet.g}}","{{fleet.planet.s}}","{{fleet.planet.p}}",{{fleet.planet.relation}});</script></div>
                    {% elif fleet.is_moving %}
                        <div class="col"><span class="c-highlight">En transit</span> &middot; <script>putplanet("{{fleet.planet.id}}","{{fleet.planet.name}}","{{fleet.planet.g}}","{{fleet.planet.s}}","{{fleet.planet.p}}",{{fleet.planet.relation}});</script> &middot; <script>putplanet("{{fleet.destination.id}}","{{fleet.destination.name}}","{{fleet.destination.g}}","{{fleet.destination.s}}","{{fleet.destination.p}}",{{fleet.destination.relation}});</script> &middot; <script>putcountdown1({{fleet.remaining_time}}, 'Arrivée', '?id={{fleet.id}}')</script></div>
                        {% if fleet.returning_timelimit %}<div class="col-auto">Perte de contact <script>putcountdown1({{fleet.returning_timelimit}}, "Effective"," ");</script> &middot; <script>putcountdown2({{fleet.returning_timelimit}}, '<a href="?id={{fleet.id}}&action=return">Annuler</a>', '');</script></div>{% endif %}
                    {% elif fleet.is_waiting %}
                        <div class="col"><span class="c-highlight">En attente</span> &middot; <script>putcountdown1({{fleet.remaining_time}}, 'Terminé', '?id={{fleet.id}}')</script></div>
                        <div class="col-auto"><a href="?id={{fleet.id}}&action=stopwaiting">Stopper</a></div>
                    {% endif %}
                </div>
                {% if actions %}
                <ul>
                    {% for action in actions %}
                    <li>
                    	{% if action.move %}Aller vers <script>putplanet("{{action.planet.id}}","{{action.planet.name}}","{{action.planet.g}}","{{action.planet.s}}","{{action.planet.p}}",{{action.planet.relation}});</script>
                    	{% elif action.loadall %}Tout charger
                    	{% elif action.unloadall %}Tout décharger
                    	{% elif action.recycle %}Récolter les ressources
                    	{% elif action.invade %}Envahir
                    	{% elif action.waiting %}Attendre{% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">attitude</div>
                <div class="row">
                    <div class="col c-highlight">
                        {% if fleet.stance %}<span data-toggle="tooltip" title="Mode attaque">{{'attack'|icon}}</span> Mode attaque
                        {% else %}<span data-toggle="tooltip" title="Mode riposte">{{'defense'|icon}}</span> Mode riposte
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        {% if fleet.is_military %}
                            {% if not fleet.is_fighting %}
                            <a href="?id={{fleet.id}}&action={% if fleet.stance %}defend{% else %}attack{% endif %}">{% if fleet.stance %}Riposter{% else %}Attaquer{% endif %}</a>
                            {% endif %}
                        {% else %}
                        <span class="c-danger" title="Les flottes non armées ne peuvent attaquer">Attaquer</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">commandant</div>
                <div class="row" id="cmdref">
                    <div class="col">
                        <span class="mr-2"><span data-toggle="tooltip" title="Commandant">{{'commander'|icon}}</span> {% if commander %}<span class="c-highlight">{{commander.name}}</span>{% else %}-{% endif %}</span>
                        <span class="mr-2"><span class="c-highlight">{{fleet.leadership|intcomma}}</span> <small>/{{fleet.size|intcomma}}</small></span>
                        <span class="mr-2"><small>efficacité</small> <span class="c-highlight">{{fleet.commander_efficiency}}%</span></span>
                    </div>
                    <div class="col-auto"><a href="#" onclick="return show('cmdref','commandersbox')">Changer</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 {% if recycler_output <= 0 %}hidden{% endif %}">
        <div class="box">
            <div class="box-item">
                <div class="box-title">recyclage</div>
                <div class="row">
                    <div class="col c-highlight">{{fleet.recycler_output|intcomma}} <small class="c-normal">unités /heure</small></div>
                    {% if fleet.can_recycle %}<div class="col-auto"><a href="?id={{fleet.id}}&action=recycle">Recycler</a></div>
                    {% else %}<div class="col-auto"><span class="c-danger">Recycler</span></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 {% if fleet_droppods <= 0 %}hidden{% endif %}">
        <div class="box">
            <div class="box-item">
                <div class="box-title">barges d'invasion</div>
                <div class="row" id="invaderef">
                    <div class="col c-highlight">{{fleet.droppods|intcomma}} <small class="c-normal">soldats</small></div>
                    {% if fleet.can_invade %}<div class="col-auto"><script>putcountdown2({{fleet.invade_time}}, "Invasion possible dans ", '<a href="#" onclick=\'return show("invaderef","invadebox")\'>Envahir</a>'); putcountdown1({{fleet.invade_time}}, "", "#")</script></div>
                    {% else %}<div class="col-auto"><span class="c-danger">Envahir</span></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">saut intergalactique</div>
                <span>signature max <span class="{% if fleet.real_signature > fleet.long_distance_capacity %}c-danger{% else %}c-highlight{% endif %}">{{fleet.long_distance_capacity|intcomma}}</span></span>
                <span class="ml-2">stabilité requise <span class="c-highlight">{{fleet.required_vortex_strength|intcomma}}</span></span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">signature</div>
                <span class="c-highlight">{{fleet.real_signature|intcomma}}</span>
                <small class="ml-2 c-highlight">{{fleet.signature|intcomma}}</small>
                <small>détectée</small>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">entretien</div>
                <span class="c-highlight"><span data-toggle="tooltip" title="Crédit">{{'credit'|icon}}</span> {{fleet.upkeep|intcomma}} <small class="c-normal">x</small> {{fleet.upkeep_multiplicator}}</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">vitesse</div>
                <span class="c-highlight">{{fleet.speed|intcomma}}</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="box-title">partage</div>
                <span>Flotte partagée à l'alliance <a href="?id={{fleet.id}}&action=share">{% if fleet.is_shared %}Oui{% else %}Non{% endif %}</a></span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 {% if fleet_capacity <= 0 %}hidden{% endif %}">
        <div class="box">
            <div class="box-item">
                <div class="box-title">cargaison</div>
                <span class="c-highlight">{{fleet.load|intcomma}}</span>
                <small>/{{fleet.capacity|intcomma}} unités</small>
            </div>
        </div>
    </div>
</div>

{% if fleet.is_patrolling %}
    <script>
        var tab = new Array();
        
        function fillDest(obj) {
            
        	var dest = obj.selectedIndex;
        	
        	setval("g", tab[dest][0]);
        	setval("s", tab[dest][1]);
        	setval("p", tab[dest][2]);	
        }
        
        function d(idx, name, g, s, p) { tab[idx] = new Array(g, s, p); }
        
        {% if planetgroup %}
            {% for location in planetgroup %}d({{forloop.counter0}}, '{{location.name}}', {{location.g}}, {{location.s}}, {{location.p}});{% endfor %}
        {% endif %}
        
        {% if fleetgroup %}
            {% for location in fleetgroup %}d({{forloop.counter0}}, '{{location.name}}', {{location.g}}, {{location.s}}, {{location.p}});{% endfor %}
        {% endif %}
        
        {% if merchantplanetsgroup %}
            {% for location in merchantplanetsgroup %}d({{forloop.counter0}}, '', {{location.g}}, {{location.s}}, {{location.p}});{% endfor %}
        {% endif %}
        
        function setTravelTime(seconds) {
            
        	var traveleta_obj = document.getElementById("travel_eta");
        	var traveltime_obj = document.getElementById("travel_time");
        
        	if (seconds < 0) {
        	    
        		var s = "<span class='c-danger'>Saut impossible</span>";
        		if (traveltime_obj.innerHTML != s) traveltime_obj.innerHTML = s;
        		traveleta_obj.innerHTML = "";
        	}
        	else {
        	    
        		var s = formattime(seconds);
        		if (traveltime_obj.innerHTML != s) traveltime_obj.innerHTML = s;
        	}
        }
    
        function updatetravel() {
            
        	window.setTimeout("updatetravel()", 100);
        	
        	var to_g = getval("g");
        	if (to_g < 0) { to_g = 1; setval("g", 1); }
        
        	var to_s = getval("s");
        	if (to_s < 0) { to_s = 1; setval("s", 1); }
        	if (to_s > 99) { to_s = 99; setval("s", 99); }
        
        	var to_p = getval("p");
        	if (to_p < 0) { to_p = 1; setval("p", 1); }
        	if (to_p > 25) { to_p = 25; setval("p", 25); }
        
        	var oTravelCost = document.getElementById("travel_cost");
        
        	var time = 0;
        	var cost = 0;
        	var distance = 0;
        
        	if ({{fleet.planet.g}} != to_g) {
        	    
        		if ({{fleet.real_signature}} > {{fleet.long_distance_capacity}}) {
        			
        			if (oTravelCost.innerHTML != "-") oTravelCost.innerHTML = "-";
        			setTravelTime(-1);
        			return;
        		}
        
        		distance = 200;
        		time = {{fleet.required_vortex_strength}} * 24 * 3600;
        	}
        	else {
        		if ({{fleet.planet.s}} != to_s)
        			distance = 6 * Math.sqrt(Math.pow(Math.floor((to_s - 1) / 10) - Math.floor(({{fleet.planet.s}} - 1) / 10), 2) + Math.pow((to_s - 1) % 10 - ({{fleet.planet.s}} - 1) % 10, 2));
        			
        		else if ({{fleet.planet.p}} != to_p)
        			distance = Math.sqrt(Math.pow(Math.floor((to_p - 1) / 5) - Math.floor(({{fleet.planet.p}} - 1) / 5), 2) + Math.pow((to_p - 1) % 5 - ({{fleet.planet.p}} - 1) % 5, 2));
        
        		time = Math.floor(distance * (1000.0 / {{fleet.speed}}) * 3600);
        	}
        	
        	cost = Math.floor(distance / 200.0 * {{fleet.real_signature}});
        
        	setTravelTime(time);
        
        	if (distance > 0 && cost == 0) cost = 1;
        	if (oTravelCost.innerHTML != cost) oTravelCost.innerHTML = formatnumber(cost);
        }
    </script>
    
    <h1>Déplacer la flotte</h1>
    <form method="post" action="?id={{fleet.id}}">{% csrf_token %}
        <input type="hidden" name="action" value="move">
        <input type="hidden" name="loop" value="0">
        <div class="box row align-items-center">
            <div class="box-item col-12 col-md-auto">
            	<div class="box-title">action</div>
            	<select name="movetype" class="w-100">
            	    <option value="0">Aller simple</option>
            	    <option value="1">Aller décharger puis revenir</option>
            	    <option value="2">Aller recycler puis revenir</option>
                </select>
            </div>
            <div class="box-item col-12 col-md-auto">
            	<div class="box-title">destination</div>
            	<div class="row flex-nowrap">
            		<div class="col-auto"><input type="text" name="g" size=3 maxlength=2 value="{{fleet.planet.g}}"></div>
            		<div class="col-auto"><input type="text" name="s" size=3 maxlength=2 value="{{fleet.planet.s}}"></div>
            		<div class="col-auto"><input type="text" name="p" size=3 maxlength=2 value="{{fleet.planet.p}}"></div>
            		<div class="col">
                		<select name="planetlist" tabindex="1" onchange="fillDest(this)" class="w-100">
                			{% if planetgroup %}
                			<optgroup label="Planètes">
                			    {% for location in planetgroup %}<option{% if location.selected %} selected{% endif %}>{{location.name}} ({{location.g}}.{{location.s}}.{{location.p}})</option>{% endfor %}
                			</optgroup>
                			{% endif %}
                			{% if fleetgroup %}
                			<optgroup label="Vers Flottes">
                			    {% for location in fleetgroup %}<option{% if location.selected %} selected{% endif %}>{{location.name}} ({{location.g}}.{{location.s}}.{{location.p}})</option>{% endfor %}
                			</optgroup>
                			{% endif %}
                			{% if merchantplanetsgroup %}
                			<optgroup label="Planètes marchandes">
                			    {% for location in merchantplanetsgroup %}<option{% if location.selected %} selected{% endif %}>Marchand ({{location.g}}.{{location.s}}.{{location.p}})</option>{% endfor %}
                			</optgroup>
                			{% endif %}
                		</select>
            		</div>
        		</div>
            </div>
            <div class="box-item col-4 col-md">
            	<div class="box-title">durée</div>
            	<div class="c-highlight"><span id="travel_time">-</span> <span id="travel_eta"></span></div>
            </div>
            <div class="box-item col-4 col-md">
            	<div class="box-title">coût</div>
            	<div class="c-highlight"><span data-toggle="tooltip" title="Crédit">{{'credit'|icon}}</span> <span id="travel_cost">0</span></div>
            </div>
            <div class="box-item col-4 col-md text-right">
                <input type="submit" value="Envoyer">
            </div>
        </div>
    </form>
    
    <script>window.setTimeout("updatetravel()", 500);</script>
{% endif %}

{% if fleet.is_patrolling %}
    {% if fleet.planet.relation == 2 %}
        <script>showLoad({{fleet.planet.ore}}, {{fleet.planet.hydro}}, {{fleet.planet.scientists}}, {{fleet.planet.soldiers}}, {{fleet.planet.workers}}, {{fleet.ore}}, {{fleet.hydrocarbon}}, {{fleet.scientists}}, {{fleet.soldiers}}, {{fleet.workers}});</script>
    {% elif fleet.planet.relation == 1 or fleet.planet.relation == 0 or fleet.planet.relation == -1 %}
        <script>showUnload({{fleet.ore}}, {{fleet.hydrocarbon}}, {{fleet.scientists}}, {{fleet.soldiers}}, {{fleet.workers}});</script>
    {% else %}
        <script>showCargo({{fleet.ore}}, {{fleet.hydrocarbon}}, {{fleet.scientists}}, {{fleet.soldiers}}, {{fleet.workers}});</script>
    {% endif %}
{% else %}
    <script>showCargo({{fleet.ore}}, {{fleet.hydrocarbon}}, {{fleet.scientists}}, {{fleet.soldiers}}, {{fleet.workers}});</script>
{% endif %}

<h1 style="margin-top:2rem;">Vaisseaux</h1>
<div class="row">
    {% for ship in ships %}
    <div class="col-12 col-md-6">
        <div class="box">
            <div class="box-item">
                <div class="row flex-nowrap">
                    <div class="col text-nowrap">
                        <script>descShip({{ship.id}});</script>
                        {{ship.name}}
                        <small>x</small>
                        <span class="c-highlight">{{ship.quantity|intcomma}}</span>
                    </div>
                	{% if ship.can_install %}<div class="col text-right"><a href="?id={{fleet.id}}&action=install&s={{ship.id}}">Déployer</a></div>{% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h1>Autres flottes</h1>
<div class="row">
{% for fleet in fleets %}
    {% if fleet.playerfleet %}
        <div class="col-12 col-md-6">
            <div class="box">
                <div class="box-item">
                    <div class="row flex-nowrap mb-1">
                        <div class="col text-nowrap"><a href="?id={{fleet.id}}" class="badge" data-toggle="tooltip" data-html="true" title="
                            <div><small class='mr-2'>vitesse</small><span class='c-highlight'>{{fleet.speed|intcomma}}</span></div>
                            <div><small class='mr-2'>cargaison</small><span class='c-highlight'>{{fleet.cargo_load|intcomma}}</span> <small>/{{fleet.cargo_capacity|intcomma}}</small></div>
                        "><i class="fas fa-plane"></i> {{fleet.name}}</a></div>
                        {% if fleet.merge %}<div class="col text-right"><a href="?id={{fleetid}}&action=merge&with={{fleet.id}}">Absorber</a></div>{% endif %}
                    </div>
                    <div class="small">
            		    {% if fleet.stance == 1 %}<span data-toggle="tooltip" title="Signature mode attaque">{{'attack'|icon}}</span>
            		    {% else %}<span data-toggle="tooltip" title="Signature mode riposte">{{'defense'|icon}}</span>
            		    {% endif %}
                        {{fleet.signature|intcomma}}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-12 col-md-6">
            <div class="box">
                <div class="box-item">
                    <div class="text-nowrap mb-1">
                        <a href="/game/mails/?subject=À propos de la flotte {{fleet.name}}&to={{fleet.owner}}" class="badge {% if fleet.ally %}ally{% elif fleet.friend %}friend{% elif fleet.enemy %}enemy{% endif %}" data-toggle="tooltip" title="Nouveau message"><i class="fas fa-envelope"></i> {% if fleet.tag %}[{{fleet.tag}}] {% endif %}{{fleet.owner}}</a>
                        {{fleet.name}}
                    </div>
                    <div class="small">
            		    {% if fleet.stance == 1 %}<span data-toggle="tooltip" title="Signature mode attaque">{{'attack'|icon}}</span>
            		    {% else %}<span data-toggle="tooltip" title="Signature mode riposte">{{'defense'|icon}}</span>
            		    {% endif %}
                        {{fleet.signature|intcomma}}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% empty %}
    <div>aucune</div>
{% endfor %}
</div>

{% endblock %}
