{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
{% if invasion_report %}
<div class="box">
<div class="box-body title"><div colspan=4 align=center>Rapport d'invasion de <script>putplanet("{{planetid}}","{{planetname}}","{{g}}","{{s}}","{{p}}",{{relation}});</script> par {{fleet_owner}} </div></div>
{% if report %}
<div class="box-body category"><div class="col"> Troupes</div><div class="col"> Effectif<div class="col"> Pertes</div><div class="col"> Après Combat</div></div>
{% if attacker %}<div class="box-body category {% if ally %}ally{% endif %}{% if enemy %}enemy{% endif %}"><div class="col"> {{fleet_owner}}</div><div class="col"> {{soldiers_total}}</div><div class="col"> {{soldiers_lost}}</div><div class="col"> {{soldiers_alive}}</div></div>{% endif %}
<div class="box-body item">
<div class="col"> <span class="dot">&middot;</span>Soldats</div><div class="col"> {{soldiers_total}}</div><div class="col"> {{soldiers_lost}}</div><div class="col"> {{soldiers_alive}}</div>
</div>
{% if defender %}<div class="box-body category {% if ally %}ally{% endif %}{% if enemy %}enemy{% endif %}"><div class="col"> {{planet_owner}}</div><div class="col"> {{def_total}}</div><div class="col"> {{def_losts}}</div><div class="col"> {{def_alive}}</div></div>{% endif %}
<div class="box-body item">
<div class="col"> <span class="dot">&middot;</span>Soldats</div><div class="col"> {{def_soldiers_total}}</div><div class="col"> {{def_soldiers_lost}}</div><div class="col"> {{def_soldiers_alive}}</div>
</div>
{% if workers %}<div class="box-body smallitem">
<div class="col"> <span class="dot">&middot;</span>Travailleurs</div><div class="col"> {{def_workers_total}}</div><div class="col"> {{def_workers_lost}}</div><div class="col"> {{def_workers_alive}}</div>
</div>{% endif %}
{% if scientists %}<div class="box-body smallitem">
<div class="col"> <span class="dot">&middot;</span>Scientifiques</div><div class="col"> {{def_scientists_total}}</div><div class="col"> {{def_scientists_lost}}</div><div class="col"> {{def_scientists_alive}}</div>
</div>{% endif %}
{% endif %}
{% if not_succeeded %}
<div>
<div colspan=4 align=center><script>putplanet("{{planetid}}","{{planetname}}","{{g}}","{{s}}","{{p}}",{{relation}});</script> a été défendue avec succès.</div>
</div>
{% endif %}
{% if succeeded %}
<div>
<div colspan=4 align=center>La nation <a href="/game/nation/?name={{fleet_owner}}">{{fleet_owner}}</a> s'est emparée de <script>putplanet("{{planetid}}","{{planetname}}","{{g}}","{{s}}","{{p}}",{{relation}});</script>.</div>
</div>
{% endif %}
{% if justdone %}
<div><div colspan=4 align=center><a href="/game/fleet/?id={{fleetid}}">Continuer</a></div></div>
{% endif %}
</div>
{% endif %}
{% endblock %}