{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
{% include '_tabs_mail.html' %}
<div id=mails align=center>

<form method=post action='?a=unignorelist'>{% csrf_token %}
<div class=default width=450 id=ignorelist>
<div class="box-body title"><div colspan=3>Nations dont les messages sont ignorés</div></div>
<div class="box-body header><div class="col"> Nation</div><div class="col"> Bloqués</div><div class="col"> Ignoré depuis</div></div>
{% for ignorednation in ignorednations %}
<div><div nowrap><input type=checkbox class=checkbox id=check_{{ignorednation.index}} name=unignore value="{{ignorednation.userid}}"/><label for=check_{{ignorednation.index}}>{{ignorednation.name}}</label></div"><div width='1%' align=right>{{ignorednation.blocked|intcomma}}</div"><div width='1%' nowrap>{{ignorednation.added}}</div></div>
{% endfor %}
{% if noignorednations %}<div><div align=center colspan=3>Aucune nation</div></div>{% endif %}
<div><div align=center colspan=3><input type=submit value="Retirer"/></div></div>
</div>
</form>

</div>
{% endblock %}