{% extends 'layout.html' %}
{% load humanize %}
{% load bbcode_tags %}
{% block content %}
<div id="mails">
<table class="default" width="100%">

<tr class="title"><td colspan=2>Messages envoyés</td></tr>

{% if nav %}<tr class="nav"><td colspan=2 align=left>Page {{page_display}}, Messages {{min}}-{{max}}. Aller à
{% for p in ps %}&nbsp;{% if p.link %}<a href="?a=sent&start={{p.page_link}}">{% endif %}{% if p.selected %}<span class="selected">{% endif %}{{p.page_id}}{% if p.selected %}</span>{% endif %}{% if p.link %}</a>{% endif %}{% endfor %}.
</td></tr>{% endif %}

{% for mail in mails %}
<tr id="mail{{index}}" class="item{% if new_mail %}highlight{% endif %}">
	<td width="1%" rowspan=1 align=center valign=top nowrap>
	{% if reply %}<a href="?to={{sent_to}}" title="Nouveau message à {{sent_to}}">{% endif %}
	{% if avatar %}<img src="{{avatar_url}}" width=64 height=64 class="avatar">{% endif %}
	{% if noavatar %}<img src="{{PATH_IMAGES}}/interface/noavatar.gif" width=64 height=64 class="avatar">{% endif %}<br><b>{% if admins %}Administrateurs{% endif %}{% if alliance %}Alliance{% endif %}{% if nation %}{{sent_to}}{% endif %}</b>
	{% if reply %}</a>
	{% if alliance %}<br/><a href="/game/alliance/?tag={{alliancetag}}">[{{alliancetag}}]</a><br/>{% endif %}{% endif %}
	</td>
	<td width="90%" valign=top>
	<div class="subject">
	{{date}} | {{subject}}{% if money %} | Somme envoyée : <img src="{{PATH_IMAGES}}/interface/credits.gif" title="Crédits" class="icon" width=16 height=16> {{moneyamount|intcomma}}{% endif %}</div>
	<div class="body">{% if html %}{{body}}{% endif %}{% if bbcode %}{{bodybb|bbcode}}{% endif %}</div>
	</td>
</tr>
{% endfor %}

{% if nav %}<tr class="nav"><td colspan=2 align=left>Page {{page_display}}, Messages {{min}}-{{max}}. Aller à
{% for p in ps %}&nbsp;{% if p.link %}<a href="?a=sent&start={{p.page_link}}">{% endif %}{% if p.selected %}<span class="selected">{% endif %}{{p.page_id}}{% if p.selected %}</span>{% endif %}{% if p.link %}</a>{% endif %}{% endfor %}.
</td></tr>{% endif %}
{% if nomails %}<tr><td colspan=2 align=center>Aucun</td></tr>{% endif %}

</table>
</div>
{% endblock %}