{% load humanize %}

<script>
    var defaultTitle = "[ng03] ExileNG";
    {% if selectedmenu == "empire" %}document.title = defaultTitle + " - Empire";
    {% endif%}
</script>

<a href="/game/options/" id="leftnav-profile" class="{% if selectedmenu == 'overview' %}selected{% endif%} menu-item">
    <div id="leftnav-profile-cover"></div>
    <div><img id="leftnav-profile-image" src="/assets/interface/noavatar.gif"></div>
    <div id="leftnav-profile-info">
        <i class="fas fa-chevron-right caret"></i>
        Username
        <small>Indépendant</small>
    </div>
</a>

<a href="/game/overview/" id="menu_overview" class="{% if selectedmenu == 'overview' %}selected{% endif%} menu-item">
    <i class="fas fa-th-large menu-icon"></i>
    <span>Empire</span>
    <i class="fas fa-chevron-right caret"></i>
</a>
<a href="/game/map/?g={{cur_g}}&s={{cur_s}}" id="menu_map" class="{% if selectedmenu == 'empire' %}selected{% endif%} menu-item">Carte spatiale<i class="fas fa-chevron-right caret"></i></a>
<a href="/game/research/" id="menu_research" class="{% if selectedmenu == 'empire' %}selected{% endif%} menu-item">Recherches<i class="fas fa-chevron-right caret"></i></a>
<a href="/game/market-sell/" id="menu_merchants" class="{% if selectedmenu == 'empire' %}selected{% endif%} menu-item">Commerce<i class="fas fa-chevron-right caret"></i></a>
<a href="/game/fleets/" id="menu_fleets" class="{% if selectedmenu == 'empire' %}selected{% endif%} menu-item">Flottes<i class="fas fa-chevron-right caret"></i></a>
<a href="/game/commanders/" id="menu_commanders" class="{% if selectedmenu == 'empire' %}selected{% endif%} menu-item">Commandants<i class="fas fa-chevron-right caret"></i></a>
<a href="/game/alliance/" id="menu_alliance" class="{% if selectedmenu == 'empire' %}selected{% endif%} menu-item">Alliance<i class="fas fa-chevron-right caret"></i></a>
<a href="/game/planets/" id="menu_planets" class="{% if selectedmenu == 'empire' %}selected{% endif%} menu-item">Planètes<i class="fas fa-chevron-right caret"></i></a>
<a href="/game/mercenary-intelligence/" id="menu_intelligence" class="{% if selectedmenu == 'empire' %}selected{% endif%} menu-item">Espionnage<i class="fas fa-chevron-right caret"></i></a>
<a href="/game/ranking-alliances/" id="menu_ranking" class="{% if selectedmenu == 'empire' %}selected{% endif%} menu-item">Classement<i class="fas fa-chevron-right caret"></i></a>

<div class="d-flex justify-content-center mt-4 mb-2">
    <div class="col-auto px-3"><a href="https://discord.gg/9RHUEhw" style="color:#B5B5B9; font-size:150%;" target="_blank" style="font-size:150%;"><i class="fab fa-discord"></i></a></div>
    <div class="col-auto px-3"><a href="https://www.facebook.com/exileng/" style="color:#B5B5B9; font-size:150%;" target="_blank" style="font-size:150%;"><i class="fab fa-facebook"></i></a></div>
    <div class="col-auto px-3"><a href="https://twitter.com/ExileNg/" style="color:#B5B5B9; font-size:150%;" target="_blank" style="font-size:150%;"><i class="fab fa-twitter"></i></a></div>
    <div class="col-auto px-3"><a href="https://www.instagram.com/freddec_exileng/" style="color:#B5B5B9; font-size:150%;" target="_blank" style="font-size:150%;"><i class="fab fa-instagram"></i></a></div>
</div>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center mb-4">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="7XYD7SJFKQ8M4" />
    <input type="image" style="border:0;" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Bouton Faites un don avec PayPal" />
    <img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
</form>
