{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<script>function update(obj) {document.getElementById("count").innerHTML=obj.value.length}</script>
<form method="post" action="/game/notes/" name="note">{% csrf_token %}
	<div class="box">
	<div class="box-body title">
		<div class="col"> Notes personnelles (<span id="count">0</span> / {{maxlength}} caractères)</div>
	</div>
	<div class="box-body item">
		<div class="col"> <textarea id=notes name=notes cols=75 rows=15 onKeyUp="update(this)" onFocus="update(this)">{% if data_notes %}{{data_notes}}{% endif %}</textarea></div>
	</div>

	<div class="box-body item">
		<div class=buttons align=center><input type=button name=effacer value=Effacer class=button onclick="javascript:document.getElementById('notes').value=''">&nbsp;<input type="submit" name="submit" id="submit" value="Enregistrer" class="button">
	</div>
	</div>

	{% if error %}
	<div class="box-body item"><div class="col"> 
		<p class=error>
		{% if toolong %}Vos notes dépassent la limite de {{maxlength}} caractères{% endif %}
		{% if done %}Notes enregistrées{% endif %}</p>
	</div></div>
	{% endif %}

	</div>
</form>
<script>onload=function() { var o=document.getElementById("notes"); o.focus(); o.value = o.value; }</script>
{% endblock %}