{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
{% include '_tabs_empire.html' %}
<div id="planets">
<div class="box">
<div class="box-body d-flex">
	<div class="col"> <a href="?col=0{% if r0 %}&r=0{% endif %}">#</a> <a href="?col=1{% if r1 %}&r=1{% endif %}">Planète</a></div>
	<div class="col"><a href="?col=5{% if r5 %}&r=1{% endif %}" title="Contrôle de la planète">C.</a></div>
	<div class="col"> Production</div>
	<div class="col"> Effectifs</div>
	<div class="col"> Entretien</div>
	<div class="col"> Occupation</div>
</div>

{% for planet in page_planets %}
<div class="box-body d-flex {% if planet.highlight %}highlight{% endif %}">
<div class="col">
		<div class="row">
			<div class="col-auto"><img src="{{PATH_IMAGES}}/planets/p{{planet.planet_img}}.gif" class="smallplanet" width=64 height=64></div>
			<div class="col-auto">
        		<div><img src="{{PATH_IMAGES}}/interface/commander.gif" class="smallicon" title="Commandant" width=10 height=6>{% if planet.commander %}<a href="/game/commanders/#{{planet.commander_name}}">{{planet.commander_name}}</a>{% endif %}{% if planet.nocommander %}-{% endif %}</div>
        		<div><a href="/game/buildings/?planet={{planet.planet_id}}">Infrastructures</a> (<img src="{{PATH_IMAGES}}/interface/workers_idle.gif" class="idleworkers" width=12 height=12 title="oisifs"><span class="green">{{planet.workers_idle|intcomma}}</span>)</div>
        		<div><a href="/game/shipyard/?planet={{planet.planet_id}}">Chantier spatial</a></div>
    		</div>
		</div>
</div>
<div class="col">
	<img src="{{PATH_IMAGES}}/interface/uv{{planet.mood_level}}.gif" title="{{planet.mood}}%" alt="{{planet.mood}}%" width="16" height="35"><br/>
	<span class={% if planet.mood_plus %}"prod">+{% endif %}{% if planet.mood_minus %}"negprod">{% endif %}{{planet.mood_delta}}</span>
</div>

<div class="col">
	<div><img src="{{PATH_IMAGES}}/interface/ore.gif" title="Minerai" width=16 height=16>
		<span{% if planet.medium_ore %} class=med2{% endif %}{% if planet.high_ore %} class=high2{% endif %}>{{planet.ore|intcomma}}</span>
		/
		<span{% if planet.medium_ore %} class=med2{% endif %}{% if planet.high_ore %} class=high2{% endif %}>{{planet.ore_capacity|intcomma}}</span>
		(<span class={% if planet.normal_ore_production %}prod{% endif %}{% if planet.medium_ore_production %}medprod{% endif %}>+{{planet.ore_production|intcomma}}</span>)
	</div>
	<div><img src="{{PATH_IMAGES}}/interface/hydrocarbon.gif" title="Hydrocarbure" width=16 height=16>
		<span{% if planet.medium_hydrocarbon %} class=med2{% endif %}{% if planet.high_hydrocarbon %} class=high2{% endif %}>{{planet.hydrocarbon|intcomma}}</span>
		/
		<span{% if planet.medium_hydrocarbon %} class=med2{% endif %}{% if planet.high_hydrocarbon %} class=high2{% endif %}>{{planet.hydrocarbon_capacity|intcomma}}</span>
		(<span class={% if planet.normal_hydrocarbon_production %}prod{% endif %}{% if planet.medium_hydrocarbon_production %}medprod{% endif %}>+{{planet.hydrocarbon_production|intcomma}}</span>)
	</div>
	<div><img src="{{PATH_IMAGES}}/interface/energy.gif" title="Énergie" width=16 height=16>
		<span{% if planet.medium_energy %} class=med2{% endif %}{% if planet.high_energy %} class=high2{% endif %}>{{planet.energy|intcomma}}</span>
		/
		<span{% if planet.medium_energy %} class=med2{% endif %}{% if planet.high_energy %} class=high2{% endif %}>{{planet.energy_capacity|intcomma}}</span>
		(<span class={% if planet.normal_energy_production %}prod>+{% endif %}{% if planet.medium_energy_production %}medprod>+{% endif %}{% if planet.negative_energy_production %}negprod>{% endif %}{{planet.energy_production|intcomma}}</span>)
	</div>
	<div><img src="{{PATH_IMAGES}}/interface/credits.gif" title="Crédits" width=16 height=16>
		<span class={% if planet.credits_plus %}"prod">+{% endif %}{% if planet.credits_minus %}"negprod">{% endif %}{{planet.credits|intcomma}}</span>
		<img src="{{PATH_IMAGES}}/interface/prestige.gif" title="Prestige" class="icon" width=16 height=16> {{planet.prestige|intcomma}}
	</div>
</div>

<div class="col">
	<div>
		<a href="/game/production/?planet={{planet.planet_id}}"><img src="{{PATH_IMAGES}}/interface/workers.gif" title="Travailleurs" width="16" height="16"></a>
		{{planet.workers|intcomma}}
		/
		{{planet.workers_capacity|intcomma}}
	</div>
	<div>
		<a href="/game/training/?planet={{planet.planet_id}}"><img src="{{PATH_IMAGES}}/interface/scientists.gif" title="Scientifiques" width="16" height="16"></a>
		{{planet.scientists|intcomma}}
		/
		{{planet.scientists_capacity|intcomma}}
		{% if planet.scientists_training %}(<span class="prod">+{{planet.scientists_training}}</span>){% endif %}
	</div>
	<div>
		<a href="/game/training/?planet={{planet.planet_id}}"><img src="{{PATH_IMAGES}}/interface/soldiers.gif" title="Soldats" width="16" height="16"></a>
		{{planet.soldiers|intcomma}}
		/
		{{planet.soldiers_capacity|intcomma}}
		{% if planet.soldiers_training %}(<span class="prod">+{{planet.soldiers_training}}</span>){% endif %}
	</div>
</div>

<div class="col">
	<div {% if planet.workers_low %} class="low"{% endif %}>
	    <a href="/game/production/?planet={{planet.planet_id}}"><img src="{{PATH_IMAGES}}/interface/workers.gif" title="Travailleurs" width="16" height="16"></a>
		{{planet.upkeep_workers|intcomma}}
	</div>
	<div>
	    <img src="{{PATH_IMAGES}}/interface/credits.gif" title="Crédits" width="16" height="16">
		{{planet.upkeep_credits|intcomma}}
	</div>
	<div {% if planet.soldiers_low %} class="low"{% endif %}>
	    <a href="/game/training/?planet={{planet.planet_id}}"><img src="{{PATH_IMAGES}}/interface/soldiers.gif" title="Soldats" width="16" height="16"></a>
		{{planet.upkeep_soldiers|intcomma}}
	</div>
</div>

    <div class="col">
        <h6>Occupation</h6>
    	<div class="text-nowrap">
    		<img src="{{PATH_IMAGES}}/interface/floor.gif" title="Terrain" width=16 height=16>
    		<span class="c-highlight">{{planet.floor_occupied|intcomma}}</span>
    		<small>/{{planet.floor_capacity|intcomma}}</small>
    	</div>
    	<div class="text-nowrap">
    		<img src="{{PATH_IMAGES}}/interface/space.gif" title="Espace" width=16 height=16>
    		<span class="c-highlight">{{planet.space_occupied|intcomma}}</span>
    		<small>/{{planet.space_capacity|intcomma}}</small>
    	</div>
    </div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}