{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
{% include '_tabs_planet.html' %}
<script type="text/javascript" src='/scripts/third-party/tooltip.js?v=1'></script>
<script>
tipname = "hint";
tipwidth = 450;
tiptext = $("hinttext");
</script>

<div width="600">
<div>
<div align="center">

	{% if nav %}
	<div>
	<ul class="htabs">
		{% if cat1 %}<li{% if cat1_selected %} class="active"{% endif %}><a href="?cat=1">Vue d'ensemble</a></li>{% endif %}
		{% if cat2 %}<li{% if cat2_selected %} class="active"{% endif %}><a href="?cat=2">Fonctionnement</a></li>{% endif %}
		{% if cat3 %}<li{% if cat3_selected %} class="active"{% endif %}><a href="?cat=3">Transfert d'énergie</a></li>{% endif %}
	</ul>
	</div>
	{% endif %}

	{% if overview %}
	<div id="productionoverview">
	<div width="100%" class=default>
	<div class="box-body title"><div colspan=3>Abondance</div></div>
	<div class="box-body header><div class="col"> Elément</div><div class="col"> Minerai</div><div class="col"> Hydrocarbure</div></div>
	<div><div width='50%'>Planète</div"><div width='25%' align=right>{{a_ore}}%</div"><div width='25%' align=right>{{a_hydrocarbon}}%</div></div>
	<div class="box-body clear"><div colspan=3>&nbsp;</div></div>
	</div>

	<div width="100%" class=default>

	<div class="box-body title"><div colspan=4>Production</div></div>
	<div><div width='50%'>Effectifs</div"><div width='50%' colspan=3 nowrap>{{workers|intcomma}} / {{workers_required|intcomma}} requis, {{production_percent}}%</div></div>
	<div><div class="col"> Condition des installations</div"><div colspan=3 nowrap>{% if condition_excellent %}Excellente{% endif %}{% if condition_good %}Bonne{% endif %}{% if condition_fair %}Passable{% endif %}{% if condition_bad %}Mauvaise{% endif %}{% if condition_catastrophic %}Catastrophique{% endif %}, {% if repairing %}réparation en cours{% endif %}{% if decaying %}en détérioration{% endif %}</div></div>
	<div><div class="col"> Estimation de la production </div"><div colspan=3 nowrap>{{final_production}}%</div></div>
	<div class="box-body clear"><div colspan=4>&nbsp;</div></div>


	<div class="box-body header"><div class="col"> Elément</div><div class="col"> Minerai</div><div class="col"> Hydrocarbure</div><div class="col"> Energie</div></div>

	<div class="box-body category"><div colspan=4>Bâtiments</div></div>
	{% for building in buildings %}
	<script>
	var description{{building.id}}='{{building.description|escapejs}}';
	</script>

	<div class="box-body item" align=right>
	<div align="left"><a href="/game/help/?cat=buildings#{{building.id}}" onMouseover="ddrivetip(description{{building.id}})" onMouseout="hideddrivetip()"><b>{{building.name}}</b></a> x{{building.quantity}}</div>
	<div class="col"> {{building.production_ore|intcomma}}</div>
	<div class="col"> {{building.production_hydrocarbon|intcomma}}</div>
	<div class="col"> {{building.production_energy|intcomma}}</div>
	</div>
	{% endfor %}
	{% if subtotal %}
	<div class="box-body item" align="right">
	<div align="left">Sous total</div>
	<div class="col"> <img src="{{PATH_IMAGES}}/interface/ore.gif" class="icon" title="Minerai" width=16 height=16> {{production_ore|intcomma}}</div>
	<div class="col"> <img src="{{PATH_IMAGES}}/interface/hydrocarbon.gif" class="icon" title="Hydrocarbure" width=16 height=16> {{production_hydrocarbon|intcomma}}</div>
	<div class="col"> <img src="{{PATH_IMAGES}}/interface/energy.gif" class="icon" title="Energie" width=16 height=16> {{production_energy|intcomma}}</div>
	</div>
	{% endif %}
	<div class="box-body clear"><div colspan="4">&nbsp;</div></div>
	{% if bonus %}
	<div class="box-body category"><div colspan="4">Bonus</div></div>
	{% for item in bonuses %}
	<script>
	var description2{{item.id}}='{{item.description|escapejs}}';
	</script>
	<div class="box-body item" align=right>
	<div align="left">
		{% if item.building %}<a href="/game/help/?cat=buildings#{{item.id}}" onMouseover="ddrivetip(description2{{item.id}})" onMouseout="hideddrivetip()"><b>{{item.name}}</b></a>{% endif %}
		{% if item.commander %}<img src="{{PATH_IMAGES}}/interface/commander.gif" width=10 height=6 class="smallicon" title="Commandant"><a href="/game/commanders/#{{item.id}}" title="Informations sur {{item.name}}"><b>{{item.name}}</b></a>{% endif %}
		{% if item.research %}<a href="/game/help/?cat=research#{{item.id}}" onMouseover="ddrivetip(description2{{item.id}})" onMouseout="hideddrivetip()"><b>{{item.name}}</b></a> nv{{item.level}}{% endif %}
	</div>
	<div class="col"> 
		<span class={% if item.ore_positive %}plus{% endif %}{% if item.ore_negative %}minus{% endif %}>{{item.mod_production_ore}}%</span>
	</div>
	<div class="col"> 
		<span class={% if item.hydrocarbon_positive %}plus{% endif %}{% if item.hydrocarbon_negative %}minus{% endif %}>{{item.mod_production_hydrocarbon}}%</span>
	</div>
	<div class="col"> 
		<span class={% if item.energy_positive %}plus{% endif %}{% if item.energy_negative %}minus{% endif %}>{{item.mod_production_energy}}%</span>
	</div>
	</div>
	{% endfor %}
	<div class="box-body item" align="right">
	<div align="left">Sous total</div>
	<div class="col"> <img src="{{PATH_IMAGES}}/interface/ore.gif" class="icon" title="Minerai" width=16 height=16> {{bonus_production_ore|intcomma}}</div>
	<div class="col"> <img src="{{PATH_IMAGES}}/interface/hydrocarbon.gif" class="icon" title="Hydrocarbure" width=16 height=16> {{bonus_production_hydrocarbon|intcomma}}</div>
	<div class="col"> <img src="{{PATH_IMAGES}}/interface/energy.gif" class="icon" title="Energie" width=16 height=16> {{bonus_production_energy|intcomma}}</div>
	</div>
	<div class="box-body clear"><div colspan=4>&nbsp;</div></div>
	{% endif %}
	<div class="box-body item" align="right">
	<div align="left">Production totale</div>
	<div class="col"> <img src="{{PATH_IMAGES}}/interface/ore.gif" class="icon" title="Minerai" width=16 height=16> {{total_production_ore|intcomma}}</div>
	<div class="col"> <img src="{{PATH_IMAGES}}/interface/hydrocarbon.gif" class="icon" title="Hydrocarbure" width=16 height=16> {{total_production_hydrocarbon|intcomma}}</div>
	<div class="col"> <img src="{{PATH_IMAGES}}/interface/energy.gif" class="icon" title="Energie" width=16 height=16> {{total_production_energy|intcomma}}</div>
	</div>
	</div>
	</div>
	{% endif %}

	{% if manage %}
	<div id="productionmanage">
	<form method="post" action="?cat={{cat}}&a=submit">{% csrf_token %}
	<div width="100%" class="default">
	<div class="box-body title"><div colspan="5">Consommation énergétique</div></div>
	<div class="box-body header"><div colspan="2">Bâtiment</div><div class="col"> Utilisation</div><div class="col"> Actif</div><div class="col"> Utilisation totale</div></div>
	{% for building in buildings %}
	<div class="box-body item{% if building.not_all_enabled %}del{% endif %}">
		<div width="1%"><img src="{{PATH_IMAGES}}/buildings/{{building.id}}.jpg" title="{{building.building}}" class="building" width="64" height="64"></div>
		<div class="col"> {{building.building}}</div>
		<div class="col"> <div class="clear" width="70">
			<div><div width="1%"><img src="{{PATH_IMAGES}}/interface/credits.gif" title="Coût de fonctionnement" width="16" height="16"></div"><div align="right">{{building.upkeep|intcomma}}</div></div>
			<div><div width="1%"><img src="{{PATH_IMAGES}}/interface/energy_available.gif" title="Energie" width="12" height="12"></div"><div align="right">{{building.energy|intcomma}}</div></div>
			<div><div width="1%"><img src="{{PATH_IMAGES}}/interface/workers.gif" title="Maintenance" width="16" height="16"></div"><div align="right">{{building.maintenance|intcomma}}</div></div>
		</div>
		</div>
		<div align="center"><select name="enabled{{building.id}}">{% for count in building.counts %}<option value="{{count.count}}"{% if count.selected %} selected{% endif %}>{{count.count}}</option>{% endfor %}</select> / {{building.quantity|intcomma}}</div>
		<div class="col"> <div class="clear" width="70">
			<div><div width="1%"><img src="{{PATH_IMAGES}}/interface/credits.gif" title="Coût de fonctionnement total" width="16" height="16"></div"><div align="right">{{building.upkeep_total|intcomma}}</div></div>
			<div><div width="1%"><img src="{{PATH_IMAGES}}/interface/energy_available.gif" title="Energie totale" width="12" height="12"></div"><div align="right">{{building.energy_total|intcomma}}</div></div>
			<div><div width="1%"><img src="{{PATH_IMAGES}}/interface/workers.gif" title="Maintenance totale" width="16" height="16"></div"><div align="right">{{building.maintenance_total|intcomma}}</div></div>
		</div>
		</div></div>
	{% endfor %}
	<div><div colspan="5" align="center"><input type="submit" value="Valider changements"></div></div>
	</div>
	</form>
	</div>
	{% endif %}

	{% if sendreceive %}
	<div id="energytransfer">
	<form method="post" action="?cat={{cat}}&a=submit">{% csrf_token %}
	<div class="box">
	<div class="box-body title"><div colspan="3">Energie reçue ({{antennas_receive_used}}/{{antennas_receive_total}})</div></div>
	<div class="box-body header"><div width="1%">Source</div><div class="col"> Energie</div><div class="col"> Reçue (perte)</div></div>
	{% if receiving_none %}
	<div class="box-body smallitem"><div align="center" colspan="3">Aucun lien énergétique établi.</div></div>
	{% endif %}
	{% if receive_no_antenna %}
	<div class="box-body smallitem"><div align="center" colspan="3">Aucun récepteur d'énergie construit sur la planète.</div></div>
	{% endif %}
	{% if cant_receive_when_sending %}
	<div class="box-body smallitem"><div class="error" colspan="3">Impossible de recevoir quand de l'énergie est envoyée.</div></div>
	{% endif %}
	{% for received in receiveds %}
	<div class="box-body smallitem"><div align="center" nowrap><script>putplanet({{received.planetid}},'{{received.name}}',{{received.g}},{{received.s}},{{received.p}},{{received.rel}});</script></div"><div align="center">{{received.energy|intcomma}}</div"><div align="center">{{received.effective_energy|intcomma}} (perte: {{received.loss}}%) <a href="?cat={{cat}}&a=cancel&from={{received.planetid}}">rompre</a></div></div>
	{% endfor %}
	<div class="box-body clear"><div colspan="3">&nbsp;</div></div>
	<div class="box-body title"><div colspan="3">Energie envoyée ({{antennas_send_used}}/{{antennas_send_total}})</div></div>
	<div class="box-body header"><div class="col"> Cible</div><div class="col"> Energie</div><div class="col"> Reçue (perte)</div></div>
	{% if send_no_antenna %}
	<div class="box-body smallitem"><div align="center" colspan="3">Aucun émetteur d'énergie construit sur la planète.</div></div>
	{% endif %}
	{% if cant_send_when_receiving %}
	<div class="box-body smallitem"><div class="error" colspan="3">Impossible d'envoyer quand de l'énergie est reçue.</div></div>
	{% endif %}
	{% for sent in sents %}
	<div class="box-body smallitem">
		<div align="center" nowrap><input type="checkbox" class="checkbox" name="enabled_{{sent.planetid}}" value="1"{% if sent.enabled %} checked{% endif %}><script>putplanet({{sent.planetid}},'{{sent.name}}',{{sent.g}},{{sent.s}},{{sent.p}},{{sent.rel}});</script></div>
		<div align="center"><input type="text" name="energy_{{sent.planetid}}" value="{{sent.energy}}" maxlength="6" size="6"></div>
		<div align="center">{{sent.effective_energy|intcomma}} (perte: {{sent.loss}}%) <a href="?cat={{cat}}&a=cancel&to={{sent.planetid}}">retirer</a></div>
	</div>
	{% endfor %}
	{% if send %}
	<div class="box-body smallitem">
		<div align="center" nowrap><input type="text" name="to_g" maxlength="2" size="2" value="{{send_g}}">.<input type="text" maxlength="2" size="2" name="to_s" value="{{send_s}}">.<input type="text" maxlength="2" size="2" name="to_p" value="{{send_p}}"></div>
		<div align="center"><input type="text" name="energy" maxlength="6" size="6" value="0"></div>
		<div align="center">{{send_effective_energy|intcomma}} (perte: {{send_loss}}%)</div>
	</div>
	{% endif %}
	{% if submit %}
	<div><div colspan="3" align="center"><input type="submit" name="submit" value="Valider"></div></div>
	{% endif %}
	</div>
	</form>
	</div>
	{% endif %}
</div>
</div>
</div>
{% endblock %}