{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<div class="box">

<div class="box-body header">
<div class="col"> <a href="?col=7{% if r7 %}&r=7{% endif %}{% if search_params %}&a={{param_a}}{% endif %}">Tag</a>&nbsp;<a href="?col=1{% if r1 %}&r=1{% endif %}{% if search_params %}&a={{param_a}}{% endif %}">Alliance</a></div>
{% if hide %}
<div class="col"> <a href="?col=2{% if r2 %}&r=2{% endif %}{% if search_params %}&a={{param_a}}{% endif %}">Score</a></div>
<div class="col"> <a href="?col=5{% if r5 %}&r=5{% endif %}{% if search_params %}&a={{param_a}}{% endif %}">Moyenne</a></div>
{% endif %}
<div class="col"> <a href="?col=3{% if r3 %}&r=3{% endif %}{% if search_params %}&a={{param_a}}{% endif %}">Membres</a></div>
<div class="col"> <a href="?col=4{% if r4 %}&r=4{% endif %}{% if search_params %}&a={{param_a}}{% endif %}">Colonies</a></div>
<div class="col"> <a href="?col=6{% if r6 %}&r=6{% endif %}{% if search_params %}&a={{param_a}}{% endif %}">Date de création</a></div>
</div>

{% if nav %}<div class="box-body nav"><div colspan=2 align=left>Page {{page_display}}, Messages {{min}}-{{max}}. Aller à
{% for p in ps %}&nbsp;{% if p.link %}<a href="?a=sent&start={{p.page_link}}">{% endif %}{% if p.selected %}<span class="selected">{% endif %}{{p.page_id}}{% if p.selected %}</span>{% endif %}{% if p.link %}</a>{% endif %}{% endfor %}.
</div></div>{% endif %}
{% for alliance in alliances %}
<tr{% if alliance.playeralliance %} class=ranking_alliance{% endif %}{% if alliance.nap %} class=ranking_nap{% endif %}{% if alliance.war %} class=ranking_war{% endif %}>
	<div class="col"> {{alliance.place}}. <a href="/game/alliance/?tag={{alliance.tag}}">[{{alliance.tag}}] {{alliance.name}}</a></div>
	{% if alliance.hide %}<div align="right">{{alliance.score|intcomma}}<br/><span{% if alliance.plus %} class="plus"{% endif %}{% if alliance.minus %} class="minus"{% endif %}>{% if alliance.plus %}+{% endif %}{{alliance.score_delta|intcomma}}</span></div"><div align=right>{{alliance.score_average|intcomma}}</div>{% endif %}
	<div align=right>{{alliance.members}} / {{alliance.max_members}}</div>
	<div align=right>{{alliance.stat_colonies}}</div>
	<div class="col"> {{alliance.created}}</div>
</div>
{% empty %}<div><div colspan=4 align=center>Aucune alliance trouvée.</div></div>
{% endfor %}
{% if nav %}<div class="box-body nav"><div colspan=2 align=left>Page {{page_display}}, Messages {{min}}-{{max}}. Aller à
{% for p in ps %}&nbsp;{% if p.link %}<a href="?a=sent&start={{p.page_link}}">{% endif %}{% if p.selected %}<span class="selected">{% endif %}{{p.page_id}}{% if p.selected %}</span>{% endif %}{% if p.link %}</a>{% endif %}{% endfor %}.
</div></div>{% endif %}
</div>
{% endblock %}