{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<table class="default" width="600">

<tr class="header">
<td><a href="?col=7{% if r7 %}&r=7{% endr7 %}{% if search_params %}&a={{param_a}}{% endsearch_params %}">Tag</a>&nbsp;<a href="?col=1{% if r1 %}&r=1{% endif %}{% if search_params %}&a={{param_a}}{% endsearch_params %}">Alliance</a></td>
{% if hide %}
<td><a href="?col=2{% if r2 %}&r=2{% endif %}{% if search_params %}&a={{param_a}}{% endsearch_params %}">Score</a></td>
<td><a href="?col=5{% if r5 %}&r=5{% endif %}{% if search_params %}&a={{param_a}}{% endsearch_params %}">Moyenne</a></td>
{% endhide %}
<td><a href="?col=3{% if r3 %}&r=3{% endif %}{% if search_params %}&a={{param_a}}{% endsearch_params %}">Membres</a></td>
<td><a href="?col=4{% if r4 %}&r=4{% endif %}{% if search_params %}&a={{param_a}}{% endsearch_params %}">Colonies</a></td>
<td><a href="?col=6{% if r6 %}&r=6{% endif %}{% if search_params %}&a={{param_a}}{% endsearch_params %}">Date de création</a></td>
</tr>

{% if nav %}<tr class="nav"><td colspan=4 align=left>Page {{page_displayed}}, Alliances {{page_first}}-{{page_last}}. Aller à
{% if p %}&nbsp;{% if link %}<a href="?start={{page_link}}{% if search_params %}&a={{param_a}}{% endsearch_params %}&col={{sort_column}}{% if reversed %}&r=1{% endreversed %}">{% endlink %}{% if selected %}<span class="selected">{% endif %}{{page_id}}{% if selected %}</span>{% endif %}{% if link %}</a>{% endlink %}{% endfor %}.
</td>
</tr>{% endif %}
{% if noresult %}<tr><td colspan=4 align=center>Aucune alliance trouvée.</td></tr>{% endnoresult %}
{% if alliance %}
<tr{% if playeralliance %} class=ranking_alliance{% endplayeralliance %}{% if nap %} class=ranking_nap{% endnap %}{% if war %} class=ranking_war{% endwar %}>
	<td>{{place}}. <a href="/game/alliance/?tag={{tag}}">[{{tag}}] {{name}}</a></td>
	{% if hide %}<td align="right">{{score|intcomma}}<br/><span{% if plus %} class="plus"{% endplus %}{% if minus %} class="minus"{% endminus %}>{% if plus %}+{% endplus %}{{score_delta|intcomma}}</span></td><td align=right>{{score_average|intcomma}}</td>{% endhide %}
	<td align=right>{{members}} / {{max_members}}</td>
	<td align=right>{{stat_colonies}}</td>
	<td>{{created}}</td>
</tr>
{% endfor %}
{% if nav %}<tr class="nav"><td colspan=4 align=left>Page {{page_displayed}}, Alliances {{page_first}}-{{page_last}}. Aller à
{% if p %}&nbsp;{% if link %}<a href="?start={{page_link}}{% if search_params %}&a={{param_a}}{% endsearch_params %}&col={{sort_column}}{% if reversed %}&r=1{% endreversed %}">{% endlink %}{% if selected %}<span class="selected">{% endif %}{{page_id}}{% if selected %}</span>{% endif %}{% if link %}</a>{% endlink %}{% endfor %}.
</td>
</tr>{% endif %}
</table>
{% endblock %}