{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<script>
function putlevel(level,levels){
	var s;

	if(levels <= 5)
		s = '<img src="{{PATH_IMAGES}}/research/level'+levels+'_'+level+'.gif" alt="Niveau '+level+'">';
	else
		s = level + '/' + levels;
	document.write(s);
}
</script>

<!-- display nation report -->

{% if nation %}

<table class="default" width="800">
<tr class="title"><td>Rapport d'espionnage</td></tr>
{% if spotted %}
<tr><td><br/><p class="error">Attention, nos transmissions ont été repérées et la nation {{nation}} sait que nous avons opéré pour votre compte.</p><br/></td></tr>
{% endspotted %}

<tr class="category"><td>Informations au {{date:d}} concernant la nation {{nation}}.</td></tr>
<tr class="item">
	<td>Agent : {% if spy_0 %}Novice{% endspy_0 %}{% if spy_1 %}Initié{% endspy_1 %}{% if spy_2 %}Agent{% endspy_2 %}{% if spy_3 %}Taupe{% endspy_3 %}<br/>
	Planètes repérées : {{nb_planet}}<br/>
	{% if credits %}Portefeuille : {{credits|intcomma}} crédits<br/>{% endcredits %}
	{% if researches %}Recherches connues : {{nb_research}}{% endresearches %}
	</td>
</tr>
</table>

{% if researches %}
	<table class="default" width="800">
	<tr class="header"><td align="center">Recherche</td><td align="center">Niveau</td></tr>
	{% if category %}
	<tr class="category"><td colspan=2>
	{% if category10 %}Technologies{% endif %}
	{% if category20 %}Industrie{% endcategory20 %}
	{% if category30 %}Empire{% endcategory30 %}
	{% if category40 %}Recherche{% endcategory40 %}
	{% if category50 %}Technologies militaires{% endcategory50 %}
	{% if category90 %}Vaisseaux spatiaux{% endcategory90 %}&nbsp;</td></tr>
	{% if research %}<tr class="item"><td>{{research}}</td><td align="center"><script>putlevel({{level}},{{levels}});</script></td></tr>{% endfor %}
	<tr class="clear"><td colspan=2>&nbsp;</td></tr>
	{% endfor %}
	</table>
{% endresearches %}

	<table width="800" class="default">
	<tr class="header"><td align="center">Planète</td><td align="center" colspan=2>Superficie</td><td align="center" colspan=2>Abondance</td><td align="center">Vaisseaux au sol</td></tr>
{% if planet %}
	<tr>
	<td align="center">{{planet}}&nbsp;<a href="/game/map/?g={{g}}&s={{s}}&p={{p}}" title="Localiser la planète">({{g}}.{{s}}.{{p}})</a></td>
	<td align="right" width="1%"><img src="{{PATH_IMAGES}}/interface/floor.gif" class="icon" title="Terrain" width=16 height=16>{{floor|intcomma}}</td>
	<td align="right" width="1%"><img src="{{PATH_IMAGES}}/interface/space.gif" class="icon" title="Espace" width=16 height=16>{{space|intcomma}}</td>
	<td align="right" width="1%"><img src="{{PATH_IMAGES}}/interface/ore.gif" class="icon" title="Minerai" width=16 height=16>{{pct_ore|intcomma}}%</td>
	<td align="right" width="1%"><img src="{{PATH_IMAGES}}/interface/hydrocarbon.gif" class="icon" title="Hydrocarbure" width=16 height=16>{{pct_hydrocarbon|intcomma}}%</td>
	<td align="center"><img src="{{PATH_IMAGES}}/interface/fleets.gif" class="icon" title="Espace" width=16 height=16>{{ground|intcomma}}</td>
	</tr>
{% endfor %}
	</table>
{% endnation %}

<!-- display fleets report -->

{% if fleets %}

<table class="default" width="800">
<tr class="title"><td>Rapport d'espionnage</td></tr>
{% if spotted %}
<tr><td><br/><p class="error">Attention, nos transmissions ont été repérées et la nation {{nation}} sait que nous avons opéré pour votre compte.</p><br/></td></tr>
{% endspotted %}

<tr class="category"><td>Informations au {{date:d}} concernant les flottes de {{nation}}.</td></tr>
<tr class="item">
	<td><div id="stats">
	<div><span class="label">Agent: </span><span class="value">{% if spy_0 %}Novice{% endspy_0 %}{% if spy_1 %}Initié{% endspy_1 %}{% if spy_2 %}Agent{% endspy_2 %}{% if spy_3 %}Espion militaire{% endspy_3 %}</span></div>
	<div><span class="label">Flottes repérées: </span><span class="value">{{nb_fleet}}</span></div>
	</div></td>
</tr>
</table>

<table width="800" class="default">
<tr class="header">
<td align="center">Flotte</td><td align="center">Taille</td><td align="center">Signature</td><td align="center">Localisation</td><td align="center">Destination</td>
</tr>
{% if fleet %}

<tr>
<td>{{fleet}}</td>
<td>{% if size %}{{size|intcomma}}{% endsize %}{% if nosize %}Inconnue{% endnosize %}</td>
<td>{{signature|intcomma}}</td>
<td>{{location}}</td>
<td>{% if dest %}{{destination}}{% enddest %}{% if nodest %}-{% endnodest %}</td>
</tr>

{% endfor %}
</table>
{% endfleets %}

<!-- display planet report -->


{% if planet %}

<table class="default" width="800">
<tr class="title"><td>Rapport d'espionnage</td></tr>
{% if spotted %}
<tr><td><br/><p class="error">Attention, nos transmissions ont été repérées et la nation {{nation}} sait que nous avons opéré pour votre compte.</p><br/></td></tr>
{% endspotted %}

<tr class="category"><td>Informations au {{date:d}} concernant la planète {{location}}.</td></tr>
<tr class="item">
	<td><div id="stats"><span class="label">Agent: </span><span class="value">{% if spy_0 %}Novice{% endspy_0 %}{% if spy_1 %}Initié{% endspy_1 %}{% if spy_2 %}Agent{% endspy_2 %}{% if spy_3 %}Infiltrateur{% endspy_3 %}</span></div></td>
</tr>
</table>

<table width="800" class="default">
<tr class="category"><td>Informations générales</td></tr>

<tr class="item">
	<td><div id="stats">
	<div><span class="label">Nom: </span><span class="value">{{name}}</span></div>
	<div><span class="label">Localisation: </span><span class="value">{{location}}</span></div>
	<div><span class="label">Nation: </span><span class="value">{% if owner %}{{owner}}{% endowner %}{% if no_owner %}aucune{% endno_owner %}</span></div>
	<div><span class="label">Terrains: </span><span class="value">{{floor}}</span></div>
	<div><span class="label">Espace: </span><span class="value">{{space}}</span></div>
{% if uncommon %}
	<div><span class="label">Abondance minerai: </span><span class="value">{{pct_ore}}%</span></div>
	<div><span class="label">Abondance hydrocarbure: </span><span class="value">{{pct_hydrocarbon}}%</span></div>
{% enduncommon %}
	<div><span class="label">Vaisseaux au sol (signature): </span><span class="value">{% if owner %}{{ground|intcomma}}{% endowner %}{% if no_owner %}-{% endno_owner %}</span></div>
	</div></td>
</tr>

{% if common %}
<tr class="category"><td>Industrie</td></tr>
<tr class="item">
	<td><div id="stats">
	<div><span class="label">Production minerai: </span><span class="value">{{ore_prod|intcomma}}</span></div>
	<div><span class="label">Production hydrocarbure: </span><span class="value">{{hydrocarbon_prod|intcomma}}</span></div>
	<div>&nbsp;</div>
	<div><span class="label">Reserve / Capacité minerai: </span><span class="value">{{ore|intcomma}} / {{ore_capacity|intcomma}}</span></div>
	<div><span class="label">Reserve / Capacité hydrocarbure: </span><span class="value">{{hydrocarbon|intcomma}} / {{hydrocarbon_capacity|intcomma}}</span></div>
	<div><span class="label">Consommation / Production énergie: </span><span class="value">{{energy_consumption|intcomma}} / {{energy_prod|intcomma}}</span></div>
	</div></td>
</tr>
{% endcommon %}

{% if uncommon %}
<tr class="category"><td>Radar & Orbite</td></tr>
<tr class="item">
	<td><div id="stats">
	<div><span class="label">Puissance radar: </span><span class="value">{{radar_strength}}</span></div>
	<div><span class="label">Puissance du brouillage: </span><span class="value">{{radar_jamming}}</span></div>
	<div>&nbsp;</div>
	<div><span class="label">Minerai en orbite: </span><span class="value">{{orbit_ore|intcomma}}</span></div>
	<div><span class="label">Hydrocarbure en orbite: </span><span class="value">{{orbit_hydrocarbon|intcomma}}</span></div>
	</div></td>
</tr>
{% enduncommon %}

{% if rare %}
<tr class="category"><td>Population</td></tr>
<tr class="item">
	<td><div id="stats">
	<div><span class="label">Effectif / Capacité travailleurs: </span><span class="value">{{workers}} / {{workers_cap}}</span></div>
	<div><span class="label">Effectif / Capacité scientifiques: </span><span class="value">{{scientists}} / {{scientists_cap}}</span></div>
	<div><span class="label">Effectif / Capacité soldats: </span><span class="value">{{soldiers}} / {{soldiers_cap}}</span></div>
	</div>
	</td>
</tr>
{% endrare %}		

</table>


{% if buildings %}
<br/>
<table width="800" class="default">
<tr class="title"><td colspan="2">Constructions</td></tr>

<tr class="header">
	<td>Nom</td>
	<td width="1%" nowrap>Quantité</td>
	</td>
</tr>

{% if building %}

<tr class="item">
	<td>{{building}}</td>
	<td align="center">{{qty}}</td>
</tr>
{% endfor %}
</table>

{% endbuildings %}

{% if buildings_pending %}
<br/>
<table width="800" class="default">
<tr class="title"><td colspan="2">Constructions en cours</td></tr>

<tr class="header">
	<td>Nom</td>
	<td width="1%" nowrap>Fin de construction prévue</td>
	</td>
</tr>

{% if building %}

<tr class="item">
	<td>{{building}}</td>
	<td align="center">{{endtime:d}}</td>
</tr>
{% endfor %}
</table>
{% endbuildings_pending %}

{% endplanet %}
{% endblock %}