{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<script>
function putlevel(level,levels){
	var s;

	if(levels <= 5)
		s = '<img src="{{PATH_IMAGES}}/research/level'+levels+'_'+level+'.gif" alt="Niveau '+level+'">';
	else
		s = level + '/' + levels;
	document.write(s);
}
</script>

<!-- display nation report -->

{% if spynation %}

<div class="box">
<div class="box-body title"><div class="col"> Rapport d'espionnage</div></div>
{% if spotted %}
<div><div class="col"> <br/><p class="error">Attention, nos transmissions ont été repérées et la nation {{nation}} sait que nous avons opéré pour votre compte.</p><br/></div></div>
{% endif %}

<div class="box-body category"><div class="col"> Informations au {{date}} concernant la nation {{nation}}.</div></div>
<div class="box-body item">
	<div class="col"> Agent : {% if level == 0 %}Novice{% endif %}{% if level == 1 %}Initié{% endif %}{% if level == 2 %}Agent{% endif %}{% if level == 3 %}Taupe{% endif %}<br/>
	Planètes repérées : {{nb_planet}}<br/>
	{% if credits %}Portefeuille : {{credits|intcomma}} crédits<br/>{% endif %}
	{% if researches %}Recherches connues : {{nb_research}}{% endif %}
	</div>
</div>
</div>

{% if researches %}
	<div class="box">
	<div class="box-body header"><div align="center">Recherche</div"><div align="center">Niveau</div></div>
	{% for category in categories %}
	<div class="box-body category"><div colspan=2>
	{% if category.id == 10 %}Technologies{% endif %}
	{% if category.id == 20 %}Industrie{% endif %}
	{% if category.id == 30 %}Empire{% endif %}
	{% if category.id == 40 %}Recherche{% endif %}
	{% if category.id == 50 %}Technologies militaires{% endif %}
	{% if category.id == 90 %}Vaisseaux spatiaux{% endif %}&nbsp;</div></div>
	{% for research in category.list %}<div class="box-body item"><div class="col"> {{research.research}}</div"><div align="center"><script>putlevel({{research.level}},{{research.levels}});</script></div></div>{% endfor %}
	<div class="box-body clear"><div colspan=2>&nbsp;</div></div>
	{% endfor %}
	</div>
{% endif %}

	<div width="800" class="default">
	<div class="box-body header"><div align="center">Planète</div"><div align="center" colspan=2>Superficie</div"><div align="center" colspan=2>Abondance</div"><div align="center">Vaisseaux au sol</div></div>
{% for planet in planets %}
	<div>
	<div align="center">{{planet.planet}}&nbsp;<a href="/game/map/?g={{planet.g}}&s={{planet.s}}&p={{planet.p}}" title="Localiser la planète">({{planet.g}}.{{planet.s}}.{{planet.p}})</a></div>
	<div align="right" width="1%"><img src="{{PATH_IMAGES}}/interface/floor.gif" class="icon" title="Terrain" width=16 height=16>{{planet.floor|intcomma}}</div>
	<div align="right" width="1%"><img src="{{PATH_IMAGES}}/interface/space.gif" class="icon" title="Espace" width=16 height=16>{{planet.space|intcomma}}</div>
	<div align="right" width="1%"><img src="{{PATH_IMAGES}}/interface/ore.gif" class="icon" title="Minerai" width=16 height=16>{{planet.pct_ore|intcomma}}%</div>
	<div align="right" width="1%"><img src="{{PATH_IMAGES}}/interface/hydrocarbon.gif" class="icon" title="Hydrocarbure" width=16 height=16>{{planet.pct_hydrocarbon|intcomma}}%</div>
	<div align="center"><img src="{{PATH_IMAGES}}/interface/fleets.gif" class="icon" title="Espace" width=16 height=16>{{planet.ground|intcomma}}</div>
	</div>
{% endfor %}
	</div>
{% endif %}


<!-- display planet report -->


{% if spyplanet %}

<div class="box">
<div class="box-body title"><div class="col"> Rapport d'espionnage</div></div>
{% if spotted %}
<div><div class="col"> <br/><p class="error">Attention, nos transmissions ont été repérées et la nation {{nation}} sait que nous avons opéré pour votre compte.</p><br/></div></div>
{% endif %}

<div class="box-body category"><div class="col"> Informations au {{date}} concernant la planète {{location}}.</div></div>
<div class="box-body item">
	<div class="col"> <div id="stats"><span class="label">Agent: </span><span class="value">{% if level == 0 %}Novice{% endif %}{% if level == 1 %}Initié{% endif %}{% if level == 2 %}Agent{% endif %}{% if level == 3 %}Infiltrateur{% endif %}</span></div></div>
</div>
</div>

<div width="800" class="default">
<div class="box-body category"><div class="col"> Informations générales</div></div>

<div class="box-body item">
	<div class="col"> <div id="stats">
	<div><span class="label">Nom: </span><span class="value">{{name}}</span></div>
	<div><span class="label">Localisation: </span><span class="value">{{location}}</span></div>
	<div><span class="label">Nation: </span><span class="value">{% if owner %}{{owner}}{% endif %}{% if no_owner %}aucune{% endif %}</span></div>
	<div><span class="label">Terrains: </span><span class="value">{{floor}}</span></div>
	<div><span class="label">Espace: </span><span class="value">{{space}}</span></div>
{% if uncommon %}
	<div><span class="label">Abondance minerai: </span><span class="value">{{pct_ore}}%</span></div>
	<div><span class="label">Abondance hydrocarbure: </span><span class="value">{{pct_hydrocarbon}}%</span></div>
{% endif %}
	<div><span class="label">Vaisseaux au sol (signature): </span><span class="value">{% if owner %}{{ground|intcomma}}{% endif %}{% if no_owner %}-{% endif %}</span></div>
	</div></div>
</div>

{% if common %}
<div class="box-body category"><div class="col"> Industrie</div></div>
<div class="box-body item">
	<div class="col"> <div id="stats">
	<div><span class="label">Production minerai: </span><span class="value">{{ore_prod|intcomma}}</span></div>
	<div><span class="label">Production hydrocarbure: </span><span class="value">{{hydrocarbon_prod|intcomma}}</span></div>
	<div>&nbsp;</div>
	<div><span class="label">Reserve / Capacité minerai: </span><span class="value">{{ore|intcomma}} / {{ore_capacity|intcomma}}</span></div>
	<div><span class="label">Reserve / Capacité hydrocarbure: </span><span class="value">{{hydrocarbon|intcomma}} / {{hydrocarbon_capacity|intcomma}}</span></div>
	<div><span class="label">Consommation / Production énergie: </span><span class="value">{{energy_consumption|intcomma}} / {{energy_prod|intcomma}}</span></div>
	</div></div>
</div>
{% endif %}

{% if uncommon %}
<div class="box-body category"><div class="col"> Radar & Orbite</div></div>
<div class="box-body item">
	<div class="col"> <div id="stats">
	<div><span class="label">Puissance radar: </span><span class="value">{{radar_strength}}</span></div>
	<div><span class="label">Puissance du brouillage: </span><span class="value">{{radar_jamming}}</span></div>
	<div>&nbsp;</div>
	<div><span class="label">Minerai en orbite: </span><span class="value">{{orbit_ore|intcomma}}</span></div>
	<div><span class="label">Hydrocarbure en orbite: </span><span class="value">{{orbit_hydrocarbon|intcomma}}</span></div>
	</div></div>
</div>
{% endif %}

{% if rare %}
<div class="box-body category"><div class="col"> Population</div></div>
<div class="box-body item">
	<div class="col"> <div id="stats">
	<div><span class="label">Effectif / Capacité travailleurs: </span><span class="value">{{workers}} / {{workers_cap}}</span></div>
	<div><span class="label">Effectif / Capacité scientifiques: </span><span class="value">{{scientists}} / {{scientists_cap}}</span></div>
	<div><span class="label">Effectif / Capacité soldats: </span><span class="value">{{soldiers}} / {{soldiers_cap}}</span></div>
	</div>
	</div>
</div>
{% endif %}		

</div>


{% if buildings %}
<br/>
<div width="800" class="default">
<div class="box-body title"><div colspan="2">Constructions</div></div>

<div class="box-body header">
	<div class="col"> Nom</div>
	<div width="1%" nowrap>Quantité</div>
	</div>
</div>

{% for building in buildings %}

<div class="box-body item">
	<div class="col"> {{building.building}}</div>
	<div align="center">{{building.qty}}</div>
</div>
{% endfor %}
</div>

{% endif %}

{% if buildings_pending %}
<br/>
<div width="800" class="default">
<div class="box-body title"><div colspan="2">Constructions en cours</div></div>

<div class="box-body header">
	<div class="col"> Nom</div>
	<div width="1%" nowrap>Fin de construction prévue</div>
	</div>
</div>

{% for building in buildings_pending %}

<div class="box-body item">
	<div class="col"> {{building.building}}</div>
	<div align="center">{{building.endtime}}</div>
</div>
{% endfor %}
</div>
{% endif %}

{% endif %}
{% endblock %}